<div class="multi-map-note">
  {% for location in locations %}
  <div class="map-name" onclick="viewLocationProfile({{location.id}}); return false;">
    <img src="{{location.avatar_url}}" class="avi">
    <h2 style="text-align: left">{% if location.type == 'have' and location.name != None and location.name|length %}{{ location.name }}{%else%}{{location.user_display_name}}{%endif%}</h2>
    <button class="next">&raquo;</button>
  </div>
  {% endfor %}
</div>