{% collapsewhitespace %}
<div class="place_profile">

  <div class="header">
    <img src="{{location.user.userprofile.avatar_url}}" class="avi{% if self %} self{% endif %}">
    <div class="name">
      <h2>{{user_display_name}}</h2>
      <p>{% if location.type == 'have'%}{% if location.name != None and location.name|length %}{{ location.name }}{%else%}Garden{%endif%}{%else%}Looking for a garden{%endif%}</p>
      <p>{{city_state}}</p>
    </div>
    <div>{% if not self %}<button onclick="beginMessage({{location.user.id}},{{location.id}});" class="message">Message</button>{% else %}<button onclick="mainScope.profileEditButtonClicked('{{location.uuid}}');" class="edit">Edit</button>{% endif %}</div>
  </div>

  <div class="buttons1">
  </div>
  
  <div class="profile-content">
    <h3>Location</h3>
    <div id="tiny-map" data-lat="{{location.latitude}}" data-lng="{{location.longitude}}" data-icon="{{location.map_icon_url}}"></div>

    {% if images %}
    <h3>Photos</h3>
    <div id="tiny-images-list">{% include 'images/tiny_image_list.html' %}</div>
    {% endif %}
  
    {% if location.about %}
    <h3>About this garden</h3>
    <p>{{location.about}}</p>
    {% endif %}
    
    {% if profile.about %}
    <h3>About {{user_display_name}}</h3>
    <p>{{profile.about}}</p>
    {% endif %}
        
    <h3>Experience</h3>
    <p>{{profile.get_experience_display}}</p>
    
    {% if location.type == 'need'%}
    <h3>Search Radius</h3>
    <p>{{location.get_distance_display}}</p>
    {% endif %}
    
    {% if what_i_like_to_grow %}
    <h3>Likes to grow</h3>
    <p>{% for what in what_i_like_to_grow %}<b>{{what}}</b>{%include "comma.html"%} {% endfor %}</p> 
    {% endif %}

    {#
    {% if interests %}
    <h3>Interests</h3>
    <p>{% for what in interests %}<b>{{what}}</b>{%include "comma.html"%} {% endfor %}</p>
    {% endif %}
    #}

    {% if tools_i_have %}
    <h3>Tools shared</h3>
    <p>{% for tool in tools_i_have %}<b>{{tool}}</b>{%include "comma.html"%} {% endfor %}</p>
    {% endif %}

    {% if tools_i_need %}
    <h3>Tools needed</h3>
    <p>{% for tool in tools_i_need %}<b>{{tool}}</b>{%include "comma.html"%} {% endfor %}</p>  
    {% endif %}
    
    {% if other_gardens.count > 0 %}
    <h3>{% if location.type == 'have'%}Other gardens{% else %}Gardens{% endif %}</h3>
    <ul class="gardens">
    {% for l in other_gardens %}
    <li onclick="viewLocationProfile({{l.id}});">
      <img src="{{l.avatar_url}}" class="avi">
      <span>
        {% if l.name != None and l.name|length %}{{ l.name }}{%else%}Garden{%endif%}<br>
        ({% if l.city %}{{ l.city }}, {% endif %}{{ l.state }})
      </span>
      <button class="next">&raquo;</button>
    </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if other_gardeners.count > 0 %}
    <h3>{% if location.type == 'need'%}Looking for gardens{% else %}Looking for gardens{% endif %}</h3>
    <ul class="gardens">
    {% for l in other_gardeners %}
    <li onclick="viewLocationProfile({{l.id}});">
      <img src="{{l.avatar_url}}" class="avi">
      <span>
        {% if l.name != None and l.name|length %}{{ l.name }}{%else%}Looking for a garden{%endif%}<br>
        ({% if l.city %}{{ l.city }}, {% endif %}{{ l.state }})
      </span>
      <button class="next">&raquo;</button>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
      
  </div>
</div>
{% endcollapsewhitespace %}