<div class="single-map-note">
  <div class="map-name">
    <img src="{{location.avatar_url}}" class="avi">
    <h2>{{user_display_name}}{% if location.type == 'have' and location.name != None and location.name|length %}<br>{{ location.name }}{% endif %}</h2>
    {% if back %}<button class="back" onclick="infoWindowBack();">&laquo;</button>{% endif %}
  </div>
  <div class="map-bio">
    <ul>

      <li>{% if location.type = "have" %}Has a garden to share.{%else%}Looking for a garden.{%endif%}</li>

      {% if what_i_like_to_grow %}
      <li>Likes to grow:
        {% for what in what_i_like_to_grow %}<b>{{what}}</b>{%include "comma.html"%} {% endfor %}  
      </li>
      {% endif %}

      {% if interests %}
      <li>Interests:
        {% for what in interests %}<b>{{what}}</b>{%include "comma.html"%} {% endfor %}  
      </li>
      {% endif %}

      {% if tools_i_have %}
      <li>Tools shared:
        {% for tool in tools_i_have %}<b>{{tool}}</b>{%include "comma.html"%} {% endfor %}  
      </li>
      {% endif %}

      {% if tools_i_need %}
      <li>Tools needed:
        {% for tool in tools_i_need %}<b>{{tool}}</b>{%include "comma.html"%} {% endfor %}  
      </li>
      {% endif %}

      <li>{{ distance }} from you.</li>
    </ul>
  </div>
  <div class="map-note-nav">
    <button class="profile" onclick="viewLocationProfile({{location.id}});">View Profile</button> <button onclick="beginMessage({{location.user.id}},{{location.id}});" class="message">Message</button>
  </div>
</div>