{% collapsewhitespace %}
{% load static from staticfiles %}
{% verbatim %}
<se-modal ng-if="modal.deletePlace.show">
  <div class="modal-box">
    <h2 translate translate-values="{name: modal.deletePlace.name}">MODAL.DELETE.TEXT</h2>
    <h3>{{ 'MODAL.DELETE.QUESTION' | translate }}</h3>
    <form class="full-width">
      <button class="alert" ng-click="closeModal();">{{ 'MODAL.DELETE.BUTTONS.NO' | translate }}</button>
      <button ng-click="deletePlaceConfirmed(modal.deletePlace.id);">{{ 'MODAL.DELETE.BUTTONS.YES' | translate }}</button>
    </form>
  </div>  
</se-modal>
<se-modal ng-if="modal.login.show">
  <div class="modal-box">
   
    <p>{{modal.login.message}}</p>
    <p></p>
    <h2>{{ 'MODAL.LOG_IN.TITLE' | translate }}</h2>
      <button ng-click="facebookLoginClicked();" class="facebook-login"><img ng-src="{% endverbatim %}{% static 'profiles/img/facebook-login.png' %}{% verbatim %}" width="351" height="70" alt="{{ 'MODAL.LOG_IN.FACEBOOK' | translate}}"></button>
    <form onsubmit="return false;" name="loginForm" class="full-width">
      <p>{{ 'MODAL.LOG_IN.OR' | translate }}</p>
      <input id="login-account-email" type="email" placeholder="{{ 'MODAL.LOG_IN.PLACEHOLDERS.EMAIL' | translate}}" ng-model="modal.login.email" required>
      <input id="login-account-password" type="password" placeholder="{{ 'MODAL.LOG_IN.PLACEHOLDERS.PASSWORD' | translate}}" ng-model="modal.login.password" required>
      <button ng-click="logInSubmit();">{{ 'MODAL.LOG_IN.BUTTONS.LOG_IN' | translate }}</button>
      <p ng-if="hasPlaces()"><a href="#" ng-click="closeModal(); signUp();" ng-disabled="loginForm.$invalid">{{ 'MODAL.LOG_IN.BUTTONS.SIGN_UP' | translate }}</a></p>
      <p ng-if="!hasPlaces()"><a href="#" ng-click="closeModal(); lostPassword();">{{ 'MODAL.LOG_IN.BUTTONS.FORGOT_PASSWORD' | translate }}</a></p>      
      <p ng-if="!hasPlaces()"><a href="#" ng-click="logOut();">{{ 'MODAL.LOG_IN.BUTTONS.CANCEL' | translate }}</a></p>      
    </form> 
  </div>
</se-modal>
<se-modal ng-if="modal.changePassword.show">
  <div class="modal-box">
    <div ng-if="modal.changePassword.step == 0">
      <p>{{modal.changePassword.message}}</p>
      <p></p>
      <h2>{{ 'MODAL.CHANGE_PASSWORD.TITLE' | translate }}</h2>
      <form onsubmit="return false;" name="loginForm" class="full-width">
        <p>{{ 'MODAL.CHANGE_PASSWORD.INSTRUCTIONS' | translate }}</p>
        <input id="change-password-password" type="password" placeholder="{{ 'MODAL.CHANGE_PASSWORD.PLACEHOLDERS.PASSWORD' | translate}}" ng-model="modal.changePassword.password" required>
        <button ng-click="changePasswordSubmit();">{{ 'MODAL.CHANGE_PASSWORD.BUTTONS.CHANGE_PASSWORD' | translate }}</button>
        <p ng-if="modal.changePassword.canCancel"><a href="#" ng-click="changePasswordCancel();">{{ 'MODAL.CHANGE_PASSWORD.BUTTONS.CANCEL' | translate }}</a></p>      
      </form>
    </div>
    <div ng-if="modal.changePassword.step == 1">
      <h2>{{ 'MODAL.CHANGE_PASSWORD.TITLE' | translate }}</h2>
      <p>{{ 'MODAL.CHANGE_PASSWORD.DONE' | translate }}</p>
      <form class="full-width"><button ng-click="closeModal();">{{ 'MODAL.CHANGE_PASSWORD.BUTTONS.DONE' | translate }}</button></form>
    </div>
    <div ng-if="modal.changePassword.step == 2">
      <h2>{{ 'MODAL.CHANGE_PASSWORD.TITLE' | translate }}</h2>
      <p>{{ 'MODAL.CHANGE_PASSWORD.ERRORS.EXPIRED' | translate }}</p>
      <p ng-if="modal.lostPassword.message != ''">If you need help, send an email to <a href="mailto:help@sharedearth.com?subject={{ 'Cannot recover Shared Earth password' | urlEncode}}">help@sharedearth.com</a>.</p>
      <form class="full-width"><button ng-click="closeModal(); logIn();">{{ 'MODAL.CHANGE_PASSWORD.BUTTONS.DONE' | translate }}</button></form>
    </div>
  </div>
</se-modal>
<se-modal ng-if="modal.lostPassword.show">
  <div class="modal-box">
    <div ng-if="modal.lostPassword.step == 0">
      <p>{{modal.lostPassword.message}}</p>
      <p ng-if="modal.lostPassword.message != ''">If you need help, send an email to <a href="mailto:help@sharedearth.com?subject={{ 'Lost Shared Earth password for <' + modal.lostPassword.email + '>' | urlEncode}}">help@sharedearth.com</a>.</p>
      <p></p>
      <h2>{{ 'MODAL.LOST_PASSWORD.TITLE' | translate }}</h2>
      <form onsubmit="return false;" name="loginForm" class="full-width">
        <input id="lost-password-account-email" type="email" placeholder="{{ 'MODAL.LOST_PASSWORD.PLACEHOLDERS.EMAIL' | translate}}" ng-model="modal.lostPassword.email" required>
        <button ng-click="lostPasswordSubmit();">{{ 'MODAL.LOST_PASSWORD.BUTTONS.OK' | translate }}</button>
      </form> 
      <p><a href="#" ng-click="closeModal(); logIn();">{{ 'MODAL.LOST_PASSWORD.BUTTONS.LOG_IN' | translate }}</a></p>
      <p><a href="#" ng-click="logOut();">{{ 'MODAL.LOST_PASSWORD.BUTTONS.CANCEL' | translate }}</a></p>
    </div>
    <div ng-if="modal.lostPassword.step == 1">
      <h2>{{ 'MODAL.LOST_PASSWORD.TITLE' | translate }}</h2>
      <p>{{ 'MODAL.LOST_PASSWORD.SUCCESS' | translate }}</p>
      <p><a href="#" ng-click="closeModal(); logIn();">{{ 'MODAL.LOST_PASSWORD.BUTTONS.LOG_IN' | translate }}</a></p>
      <p><a href="#" ng-click="logOut();">{{ 'MODAL.LOST_PASSWORD.BUTTONS.CANCEL' | translate }}</a></p>
    </div>    
    <div ng-if="modal.lostPassword.step == 2">
      <h2>{{ 'MODAL.LOST_PASSWORD.TITLE' | translate }}</h2>
      <p>{{ 'MODAL.LOST_PASSWORD.ERRORS.FACEBOOK' | translate }}</p>
      <button style="margin-top: 1rem; margin-bottom: 1rem" ng-click="facebookLoginClicked();" class="facebook-login"><img ng-src="{% endverbatim %}{% static 'profiles/img/facebook-login.png' %}{% verbatim %}" width="351" height="70" alt="{{ 'MODAL.LOG_IN.FACEBOOK' | translate}}"></button>
      <p><a href="#" ng-click="logOut();">{{ 'MODAL.LOST_PASSWORD.BUTTONS.CANCEL' | translate }}</a></p>
    </div>    
  </div>
</se-modal>
<se-modal ng-if="modal.signup.show">
  <div class="modal-box">
   
    <p>{{modal.signup.message}}</p>
    <p></p>
    <h2>{{ 'MODAL.SIGN_UP.TITLE' | translate }}</h2>
      <button ng-click="facebookSignupClicked();" class="facebook-login"><img ng-src="{% endverbatim %}{% static 'profiles/img/facebook-signup.png' %}{% verbatim %}" width="351" height="70" alt="{{ 'MODAL.SIGN_UP.FACEBOOK' | translate}}"></button>
    <form onsubmit="return false;" name="signupForm" class="full-width">
      <p>{{ 'MODAL.SIGN_UP.OR' | translate }}</p>
      <input id="new-account-first-name" type="text" placeholder="{{ 'MODAL.SIGN_UP.PLACEHOLDERS.FIRST_NAME' | translate}}" ng-model="modal.signup.firstname" required>
      <input id="new-account-last-name" type="text" placeholder="{{ 'MODAL.SIGN_UP.PLACEHOLDERS.LAST_NAME' | translate}}" ng-model="modal.signup.lastname" required>
      <input id="new-account-email" type="email" placeholder="{{ 'MODAL.SIGN_UP.PLACEHOLDERS.EMAIL' | translate}}" ng-model="modal.signup.email" required>
      <input id="new-account-password" type="password" placeholder="{{ 'MODAL.SIGN_UP.PLACEHOLDERS.PASSWORD' | translate}}" ng-model="modal.signup.password" required>
      <button ng-click="signUpSubmit();" ng-disabled="signupForm.$invalid">{{ 'MODAL.SIGN_UP.BUTTONS.SIGN_UP' | translate }}</button>
    </form> 
    <p><a href="#" ng-click="closeModal(); logIn();">{{ 'MODAL.SIGN_UP.BUTTONS.LOG_IN' | translate }}</a></p>
    <p><a href="#" ng-click="logOut();">{{ 'MODAL.SIGN_UP.BUTTONS.CANCEL' | translate }}</a></p>
  </div>
</se-modal>
<se-modal ng-if="modal.onboarding.show">
  <div class="modal-box onboarding">
    
    <div ng-if="activePlace().type == 'need' && modal.onboarding.step == 0">
      <p>{{ 'ONBOARDING.NEEDS_LAND.WELCOME.MESSAGE' | translate }}</p>
      
      <form class="full-width">
        <div>
          <h3>{{ 'ONBOARDING.NEEDS_LAND.WELCOME.WHAT_I_GROW_QUESTION' | translate }}</h3>
          <se-tags se-tag-type="user" se-tag-source="vegetables" se-field="what_i_like_to_grow"></se-tags>
        </div>

        <div>
          <h3>{{ 'ONBOARDING.NEEDS_LAND.WELCOME.RESPONSIBILITIES_QUESTION' | translate }}</h3>
          <select ng-model="user.responsibilities" ng-options="key as value for (key,value) in choices.responsibilities" ng-change="updateUser('responsibilities')"></select>
        </div>
        
        <div>
          <h3>{{ 'ONBOARDING.NEEDS_LAND.WELCOME.EXPERIENCE_QUESTION' | translate }}</h3>
          <select ng-model="user.experience" ng-options="key as value for (key,value) in choices.experience" ng-change="updateUser('experience')"></select>
        </div>
      </form>
      <div class="spacer"></div>
      <button class="standard" ng-click="onboardContinue(1);">{{ 'ONBOARDING.NEEDS_LAND.WELCOME.BUTTON' | translate }}</button>
    </div>
    
    <div ng-if="activePlace().type == 'need' && modal.onboarding.step == 1 && detailedMatches.length == 0">
      <p>{{ 'ONBOARDING.NEEDS_LAND.NO_MATCHES.MESSAGE' | translate }}</p>
      <div class="spacer"></div>
      <button class="standard" ng-click="onboardContinue(2);">{{ 'ONBOARDING.NEEDS_LAND.NO_MATCHES.BUTTON' | translate }}</button>
    </div>
    
    <div ng-if="activePlace().type == 'need' && modal.onboarding.step == 1 && detailedMatches.length > 0">
      <p>{{ 'ONBOARDING.NEEDS_LAND.MATCHES.MESSAGE' | translate }}</p>
      <div class="spacer"></div>
      <button class="standard" ng-click="onboardContinue(2);">{{ 'ONBOARDING.NEEDS_LAND.MATCHES.BUTTON' | translate }}</button>
    </div>

    <div ng-if="activePlace().type == 'have' && modal.onboarding.step == 0">
      <p>{{ 'ONBOARDING.HAS_LAND.WELCOME.MESSAGE' | translate }}</p>
      
      <form class="full-width">
        <div>
          <h3>{{ 'ONBOARDING.HAS_LAND.WELCOME.SIZE_QUESTION' | translate }}</h3>
          <select ng-model="activePlace().garden_size" ng-options="key as value for (key,value) in choices.garden_size" ng-change="updatePlace('garden_size')"></select><br>
        </div>
        
        <div ng-if="activePlace().type == 'have'">
          <h3>{{ 'ONBOARDING.HAS_LAND.WELCOME.STATUS_QUESTION' | translate }}</h3>
          <select ng-model="activePlace().garden_status" ng-options="key as value for (key,value) in choices.garden_status" ng-change="updatePlace('garden_status')"></select><br>
        </div>

        <div ng-if="activePlace().type == 'have'">
          <h3>{{ 'ONBOARDING.HAS_LAND.WELCOME.COMPENSATION_QUESTION' | translate }}</h3>
          <select ng-model="activePlace().compensation" ng-options="key as value for (key,value) in choices.compensationOnboarding" ng-change="updatePlace('compensation')"></select><br>
        </div>
      </form>
      <div class="spacer"></div>
      <button class="standard" ng-click="onboardContinue(1);">{{ 'ONBOARDING.HAS_LAND.WELCOME.BUTTON' | translate }}</button>
    </div>
    
    <div ng-if="activePlace().type == 'have' && modal.onboarding.step == 1 && detailedMatches.length == 0">
      <p>{{ 'ONBOARDING.HAS_LAND.NO_MATCHES.MESSAGE' | translate }}</p>
      <div class="spacer"></div>
      <button class="standard"  ng-click="onboardContinue(2);">{{ 'ONBOARDING.HAS_LAND.NO_MATCHES.BUTTON' | translate }}</button>
    </div>
    
    <div ng-if="activePlace().type == 'have' && modal.onboarding.step == 1 && detailedMatches.length > 0">
      <p>{{ 'ONBOARDING.HAS_LAND.MATCHES.MESSAGE' | translate }}</p>
      <div class="spacer"></div>
      <button class="standard" ng-click="onboardContinue(2);">{{ 'ONBOARDING.HAS_LAND.MATCHES.BUTTON' | translate }}</button>
    </div>
    
  </div>
</se-modal>


{% endverbatim %}
{% endcollapsewhitespace %}