<input type="file" multiple  id="file-input" onchange="onUpload();">

<ul id="imagelist" class="images">
  <li class="upload" onclick="$('#file-input').click();">
    <h2>+</h2>
    <p>Add photo</p>
  </li>
  
  {% if images %}
    {% for image in images %}
      <li id="image-{{image.id}}"><a class="image-list-image" data-id="{{image.id}}" href="{{image.url_large}}"><img src="{{image.url_avatar}}" alt="Image"></a></li>
    {% endfor %}

    <script>$(function(){makeFancy($('a.image-list-image'), true);});</script>    
    
  {% endif %}  

</ul>