<ul id="tiny-imagelist" class="images">
  {% if images %}
    {% for image in images %}
      <li id="image-{{image.id}}"><a class="tiny-image-list-image" data-id="{{image.id}}" href="{{image.url_large}}"><img src="{{image.url_avatar}}" alt="Image"></a></li>
    {% endfor %}

    <script>$(function(){makeFancy($('a.tiny-image-list-image'), false);});</script>    
  {% endif %}  
</ul>