{% extends 'modal.html' %}
{% load static from staticfiles %}
{% block modal_block %}
<div class="modal_delete">
  <header>
    <ul>
      <li class="logo"></li>
    </ul>
  </header>
  <h2>You are attempting to delete<br>[[location]]</h2>
  <h3>Are you sure?</h3>
  <button class="alert" onclick="closeModal();">No, I changed my mind.</button>
  <button onclick="confirmDeleteLocation('[[id]]');">Yes, Delete this entry.</button>
</div>
{% endblock  %}
