{% extends 'modal.html' %}
{% load static from staticfiles %}
{% block modal_block %}
<div class="modal_signup">
  <header>
    <ul>
      <li class="logo"></li>
    </ul>
  </header>
  
  <p>[[message]]</p>
  <img src="{% static 'profiles/img/facebook-signup-x2.png' %}">
  <p>or</p>
  <p></p>
  <h2>Log in to Shared Earth</h2>
  <form onsubmit="return false;">
    <input id="login-account-email" type="email" placeholder="Email Address" value="[[email_address]]">
    <input id="login-account-password" type="password" placeholder="Password" value="[[password]]">
    <button onclick="logInSubmit();">Log In</button>
    <p><a href="#" onclick="closeModal();return false;">Not now.</a></p>
  </form> 
</div>
{% endblock  %}
