<div class="modal_search">
  <header>
    <ul>
      <li class="logo"></li>
    </ul>
  </header>
  <div class="map-advance-search">
    <form>
      <h2>Find:</h2>
      <table>
        <tbody>
          <tr>
            <td colspan="2" class="left">
              <input type="checkbox">Gardens
            </td>
          </tr>
          <tr>
            <td colspan="2" class="left">
              <input type="checkbox">Gardeners
            </td>
          </tr>
          <tr>
            <td class="left">
              <input type="checkbox">People who have tools: 
            </td>
            <td>
              <input type="text" class="tag-input tool-tags-has">
            </td>
          </tr>
          <tr>
            <td class="left">
              <input type="checkbox">People who need tools: 
            </td>
            <td>
              <input type="text" class="tag-input tool-tags-want">
            </td>
          </tr>
          <tr>
            <td class="left">
              <input type="checkbox">people who have experience in: 
            </td>
            <td>
              <input type="text" class="tag-input experience-tags">
            </td>
          </tr>
          <tr>
            <td class="left">
              <input type="checkbox">People who like to grow: 
            </td>
            <td>
              <input type="text" class="tag-input experience-tags">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="match">
        <input type="radio" name="scope" class="scope-any" value="Any">Match Any
        <input type="radio" name="scope" class="scope-all" value="All" checked="">Match All
      </div>
      <div class="process">
        <button class="cancel">Cancel</button>
        <button class="cancel">Submit</button>
      </div>
    </form>
  </div>
</div>
