<div class="photo_options">
  <button onclick="setProfilePicture('[[id]]');" class="photo profilep">Set profile picture</button>
  <button onclick="setPlacePicture('[[location_id]]', '[[id]]');" class="photo placep">Set place picture</button>
  <button onclick="deletePicture('[[location_id]]', '[[id]]');" class="photo deletep">Delete</button>
</div>