{% extends 'modal.html' %}
{% load static from staticfiles %}
{% block modal_block %}
<div class="modal_signup">
  <header>
    <ul>
      <li class="logo"></li>
    </ul>
  </header>
  
  <p>[[message]]</p>
  <img src="{% static 'profiles/img/facebook-signup-x2.png' %}" onClick="fbq('track', 'CompleteRegistration');">
  <p>or</p>
  <p></p>
  <h2>Create an account</h2>
  <form onsubmit="return false;">
    <input id="new-account-first-name" type="text" placeholder="First Name" value="[[first_name]]">
    <input id="new-account-last-name" type="text" placeholder="Last Name" value="[[last_name]]">
    <input id="new-account-email" type="email" placeholder="Email Address" value="[[email_address]]">
    <input id="new-account-password" type="password" placeholder="Password" value="[[password]]">
    <button onclick="signUpSubmit(); fbq('track', 'CompleteRegistration');">Sign Up</button>
    <p><a href="#" onclick="closeModal();return false;">Not quite yet, I want to look around more.</a></p>
  </form> 
</div>
{% endblock  %}
