{% extends 'modal.html' %}
{% load static from staticfiles %}
{% block modal_block %}
<div class="modal_search">
  <header>
    <ul>
      <li class="logo"></li>
    </ul>
  </header>
  <div class="map-advance-search">
    <form>
      <h2>Find:</h2>
      <table>
        <tbody>
          <tr>
            <td class="left">
              People who have tools: 
            </td>
            <td width="75%">
              <input type="text" class="tag-input tool-tags-has" id="tool-tag-search">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="process">
        <button class="cancel">Cancel</button>
        <button class="cancel">Search</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}