html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 0;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  cursor: pointer;
}

.mobile > div.header, .mobile > div.subheader, main > aside > nav > ul, section.aboutme, ul.address-list, article header, #conversations-list ul, div#map-type, ul.token-input-list-sharedearth, .single-map-note, .multi-map-note {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.fade {
  transition: 0.2s;
}

body {
  color: #6D6360;
}

body {
  background-color: #F4EDE9;
}

article header {
  color: #FFFFFF;
  background-color: #40C4F2;
}

body > header {
  color: #6D6360;
  background-color: #ffffff;
}

.mobile > div.header > ul > li.selected, main > aside > nav > ul > li.selected, main > aside > nav > ul > li.selected:hover, button.standard, #mobile-conversations-list ul li div.conversation div.buttons button, article.connections div.group table td.buttons button, article.connections div.group table td.relevant-buttons button, #messages-right #messages-header button, #mobile-messages #messages-header button, #messages-right #messages-bottom form button, #mobile-messages #messages-bottom form button, div#map-type button, div.location-results-buttons button, div.location-results table button, div.connections div.group table td.buttons button, div.connections div.group table td.relevant-buttons button {
  color: #FFFFFF;
  background-color: #40C4F2;
}
.mobile > div.header > ul > li.selected g.monochrome path, main > aside > nav > ul > li.selected g.monochrome path, button.standard g.monochrome path, #mobile-conversations-list ul li div.conversation div.buttons button g.monochrome path, article.connections div.group table td.buttons button g.monochrome path, article.connections div.group table td.relevant-buttons button g.monochrome path, #messages-right #messages-header button g.monochrome path, #mobile-messages #messages-header button g.monochrome path, #messages-right #messages-bottom form button g.monochrome path, #mobile-messages #messages-bottom form button g.monochrome path, div#map-type button g.monochrome path, div.location-results-buttons button g.monochrome path, div.location-results table button g.monochrome path, div.connections div.group table td.buttons button g.monochrome path, div.connections div.group table td.relevant-buttons button g.monochrome path, .mobile > div.header > ul > li.selected rect, main > aside > nav > ul > li.selected rect, main > aside > nav > ul > li.selected:hover rect, button.standard rect, #mobile-conversations-list ul li div.conversation div.buttons button rect, article.connections div.group table td.buttons button rect, article.connections div.group table td.relevant-buttons button rect, #messages-right #messages-header button rect, #mobile-messages #messages-header button rect, #messages-right #messages-bottom form button rect, #mobile-messages #messages-bottom form button rect, div#map-type button rect, div.location-results-buttons button rect, div.location-results table button rect, div.connections div.group table td.buttons button rect, div.connections div.group table td.relevant-buttons button rect, .mobile > div.header > ul > li.selected circle, main > aside > nav > ul > li.selected circle, main > aside > nav > ul > li.selected:hover circle, button.standard circle, #mobile-conversations-list ul li div.conversation div.buttons button circle, article.connections div.group table td.buttons button circle, article.connections div.group table td.relevant-buttons button circle, #messages-right #messages-header button circle, #mobile-messages #messages-header button circle, #messages-right #messages-bottom form button circle, #mobile-messages #messages-bottom form button circle, div#map-type button circle, div.location-results-buttons button circle, div.location-results table button circle, div.connections div.group table td.buttons button circle, div.connections div.group table td.relevant-buttons button circle {
  fill: #FFFFFF;
}

article.connections div.group table td.relevant-buttons button.subtle, div.connections div.group table td.relevant-buttons button.subtle {
  color: #6D6360;
  background-color: #ffffff;
}
article.connections div.group table td.relevant-buttons button.subtle g.monochrome path, div.connections div.group table td.relevant-buttons button.subtle g.monochrome path, article.connections div.group table td.relevant-buttons button.subtle rect, div.connections div.group table td.relevant-buttons button.subtle rect, article.connections div.group table td.relevant-buttons button.subtle circle, div.connections div.group table td.relevant-buttons button.subtle circle {
  fill: #6D6360;
}

.mobile > div.header > ul > li.selected g.monochrome path, main > aside > nav > ul > li.selected g.monochrome path, .mobile > div.header > ul > li.selected rect, main > aside > nav > ul > li.selected rect, main > aside > nav > ul > li.selected:hover rect, .mobile > div.header > ul > li.selected circle, main > aside > nav > ul > li.selected circle, main > aside > nav > ul > li.selected:hover circle {
  fill: #FFFFFF;
}

.mobile > div.header > ul > li, main > aside > nav > ul > li, main > aside > nav > ul > li:hover {
  color: #6D6360;
}
.mobile > div.header > ul > li g.monochrome path, main > aside > nav > ul > li g.monochrome path, .mobile > div.header > ul > li rect, main > aside > nav > ul > li rect, main > aside > nav > ul > li:hover rect, .mobile > div.header > ul > li circle, main > aside > nav > ul > li circle, main > aside > nav > ul > li:hover circle {
  fill: #6D6360;
}

.mobile > div.header > ul > li, main > aside > nav > ul > li {
  background-color: #F9F8F2;
}

main > aside > nav > ul > li:hover {
  background-color: #CCFFF5;
}

main > aside > section {
  color: #6D6360;
}

.resources h3, .place_profile .profile-content h3, div.my-locations h2, article.mobile-choose-address h2, article form h3, form.full-width h3 {
  background-color: #F4EDE9;
  color: #6D6360;
}

#messages-right #messages-top #messages-scroller .message.from-you, #mobile-messages #messages-top #messages-scroller .message.from-you {
  background-color: #D9F3FC;
}

#messages-right #messages-top #messages-scroller .message.to-you, #mobile-messages #messages-top #messages-scroller .message.to-you {
  background-color: #F4EDE9;
}

article header p {
  font-family: 'Slabo 27px', serif;
  font-size: 24px;
  letter-spacing: 0.023em;
}

body > header > ul > li, button.standard, button.reskin.desktop span, #mobile-conversations-list ul li div.conversation div.buttons button, article.connections div.group table td.buttons button, article.connections div.group table td.relevant-buttons button, #messages-right #messages-header button, #mobile-messages #messages-header button, #messages-right #messages-bottom form button, #mobile-messages #messages-bottom form button, div#map-type button, div.location-results-buttons button, div.location-results table button, div.connections div.group table td.buttons button, div.connections div.group table td.relevant-buttons button, main > aside > nav > ul > li, main > aside > section, p.no-matches, article.connections div.group h2, div.connections div.group h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
}

div.location-results table td.distance, div.location-results table td.location, div.location-results table td.city, article.connections div.group p.explanation, article.connections div.group table p, div.connections div.group p.explanation, div.connections div.group table p, body, article form label, form.full-width label, article form p, form.full-width p, form.search-options p, div.modal-box form.full-width > div > h3, .place h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
}

article.connections div.group table h3, div.connections div.group table h3, div.location-results table td.name h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  letter-spacing: 0.023em;
  line-height: 24px;
}

div.location-results table td.distance, div.location-results table td.location, div.location-results table td.city {
  font-size: 14px;
  line-height: 16.8px;
}

.resources h3, .place_profile .header h2, .place_profile .profile-content h3, div.my-locations h2, article.mobile-choose-address h2, article form h3, form.full-width h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 21.6px;
}

#messages-right #messages-header h2, #mobile-messages #messages-header h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  letter-spacing: 0.023em;
}

.mobile > div.subheader > div#mobileTabText {
  font-family: 'Slabo 27px', serif;
  font-size: 24px;
}

#mobile-conversations-list ul li div.conversation div.top div.name {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}

/* Overall page dimensions */
/*  Size of the sidebar and the gap; right columns fill the rest */
main > aside > nav > ul > li {
  padding: 10px;
  margin-bottom: 0.41667rem;
}
main > aside > nav > ul > li span.menu-text {
  padding-left: 5px;
}

main > aside > section {
  margin-bottom: 10px;
}
main > aside > section *.avatar {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  border-radius: 21px;
  margin-right: 10px;
}

/* Size of border on bottom of page */
/* Top header dimensions */
body > header {
  margin: 0 0 0.5rem 0;
  height: 2.86rem;
}
body > header > ul > li + li {
  margin-left: 0.5rem;
}
body > header > ul > li.logo > svg {
  width: 32px;
  height: 32px;
}

/* List view */
div.location-results table button {
  width: 136.631px;
  height: 32.615px;
  box-sizing: border-box;
}
div.location-results table button svg {
  margin-left: 10.62592px;
  width: 22.75183px;
  margin-right: 7.62592px;
}

/* Map view */
div#map-type button, div.location-results-buttons button {
  width: 148px;
  height: 39.68px;
}

div#map-type {
  margin: 12.5px 12.5px 0 0;
}

/* Right side */
article header {
  height: 42.5px;
  margin-bottom: 12.75px;
  padding-left: 14.75px;
  box-sizing: border-box;
}

div.my-locations h2, article.mobile-choose-address h2, article form h3, form.full-width h3 {
  padding: 10px 0 8px 9px;
  margin: 24px 0 12px 0;
}

.resources h3 {
  padding: 10px 0 8px 9px;
  margin: 0 0 12px 0;
}

.resources .resource {
  margin: 0 0 24px 0;
}

#mobile-conversations-list ul li div.conversation div.buttons button, #messages-right #messages-header button, #mobile-messages #messages-header button {
  height: 32.615px;
  box-sizing: border-box;
  padding-right: 16px;
  margin-bottom: 6px;
}
#mobile-conversations-list ul li div.conversation div.buttons button svg, #messages-right #messages-header button svg, #mobile-messages #messages-header button svg {
  margin-left: 10.62592px;
  width: 22.75183px;
  margin-right: 7.62592px;
}

#messages-right #messages-bottom form button, #mobile-messages #messages-bottom form button {
  height: 32.615px;
  box-sizing: border-box;
  padding: 0 16px;
  margin-left: 6px;
}

article.connections div.group table .avi, div.connections div.group table .avi {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  border-radius: 21px;
  margin-right: 10px;
}

div.connections div.group table td.buttons button {
  height: 32.615px;
  box-sizing: border-box;
  margin-bottom: 6px;
  width: 140px;
}
div.connections div.group table td.buttons button svg {
  margin-left: 10.62592px;
  width: 22.75183px;
  margin-right: 7.62592px;
}
div.connections div.group table td.buttons button span:first-child {
  padding-left: 16px;
}

article.connections div.group table td.buttons button {
  height: 32.615px;
  width: 32.615px;
  box-sizing: border-box;
  margin-bottom: 6px;
}
article.connections div.group table td.buttons button svg {
  margin-left: 10.62592px;
  width: 22.75183px;
  margin-right: 7.62592px;
}
article.connections div.group table td.buttons button span {
  display: none;
}

article.connections div.group table td.relevant-buttons button, div.connections div.group table td.relevant-buttons button {
  height: 32.615px;
  box-sizing: border-box;
  margin-bottom: 6px;
  width: 100px;
  margin-right: 20px;
}
article.connections div.group table td.relevant-buttons button svg, div.connections div.group table td.relevant-buttons button svg {
  margin-left: 10.62592px;
  width: 22.75183px;
  margin-right: 7.62592px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #3093b5;
}

a:visited {
  color: #40C4F2;
}

body {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 500px;
  margin: 0;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  position: relative;
  min-width: 960px;
  margin: 0 0.5rem 0.5rem 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  max-height: calc(100% - 10px - 0.5rem - 0.5rem);
}

main > article {
  margin-left: 10px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

div.xbutton {
  position: relative;
  display: inline-block;
}
div.xbutton div {
  transition: 0.2s;
  position: absolute;
  left: 25%;
  top: 43.75%;
  width: 50%;
  height: 12.5%;
  border-radius: 1em;
}
div.xbutton div.left {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
div.xbutton div.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.xbutton.black div {
  background-color: black;
}

div.xbutton.down .left {
  transform: translate(-26.5%) rotate(45deg);
  -webkit-transform: translate(-26.5%) rotate(45deg);
}
div.xbutton.down .right {
  transform: translate(26.5%) rotate(-45deg);
  -webkit-transform: translate(26.5%) rotate(-45deg);
}

div.xbutton.left .left {
  transform: translate(0, 106.5%) rotate(45deg);
  -webkit-transform: translate(0, 106.5%) rotate(45deg);
}
div.xbutton.left .right {
  transform: translate(0, -106.5%) rotate(-45deg);
  -webkit-transform: translate(0, -106.5%) rotate(-45deg);
}

div.xbutton.invisible div {
  opacity: 0;
}

button.standard {
  padding: 8px;
}

button.reskin.desktop {
  background-color: #40C4F2;
  color: #FFFFFF;
  padding: 8px;
}
button.reskin.desktop svg.icon + span {
  padding-left: 8px;
}

.mobile.ios84 {
  height: calc(100% - 44px);
}

.mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F4EDE9;
}
.mobile div.location-results td.buttons.full {
  min-width: 32.615px;
}
.mobile div.location-results td.buttons.full button {
  width: 32.615px;
}
.mobile div.location-results td.buttons.full button span {
  display: none;
}
.mobile > div.header {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.mobile > div.header > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.mobile > div.header > ul > li {
  display: inline-block;
  height: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-right: 6px;
  cursor: pointer;
  text-align: center;
}
.mobile > div.header > ul > li svg {
  width: 28px;
  height: 28px;
}
.mobile > div.header > ul > li > div.alert-count {
  margin-left: -12px;
  margin-top: 2px;
  background: red;
  color: #fff;
  font-size: 9px;
  border: 1px solid red;
  min-width: 12px;
  height: 12px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 12px;
  padding: 3px;
  text-align: center;
  z-index: 100;
}
.mobile > div.header > ul > li:last-child {
  margin-right: 0;
}
.mobile > div.subheader {
  height: 40px;
  margin-top: 6px;
  background-color: #40C4F2;
  pointer: cursor;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.mobile > div.subheader > div#mobileTabText {
  color: white;
  line-height: 40px;
  height: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.mobile > div.main {
  z-index: 0;
  position: absolute;
  top: 92px;
  left: 0;
  bottom: 0;
  right: 0;
}
.mobile > div.main > article {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  font-size: 12pt;
  overflow: hidden;
}
.mobile > div.main div.map-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mobile > div.main > article.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0.5rem;
}
.mobile > div.main > article.top {
  z-index: 100;
}
.mobile #conversations-list {
  margin: 1rem;
}
.mobile .mobile-message-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#mobile-conversations-list ul li div.conversation {
  padding: 18px 0 10px 0;
  border-bottom: 1px solid #E8E1DD;
}
#mobile-conversations-list ul li div.conversation div.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#mobile-conversations-list ul li div.conversation div.top img.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
#mobile-conversations-list ul li div.conversation div.top div.name {
  margin-left: 16px;
}
#mobile-conversations-list ul li div.conversation div.top div.new-messages {
  background: red;
  color: #fff;
  font-size: 11px;
  border: 1px solid red;
  min-width: 14px;
  height: 14px;
  font-weight: 600;
  line-height: 14px;
  border-radius: 14px;
  padding: 4px;
  text-align: center;
  margin-left: 9px;
}
#mobile-conversations-list ul li div.conversation div.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
#mobile-conversations-list ul li div.conversation div.buttons button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: center;
}
#mobile-conversations-list ul li div.conversation div.buttons button + button {
  margin-left: 9px;
}

article.connections div.group p.explanation {
  margin-top: 20px;
}
article.connections div.group table {
  width: 100%;
}
article.connections div.group table td {
  padding: 20px 0;
  border-bottom: 1px solid #E8E1DD;
}
article.connections div.group table td.img {
  width: 42px;
}
article.connections div.group table td.buttons {
  width: 32.615px;
}
article.connections div.group table td.buttons button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
article.connections div.group table td.relevant-buttons {
  width: 100px;
}
article.connections div.group table td.relevant-buttons button {
  text-align: center;
}
article.connections div.group table td.relevant-buttons button.subtle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: left;
}
article.connections div.group + div.group {
  margin-top: 20px;
}

body > header > ul {
  width: 960px;
  height: 100%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
body > header > ul > li {
  background-color: transparent;
}
body > header > ul > li.logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
}
body > header > ul li.settings {
  width: 18px;
  background-image: url("../img/settings-white-36.png");
  background-size: 18px 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  cursor: pointer;
}
body > header > ul li.messages {
  min-width: 24px;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
}
body > header > ul li.messages svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}
body > header > ul li.messages g.monochrome path, body > header > ul li.messages rect, body > header > ul li.messages circle {
  fill: #6D6360;
}
body > header > ul img.avatar {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
}
body > header > ul .messages-count-outer {
  margin-left: -10px;
  cursor: pointer;
}
body > header > ul .messages-count {
  cursor: pointer;
  background: red;
  color: #fff;
  font-size: 11px;
  border: 1px solid red;
  border-radius: 9px;
  min-width: 9px;
  margin-bottom: 10px;
  padding: 2px;
  text-align: center;
}

main > aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 161.375px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 161.375px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 161.375px;
  -ms-flex: 0 0 161.375px;
  flex: 0 0 161.375px;
}
main > aside > nav > ul {
  cursor: pointer;
}
main > aside > nav > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
main > aside > nav > ul > li svg {
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
}
main > aside > nav > ul > li span.menu-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main > aside > nav > ul > li .alert-count {
  background: red;
  color: #fff;
  font-size: 9px;
  border: 1px solid red;
  min-width: 12px;
  height: 12px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 12px;
  padding: 3px;
  text-align: center;
}

section.aboutme {
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

ul.address-list > li {
  font-size: 10pt;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
}
ul.address-list > li > div.location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
ul.address-list > li > div.location p {
  line-height: 1.25rem;
}
ul.address-list > li > div.location > * {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
ul.address-list > li > div.location > *.avatar {
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 48px;
}
ul.address-list > li > div.location > *.address {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  height: auto;
}
ul.address-list > li > div.location > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
ul.address-list > li > div.location > button.edit {
  background-image: url("../img/edit-gray-32.png");
  background-size: 16px 16px;
  background-color: transparent;
  background-repeat: no-repeats;
  color: #797B7D;
  width: 16px;
  height: 16px;
}
ul.address-list > li > div.location > button.delete {
  background-image: url("../img/delete-gray-16.png");
  background-size: 8px 8px;
  background-position: center;
  background-repeat: no-repeat;
  color: #797B7D;
  width: 12px;
  height: 12px;
  -webkit-align-self: initial;
  -moz-align-self: initial;
  -ms-flex-item-align: initial;
  align-self: initial;
}
ul.address-list li:hover {
  background: #F2F2F2;
}
ul.address-list > li.active {
  background-color: #40C4F2;
  color: #FFFFFF;
}
ul.address-list > li.active > div.location > button.edit {
  background-image: url("../img/edit-white-32.png");
}
ul.address-list > li.active > div.location > button.delete {
  background-image: url("../img/delete-white-16.png");
}

form.address.top {
  max-width: 30rem;
  margin: 0 auto;
}

form.address.bottom {
  max-width: 20rem;
  margin: 0 auto;
}

form.address {
  font-size: 0;
}
form.address input {
  width: 100%;
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0.25rem;
}
form.address button {
  cursor: pointer;
}

/*form.bottom
{
  min-height: 12rem;
}*/
.pac-container {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

button.land {
  background-size: 48px 48px;
  background-position: center top;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border: 0;
  margin: 0;
  width: 50%;
  margin-top: 1rem;
  padding-top: calc(48px + 0.25rem);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10pt;
  cursor: pointer;
  text-align: center;
}

button.have {
  background-image: url("../img/have-land-96.png");
}

button.need {
  background-image: url("../img/need-land-96.png");
}

article {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50rem;
  -moz-box-flex: 0;
  -moz-flex: 0 1 50rem;
  -ms-flex: 0 1 50rem;
  flex: 0 1 50rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: 0.2s;
  opacity: 1;
  position: relative;
}
article header {
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
article header p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
article header div.button > svg.arrow .line {
  fill: white;
  transition: 0.2s;
}
article header div.button > svg.arrow .left {
  transform: translate(58px, 48px) rotate(-45deg);
}
article header div.button > svg.arrow .right {
  transform: translate(38px, 48px) rotate(45deg);
}
article header div.button.down > svg.arrow .left {
  transform: translate(48px, 48px) rotate(-45deg);
}
article header div.button.down > svg.arrow .right {
  transform: translate(48px, 48px) rotate(45deg);
}
article div.overlay {
  background-color: white;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(100% - 2rem - 1px);
  z-index: 200;
  opacity: 1;
}
article div.overlay.top {
  z-index: 300;
}
article div.overlay.scroller {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
article div.overlay.short {
  height: 0;
  opacity: 0;
}
article section {
  position: absolute;
  /*position: relative;    
  margin-bottom: 0;
  padding: $box-padding;
  padding: 0;
  margin-bottom: -2rem;
  height: 2rem;*/
  left: 0;
  top: 55.25px;
  bottom: 0;
  background-color: tomato;
  right: 0;
}
article section h2 {
  padding-top: 0.5rem;
  color: #797B7D;
}
article section > div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 14px;
  top: 0;
  background-color: #FFFFFF;
  color: #797B7D;
  z-index: 0;
  overflow: hidden;
}
article section > div div.overlay {
  background-color: white;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  opacity: 1;
  padding: 14px;
  box-sizing: border-box;
}
article section > div div.overlay.scroller {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
article section > div div.overlay.low {
  z-index: 50;
}
article section > div div.overlay.short {
  height: 0;
  opacity: 0;
}
article section > div.fit {
  padding: 0;
}
article section > div.messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
article section > div.messages > aside {
  width: 12rem;
}
article section > div.messages > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
article section > div.scroller {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
article section > div.selected {
  z-index: 100;
}

article + article {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30rem;
  -moz-box-flex: 0;
  -moz-flex: 0 1 30rem;
  -ms-flex: 0 1 30rem;
  flex: 0 1 30rem;
}

div.new-address {
  width: 50%;
  margin: 0 25% 1rem 25%;
  padding: 1rem 0;
}

div.padded {
  padding: 14px;
}

div.my-locations h2:first-child, article.mobile-choose-address h2:first-child {
  margin-top: 0;
}

article.mobile-choose-address {
  display: block;
}

div.mobile-choose-address div, div.mobile-choose-address h2 {
  text-align: center;
}

div.mobile article.connections h2 {
  padding-top: 1rem;
}

div.mobile article.connections table h2 {
  padding: 0;
}

div.my-locations table h2 {
  text-align: left;
}

article.gone {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0rem;
  -moz-box-flex: 0;
  -moz-flex: 0 0 0rem;
  -ms-flex: 0 0 0rem;
  flex: 0 0 0rem;
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
article.gone div.scroller {
  padding: 0;
}

#conversations-list ul > li {
  font-size: 10pt;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #E8E1DD;
}
#conversations-list ul > li > div.conversation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#conversations-list ul > li > div.conversation > * {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
#conversations-list ul > li > div.conversation > .avatar {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
}
#conversations-list ul > li > div.conversation > .name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#conversations-list ul > li > div.conversation > .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#conversations-list ul > li > div.conversation > .buttons button {
  background-color: #40C4F2;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0.25rem;
  margin: 0.125rem;
  border: 1px solid #9fe1f8;
  width: 5.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
#conversations-list ul > li > div.conversation > .buttons button svg {
  margin: 0;
  display: block;
}
#conversations-list ul > li > div.conversation > .buttons button svg path, #conversations-list ul > li > div.conversation > .buttons button svg rect {
  fill: #FFFFFF;
}
#conversations-list ul > li > div.conversation > .buttons button span {
  font-size: 80%;
  display: block;
  line-height: auto;
  vertical-align: middle;
  height: auto;
}
#conversations-list ul > li > div.conversation > .new-messages {
  background: red;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  border-radius: 18px;
  min-width: 20px;
  text-align: center;
  margin-right: 1rem;
}
#conversations-list ul > li.active {
  background-color: #40C4F2;
  color: #FFFFFF;
}

article > section > div.messages.fit {
  padding-top: 14px;
  background-color: white;
}

#mobile-messages {
  height: 100%;
}

.messages-pad-left {
  margin: 48px 14px 0 14px;
}

.messages-pad-right {
  margin: 0 14px 0 0;
}

#messages-right, #mobile-messages {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
}
#messages-right #messages-header, #mobile-messages #messages-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 48px;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
#messages-right #messages-header h2, #mobile-messages #messages-header h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 48px;
}
#messages-right #messages-header button, #mobile-messages #messages-header button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: center;
}
#messages-right #messages-header button + button, #mobile-messages #messages-header button + button {
  margin-left: 6px;
}
#messages-right #messages-top, #mobile-messages #messages-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
#messages-right #messages-top #messages-scroller, #mobile-messages #messages-top #messages-scroller {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  vertical-align: bottom;
  border: 1px solid #E8E1DD;
  overflow-y: scroll;
  font-size: 12pt;
  padding: 0 0.25rem;
}
#messages-right #messages-top #messages-scroller .message, #mobile-messages #messages-top #messages-scroller .message {
  padding: 0.25rem;
  margin-top: 0.25rem;
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  word-wrap: break-word;
}
#messages-right #messages-top #messages-scroller .message p, #mobile-messages #messages-top #messages-scroller .message p {
  padding: 0;
  margin: 0;
  font-size: 11pt;
}
#messages-right #messages-top #messages-scroller .message img.avatar, #mobile-messages #messages-top #messages-scroller .message img.avatar {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
#messages-right #messages-top #messages-scroller .message.to-you img.avatar, #mobile-messages #messages-top #messages-scroller .message.to-you img.avatar {
  margin-right: 0.5rem;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
#messages-right #messages-top #messages-scroller .message.from-you img.avatar, #mobile-messages #messages-top #messages-scroller .message.from-you img.avatar {
  margin-left: 0.5rem;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
#messages-right #messages-top #messages-scroller .message-text, #mobile-messages #messages-top #messages-scroller .message-text {
  white-space: pre-wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
#messages-right #messages-top #messages-scroller .message.to-you, #mobile-messages #messages-top #messages-scroller .message.to-you {
  text-align: left;
}
#messages-right #messages-top #messages-scroller .message.from-you, #mobile-messages #messages-top #messages-scroller .message.from-you {
  text-align: right;
}
#messages-right #messages-bottom, #mobile-messages #messages-bottom {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  margin-top: 6px;
  overflow: hidden;
}
#messages-right #messages-bottom div.shiftenter,
#messages-right #messages-bottom div.shiftenterInactive, #mobile-messages #messages-bottom div.shiftenter,
#mobile-messages #messages-bottom div.shiftenterInactive {
  position: absolute;
  z-index: 1;
  font-size: 0.8em;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#messages-right #messages-bottom div.shiftenter, #mobile-messages #messages-bottom div.shiftenter {
  display: inline-block;
}
#messages-right #messages-bottom div.shiftenterInactive, #mobile-messages #messages-bottom div.shiftenterInactive {
  display: none;
}
#messages-right #messages-bottom form, #mobile-messages #messages-bottom form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#messages-right #messages-bottom form textarea, #mobile-messages #messages-bottom form textarea {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  resize: none;
}
#messages-right #messages-bottom form textarea.mobile-textarea, #mobile-messages #messages-bottom form textarea.mobile-textarea {
  height: auto;
}
#messages-right #messages-bottom form button, #mobile-messages #messages-bottom form button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

div#map-canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.angular-google-map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.angular-google-map-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div#map-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
div#map-type label {
  display: block;
}
div#map-type button {
  text-align: center;
  box-shadow: 0px 1px 3px #888888;
}
div#map-type button + button {
  margin-top: 9.5px;
}

div.location-results-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
div.location-results-buttons button {
  text-align: center;
}
div.location-results-buttons button + button {
  margin-left: 9.5px;
  margin-bottom: 14px;
}

div.location-results table {
  width: 100%;
}
div.location-results table tbody {
  cursor: pointer;
  border-bottom: 1px solid #E8E1DD;
}
div.location-results table td.img {
  padding-left: 7px;
  padding-right: 18.3px;
  width: 73.3px;
}
div.location-results table tbody:hover {
  background: #F2F2F2;
}
div.location-results table tbody tr.top td {
  height: 45px;
  vertical-align: bottom;
}
div.location-results table tbody tr.bottom td {
  height: 45px;
  vertical-align: top;
}
div.location-results table tbody tr td.full {
  height: 90px;
  vertical-align: middle;
}
div.location-results table tr.bottom td {
  width: 25%;
}
div.location-results table td.distance, div.location-results table td.location, div.location-results table td.city {
  padding-top: 0px;
}
div.location-results table td.buttons {
  min-width: 136.631px;
  width: 10%;
  padding-right: 7px;
}
div.location-results table td.buttons div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
div.location-results table h2, div.location-results table p {
  padding: 0;
  margin: 0;
}
div.location-results table img.avi {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
div.location-results table button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
div.location-results table button + button {
  margin-top: 7px;
}

article div.location-results-buttons + form {
  margin-top: 24px;
}
article form + form {
  margin-top: 24px;
}

article form, form.full-width {
  /*input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus, select:focus
  {
    box-shadow: 0 0 5px $button-bg;
    border: 1px solid $button-bg;    
  }*/
}
article form input[type='text'], article form input[type='email'], article form input[type='password'], article form textarea, article form select, form.full-width input[type='text'], form.full-width input[type='email'], form.full-width input[type='password'], form.full-width textarea, form.full-width select {
  style: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: #797B7D;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #E8E1DD;
}
article form label, form.full-width label {
  margin-left: 20px;
}
article form label > input[type='checkbox'], article form label > input[type='radio'], form.full-width label > input[type='checkbox'], form.full-width label > input[type='radio'] {
  display: inline-block;
  margin-left: -20px;
  margin-right: 7px;
}
article form input:disabled, form.full-width input:disabled {
  background-color: #F2F2F2;
  border: 1px solid darkgray;
}
article form textarea, form.full-width textarea {
  resize: vertical;
}
article form h3, form.full-width h3 {
  display: block;
}
article form > div:first-child h3, form.full-width > div:first-child h3 {
  margin-top: 0;
}
article form > h3:first-child, form.full-width > h3:first-child {
  margin-top: 0;
}
article form label, form.full-width label {
  display: block;
  color: #6D6360;
}
article form p, form.full-width p {
  display: block;
}
article form h3 + p, form.full-width h3 + p {
  margin-bottom: 12px;
}
article form ul.photos, form.full-width ul.photos {
  margin-bottom: -20px;
}
article form ul.photos li, form.full-width ul.photos li {
  padding: 20px 20px 20px 0;
  display: inline-block;
}
article form ul.photos li .img, form.full-width ul.photos li .img {
  width: 120px;
  height: 120px;
  background-size: cover;
  display: inline-block;
}

/* Example tokeninput style #2: sharedearth style */
ul.token-input-list-sharedearth {
  color: #797B7D;
  overflow: hidden;
  height: auto !important;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #E8E1DD;
  cursor: text;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  min-height: 1px;
  z-index: 999;
  margin: 0;
  padding: 2px;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}
ul.token-input-list-sharedearth li input {
  border: none;
  padding: 0.25rem 0.25rem;
  margin: 0.25rem 0;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  -webkit-appearance: caret;
}
ul.token-input-list-sharedearth li.token-input-token-sharedearth {
  overflow: hidden;
  height: auto !important;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #F4EDE9;
  color: #6D6360;
  font-size: 0.8rem;
  float: left;
  white-space: nowrap;
  cursor: default;
  margin-top: 0.45rem;
}
ul.token-input-list-sharedearth li.token-input-selected-token-sharedearth {
  background-color: #40C4F2;
  color: #FFFFFF;
}
ul.token-input-list-sharedearth li.token-input-token-sharedearth p {
  display: inline;
  padding: 0;
  margin: 0;
  color: #797B7D;
}
ul.token-input-list-sharedearth li.token-input-token-sharedearth span {
  color: #6D6360;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}
ul.token-input-list-sharedearth li.token-input-selected-token-sharedearth span {
  color: #FFFFFF;
}
ul.token-input-list-sharedearth li.token-input-selected-token-sharedearth p {
  color: #FFFFFF;
}
ul.token-input-list-sharedearth li.token-input-input-token-sharedearth {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.token-input-dropdown-sharedearth {
  position: absolute;
  width: auto;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
}

div.token-input-dropdown-sharedearth p {
  margin: 0;
  padding: 5px;
  font-weight: 600;
  color: #797B7D;
}

div.token-input-dropdown-sharedearth ul {
  margin: 0;
  padding: 0;
  line-height: 98%;
}

div.token-input-dropdown-sharedearth ul li {
  background-color: #fff;
  padding: 3px;
  margin: 0;
  list-style-type: none;
  font-weight: 400;
  color: #797B7D;
}

div.token-input-dropdown-sharedearth ul li b {
  font-weight: 600;
}

div.token-input-dropdown-sharedearth ul li.token-input-dropdown-item-sharedearth {
  background-color: #fff;
}

div.token-input-dropdown-sharedearth ul li.token-input-dropdown-item2-sharedearth {
  background-color: #fff;
}

div.token-input-dropdown-sharedearth ul li em {
  font-weight: bold;
  font-style: normal;
}

div.token-input-dropdown-sharedearth ul li.token-input-selected-dropdown-item-sharedearth {
  background-color: #40C4F2;
  color: #FFFFFF;
}

.place_profile button {
  background-color: #40C4F2;
  color: #FFFFFF;
  padding: 0.5rem;
}
.place_profile button.back {
  font-size: 22px;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  display: inline-block;
  float: left;
}
.place_profile button.message {
  font-size: 11px;
  line-height: 24px;
  background-color: #40C4F2;
  background-image: url(../img/messages-white-36.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 10% center;
  padding: 0px 10px 0px 30px !important;
}
.place_profile .buttons1 {
  position: absolute;
  right: calc(2rem + 323px);
  top: calc(200px - 12px);
}
.place_profile .buttons2 {
  position: absolute;
  right: calc(2rem + 323px);
}
.place_profile .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.place_profile .header h2 {
  margin: 0;
  padding: 0;
}
.place_profile .header h2 + p {
  margin: 0;
  padding: 0;
}
.place_profile .header p {
  font-size: 12pt;
}
.place_profile .header img.avi {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 10px;
  border: 6px solid #fcccb2;
}
.place_profile .header img.avi.self {
  border: 6px solid #40C4F2;
}
.place_profile .header div.name {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5 0 100px;
  -moz-box-flex: 0.5;
  -moz-flex: 0.5 0 100px;
  -ms-flex: 0.5 0 100px;
  flex: 0.5 0 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.place_profile .header div.name * {
  padding: 0.2rem;
}
.place_profile .header div.name h2 {
  text-align: left;
}
.place_profile .profile-content {
  margin-top: 1rem;
}
.place_profile .profile-content div#tiny-map {
  min-width: 150px;
  height: 200px;
  margin: 0.5rem 0.5rem 1.0rem 0.5rem;
}
.place_profile .profile-content h3 {
  padding: 0.25rem;
}
.place_profile .profile-content p {
  font-size: 11pt;
  padding: 0.25rem;
  margin: 0.25rem;
}
.place_profile .profile-content p + h3 {
  margin-top: 1.0rem;
}
.place_profile .profile-content b {
  font-weight: 600;
}
.place_profile ul.gardens + h3 {
  margin-top: 1rem;
}
.place_profile ul.gardens {
  font-size: 11pt;
}
.place_profile ul.gardens li {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.place_profile ul.gardens li span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.place_profile ul.gardens li button {
  font-size: 22px;
  text-transform: uppercase;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 15px 0 0 0px;
  display: block;
}
.place_profile ul.gardens li + li {
  border-top: 1px solid #D0D2D3;
  padding-top: 0.5rem;
}
.place_profile ul.gardens img.avi {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-right: 0.5rem;
}

form.search-options p {
  color: #6D6360;
  padding: 12px 0 0 0;
}
form.search-options .tags {
  padding: 12px 0;
}
form.search-options div.spacer {
  height: 12px;
}

.resources h3 {
  display: block;
}
.resources .resource h4 {
  font-size: 12pt;
  display: block;
  margin-bottom: 5px;
}
.resources .resource p {
  font-weight: 400;
  font-size: 11pt;
}
.resources .resource a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12pt;
  color: #3093b5;
  display: block;
  margin: 5px 0 10px 0;
}
.resources .resource a:visited {
  color: #3093b5;
}

div.connections div.group p.explanation {
  margin-top: 20px;
}
div.connections div.group table {
  width: 100%;
}
div.connections div.group table td {
  padding: 20px 0;
  border-bottom: 1px solid #E8E1DD;
}
div.connections div.group table td.img {
  width: 42px;
}
div.connections div.group table td.buttons {
  width: 140px;
}
div.connections div.group table td.buttons button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
div.connections div.group table td.relevant-buttons {
  width: 100px;
}
div.connections div.group table td.relevant-buttons button {
  text-align: center;
}
div.connections div.group table td.relevant-buttons button.subtle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: left;
}
div.connections div.group + div.group {
  margin-top: 20px;
}

div#modal {
  z-index: 1000;
}

div#modal_hide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
}

div#modal_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
}
div#modal_content > div {
  display: table;
  width: 100%;
  height: 100%;
}
div#modal_content > div > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
div#modal_content > div > div > div {
  margin: 0 auto !important;
  box-shadow: 0 0 20px #333;
}
div#modal_content > div > div > div header ul {
  padding-left: 0.5rem;
}

div.modal-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 12pt;
  height: auto;
  overflow: hidden;
  -webkit-animation: show-modal 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: show-modal 1s;
  /* Firefox < 16 */
  -ms-animation: show-modal 1s;
  /* Internet Explorer */
  -o-animation: show-modal 1s;
  /* Opera < 12.1 */
  animation: show-modal 1s;
  box-sizing: border-box;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #FFFFFF;
  color: #797B7D;
  border-top: 0.5rem solid #40C4F2;
  border-bottom: 0.5rem solid #00AB4F;
}
div.modal-box p {
  padding: 0.25rem;
}
div.modal-box p + p {
  margin-top: 1rem;
}
div.modal-box h2 {
  margin-bottom: 2rem;
}
div.modal-box form.full-width {
  width: 80%;
  margin: auto;
}
div.modal-box form.full-width button {
  font-size: 12pt;
  color: #FFFFFF;
  background: #40C4F2;
  padding: 6px;
  display: block;
  margin: 8px auto 20px;
  width: 100%;
  text-align: center;
}
div.modal-box form.full-width > div > h3 {
  background-color: #FFFFFF;
  color: #797B7D;
}
div.modal-box form.full-width input {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
div.modal-box div.spacer {
  height: 1rem;
}
div.modal-box button.facebook-login {
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  width: auto;
  margin: 0 auto;
  max-width: 80%;
}
div.modal-box button.facebook-login img {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
}

@keyframes show-modal {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
/* Firefox < 16 */
@-moz-keyframes show-modal {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes show-modal {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
/* Internet Explorer */
@-ms-keyframes show-modal {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
/* Opera < 12.1 */
@-o-keyframes show-modal {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
div.modal_signup {
  width: 400px;
  background-color: white;
  margin: 0 auto;
}
div.modal_signup img:nth-of-type(1) {
  width: 200px;
  height: auto;
  margin: 10px auto;
  display: block;
}
div.modal_signup img:nth-of-type(2) {
  width: 240px;
  height: auto;
  margin: 20px auto 10px;
  display: block;
}
div.modal_signup h2 {
  text-align: center;
  font-size: 24px;
}
div.modal_signup p {
  text-align: center;
  font-size: 13px;
}
div.modal_signup form input {
  width: 240px;
  font-size: 16px;
  padding: 6px;
  display: block;
  margin: 6px auto;
}
div.modal_signup button {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #40C4F2;
  padding: 6px;
  display: block;
  margin: 8px auto 20px;
  padding: 0px 10px 0px 10px;
}
div.modal_signup p a {
  color: #3093b5;
  padding-bottom: 20px;
  display: block;
}

div.modal_delete {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 1rem;
}
div.modal_delete header {
  margin-bottom: 40px;
}
div.modal_delete h2 {
  text-align: center;
  font-size: 24px;
  padding: 0 1rem;
}
div.modal_delete h3 {
  text-align: center;
  font-size: 20px;
  margin: 30px 0;
}
div.modal_delete p {
  text-align: center;
  font-size: 13px;
  padding: 10px 20px;
}
div.modal_delete button {
  font-size: 16px;
  color: #FFFFFF;
  background: #40C4F2;
  padding: 6px;
  display: block;
  margin: 8px auto 20px;
  width: 80%;
}
div.modal_delete button.alert {
  background: #cc0000;
}

html.no-js > body > main, html.no-js > body > header {
  visibility: hidden;
}
html.no-js > body noscript {
  font-weight: bold;
  visibility: visible;
  display: block;
  font-size: 12pt;
  background-color: #FF6347;
  color: #FFFFFF;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 16pt;
  text-align: center;
}
html.no-js > body noscript a, html.no-js > body noscript a:visited {
  color: #FF0;
}

html.js noscript {
  display: none;
}

.photo_options {
  text-align: center;
  margin: 0 -200px 0 -200px;
}
.photo_options button {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 6px 2px 6px;
}

div.unstyled {
  margin: 0;
  padding: 0;
}

.single-map-note {
  background: white;
  width: 280px;
  padding: 20px;
  padding-right: 0;
  color: #797B7D;
  overflow: hidden;
}
.single-map-note div.map-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.single-map-note img.avi {
  width: 30px;
  height: 30px;
  margin: 0 6px 0 0;
  display: block;
  border-radius: 15px;
}
.single-map-note h2 {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.single-map-note button.message {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  background-image: url(../img/messages-white-36.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 93% center;
  color: white;
  padding: 0px 30px 0px 10px;
  margin: 3px 0 0 6px;
}
.single-map-note button.profile {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 3px 0 0 0px;
}
.single-map-note .map-bio {
  clear: both;
  padding: 10px 0px 10px 15px;
}
.single-map-note li {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
}
.single-map-note .bio-profile {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  float: right;
  margin-top: 20px;
}
.single-map-note .map-bio a, .single-map-note .map-bio a:visited {
  color: #3093b5;
}
.single-map-note .map-note-nav {
  text-align: center;
}
.single-map-note b {
  font-weight: 600;
}
.single-map-note button.back {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 2px 0 0 0px;
  display: block;
  float: right;
}

.multi-map-note {
  background: white;
  width: 300px;
  margin: 20px;
  padding: 0px 0px;
  color: #797B7D;
  display: block;
}
.multi-map-note .map-name {
  display: block;
  width: 230px;
  clear: both;
  padding: 10px 20px;
  height: 30px;
  border-bottom: 1px solid #D0D2D3;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.multi-map-note .map-name h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.multi-map-note .map-name:last-child {
  border: 0;
}
.multi-map-note .map-name:hover {
  background: #efefef;
}
.multi-map-note img.avi {
  width: 30px;
  height: auto;
  margin: 0 6px 0 0;
  display: block;
  border-radius: 30px;
}
.multi-map-note h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  margin: 0 0 10px 20px;
}
.multi-map-note .map-name h2 {
  font-size: 14px;
  display: block;
}
.multi-map-note button.next {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 2px 0 0 0px;
  display: block;
}

.place {
  background: white;
  padding: 20px;
}
.place .avi {
  width: 64px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 32px;
}
.place h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14pt;
  line-height: 64px;
  color: #797B7D;
  display: inline-block;
  width: 100%;
}
.place p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: #797B7D;
  line-height: 1.25rem;
  margin-bottom: 10px;
}
.place button.message {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  background-image: url(../img/messages-white-36.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 93% center;
  color: white;
  padding: 0px 30px 0px 10px;
  margin: 20px 0 0 6px;
  float: right;
}
.place button.profile {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 20px 0 0 0px;
  float: right;
}
.place .profile-content {
  clear: both;
  display: block;
  margin: 20px 0 0 32px;
  box-sizing: border-box;
}
.place h3 {
  display: block;
  background-color: #F2F2F2;
  color: #797B7D;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}
.place .places-col {
  display: inline-block;
  width: 50%;
}
.place .places-col .place {
  display: block;
  width: 100%;
  margin: 10 0px;
  clear: both;
}
.place .places-col .place .avi {
  width: 32px;
  height: auto;
}
.place .places-col .place h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12pt;
  line-height: 32px;
}
.place .stack {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  margin-bottom: 10px;
}
.place .stack h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: block;
  background-color: #F2F2F2;
  color: #797B7D;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
}
.place .stack p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #797B7D;
  line-height: 1.25rem;
  margin-bottom: 10px;
  padding: 6px;
}
.place .stack a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #40C4F2;
  line-height: 1.25rem;
  margin-bottom: 10px;
}
.place .options div:nth-of-type(even) {
  margin-left: 1%;
}
.place .options div:nth-of-type(odd) {
  margin-right: 1%;
}
.place .fix-200 {
  height: 200px;
}
.place b {
  font-weight: 600;
}
.place div#tiny-map {
  position: relative;
  width: 49%;
  height: 200px;
  float: right;
}
.place ul.photos li {
  padding: 0.25rem;
  display: inline-block;
}
.place ul.photos li .img {
  width: 120px;
  height: 120px;
  background-size: cover;
  display: inline-block;
}

.map-advance-search {
  background: white;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}
.map-advance-search h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14pt;
  margin-bottom: 20px;
}
.map-advance-search table {
  width: 100%;
}
.map-advance-search table td {
  line-height: 40px;
  vertical-align: middle;
}
.map-advance-search table td.left {
  width: 300px;
}
.map-advance-search .tag-input {
  display: block;
  color: #797B7D;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  height: 36px;
  padding: 0;
  margin: 5px 0 10px 0;
  width: 100%;
}
.map-advance-search .match {
  line-height: 40px;
}
.map-advance-search .scope-all {
  margin-left: 20px;
}

div.modal_search {
  width: 800px;
  background-color: white;
  margin: 0 auto;
}
div.modal_search h2 {
  font-size: 24px;
}
div.modal_search p {
  text-align: center;
  font-size: 13px;
  padding: 10px 20px;
}
div.modal_search button {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 24px;
  background-color: #40C4F2;
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 3px 5px 0 0px;
}
div.modal_search .process {
  text-align: right;
}
