{% collapsewhitespace %}
{% load static from staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shared Earth | The Largest Community Garden on the Planet!</title>
  <meta name="description" content="">

  {% compress css inline %}
  <link rel="stylesheet" href="{% static 'homepage/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
  {% endcompress %}
  {% compress js inline %} 
  <script src="{% static 'homepage/js/vendor/modernizr-2.6.2.min.js' %}"></script>
  <script src="{% static 'homepage/js/vendor/froogaloop.js' %}"></script>
  <script src="{% static 'angular/js/libraries/jquery-2.1.4.js' %}"></script>
  <script src="{% static 'angular/js/libraries/js.cookie.js' %}"></script>
  <script src="{% static 'homepage/js/homepage.js' %}"></script>
  {% endcompress %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Slab:300,400" rel="stylesheet">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    // Insert Your Facebook Pixel ID below. 
    fbq('init', '221300428612417');
    fbq('track', 'PageView');
    </script>
    <!-- Insert Your Facebook Pixel ID below. --> 
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=221300428612417&amp;ev=PageView&amp;noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>

<header class="header">
  <nav>
	 <span><img src="{% static 'homepage/img/logo.png' %}" id="logo" alt="Shared Earth"></span>
	 <span class="hide-mobile"><a href="#howitworks">How it Works</a></span>
   <span class="hide-mobile"><a href="#signup">Sign Up</a></span>
   <span class="hide-mobile"><a href="/app/0/map/0/0/login" onclick="document.location.href = '/app/0/map/0/0/login';">Log In</a></span>
   <span class="hide-mobile"><a href="http://www.sustainableamerica.org/" target="_blank"><img src="{% static 'homepage/img/sa-toplogo.png' %}" id="presentedby" alt="Presented by Sustainable America"></a></span>
	</nav>
</header>

<div id="overlay" onclick="pauseVideo()">
  <div>
    <div class="embed-wrap"><div class="embed-margin"><div class='embed-container'><iframe src='https://player.vimeo.com/video/131261693?api=1&player_id=embedded_video' webkitAllowFullScreen mozAllowFullScreen allowFullScreen frameborder='0' id="embedded_video"></iframe></div></div></div>
  </div>
</div>

<div id="welcome" class="panel">

  {% if city %}
  <h1>{{copy|safe}}</h1>

  <div id="local-img"><a href="#signup"><img src="{% static 'homepage/img/local/'|add:city|add:'.png' %}"></a></div>
  {% endif %}

	<h1 id="signup">Connecting landowners with gardeners and farmers</h1>
	<div id="garden-links">
	
    <div class="address"> <!-- onsubmit="return false;"> -->
      <p id="error" style="font-size: 16px; font-weight: 700; margin-bottom:1rem; padding-bottom: 0;"></p>
      <input class="address-autocomplete" id="addressField" type="text" placeholder="Enter your street address to begin">
      <p style="font-size:12px; margin: -15px auto 0 auto; max-width: 1000px; padding: 0" >We will never share your address without your permission. View our <a href="/privacy" target="_blank">privacy policy</a>.</p>
      
      <div class="buttons">
        <button class="need land" onclick="newLocation('need');">I Need Land<br>or Tools</button>
        <button class="have land" onclick="newLocation('have');">I Have Land<br>or Tools to Share</button>
      </div>
      <p style="font-size:16px; font-weight: 600; cursor: pointer;" onclick="document.location.href = '/app/0/map/0/0/login';">Already have an account? <u>Log in or Retrieve Password</u></p>
   </div>
         

		<div style="clear:both;"></div>
             <p style="font-size:16px; font-weight: 600;">Scroll down to learn more.</p>
			<a href="#howitworks" class="nextlink"><img src="{% static 'homepage/img/next.png' %}" alt="next" class="nexter"></a>

	</div>
	<div style="clear:both;"></div>
</div>

<div id="howitworks" class="panel">
  <h1>How it works</h1>
  <div id="playvideo">
    <img src="{% static 'homepage/img/arrow.png' %}" alt="How Shared Earth works" id="playvideobutton">
  </div>
  
  <div style="clear:both;"></div>
      <a href="#helpus" class="nextlink"><img src="{% static 'homepage/img/next.png' %}" alt="next" class="nexter"></a>
  </div>
  
  <div style="clear:both;"></div>
</div>

<div id="helpus" class="panel">
	<h1>Help us make better use of the planet, one plot at a time.</h1>

  <div>
	<div id="thirds">
	<div class="third">
	<img src="{% static 'homepage/img/land-is-everywhere.png' %}" alt="Land is everywhere">
	<h2>Land is everywhere</h2>
	<p>There are over 40 million acres of unproductive land in residential backyards and commercial properties and over 19 million abandoned properties across the U.S. Let’s start using them! Discover available plots of land and gardeners or farmers and start growing food together.</p>
	</div>
	<div class="third mid">
	<img src="{% static 'homepage/img/find-your-match.png' %}" alt="Find your match">
	<h2>Find your match</h2>
	<p>Shared Earth connects people who have land, with people who want to garden or farm. Search listings and message with nearby gardeners or landowners to get started on your next garden!</p>
	</div>
	<div class="third">
	<img src="{% static 'homepage/img/enjoy-the-fruits.png' %}" alt="Enjoy the fruits of your labor">
	<h2>Enjoy the fruits of your labor</h2>
	<p>Not only will you enjoy fresh, local food— you will make a difference in our food system, create communities and raise awareness around local food and health.</p>
	</div>
	</div>
	
  <div style="clear:both;"></div>
      <a href="#success-stories" class="nextlink"><img src="{% static 'homepage/img/next.png' %}" alt="next" class="nexter"></a>
  </div>
  
  <div style="clear:both;"></div>
</div>
  	
<div id="success-stories" class="panel">
	<h1>The Shared Earth community gets bigger every day.</h1>
	
	<div id="testimonial">
		<div id="test-img">
			<img src="{% static 'homepage/img/adam.png' %}" alt="Adam in Austin">
		</div>
		<div id="test-copy">
			<h2>Adam<br/><span class="smh2">Austin, TX</span></h2>
			<p>“It was just a rough patch of land when we started. Now there is a vibrant garden growing. Lauren’s mother is a gardener and she loves to garden, she just didn’t have the land for one.  I love fresh fruits and vegetables, but don’t have the patience or time to tend to it.
We came up with a great plan and now have a productive garden that is beautiful and lush. Thanks for everything!”</p>
		</div>
    <div style="clear:both;"></div>
    <a href="#sign-up" class="nextlink"><img src="{% static 'homepage/img/next.png' %}" alt="next" class="nexter"></a>
	</div>

</div>

<div id="sign-up" class="panel">
  <div>
  <h1>Sign up today</h1>
  <p>Join the land-sharing movement.</p>
  <a href="#signup"><span class="button">Get Started</span></a>
  	
	<a href="#sustainable-america" class="nextlink"><img src="{% static 'homepage/img/next.png' %}" alt="next" class="nexter"></a>
	</div>
</div>

<div id="sustainable-america" class="panel">
  <h1>Presented by Sustainable America</h1>
  <p>Shared Earth is a project of <a href="http://sustainableamerica.org/" target="_blank">Sustainable America</a>, a 501(c)(3) non-profit organization with the mission to make America’s food and fuel systems more efficient and resilient. Sustainable America supports initiatives like Shared Earth that encourage local food production, increased access to healthy food and reduced energy use.</p>
  <a href="http://www.sustainableamerica.org/#learn" target="_blank"><span class="button">Learn More & Subscribe</span></a>
  <a href="http://sustainableamerica.org/" target="_blank"><img src="{% static 'homepage/img/sustainableamerica-big.png' %}" id="sustain-full" alt="Sustainable America"></a>
</div>

{% compress js inline %} 
<script src="{% static 'homepage/js/plugins.js' %}"></script>
<script src="{% static 'homepage/js/main.js' %}"></script>
<script src="{% static 'homepage/js/jquery.popeasy.js' %}"></script>
<script src="{% static 'homepage/js/site.js' %}"></script>
<script src="{% static 'profiles/js/google-analytics.js' %}"></script>
{% endcompress %}

<script>
{% if city %}
var cityName = '{{city}}'; 
{% else %}
var cityName = 'nonlocalized';
{% endif %}
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    installAutocomplete();
    $("#mmenu").hide();
    $(".mtoggle").click(function() {
        $("#mmenu").slideToggle(500);
    });
});

</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBF1n-ZnvOzewmkqUTbHEMrxPmdU0mVI7Y"></script>

    </body>
</html>
{% endcollapsewhitespace %}