# nginx-uwsgi.conf

daemon off;

#Heroku dynos have at least 4 cores.
worker_processes <%= ENV['NGINX_WORKERS'] || 4 %>;

events {
  worker_connections  1024;  ## Default: 1024
}

http {
    upstream django {
        server 127.0.0.1:<%= ENV['DJANGO_BACKEND_PORT'] || 8987 %>;
    }

    upstream websockets {
        server 127.0.0.1:<%= ENV['REALTIME_BACKEND_PORT'] || 8988 %>;
    }

    log_format l2met 'measure#nginx.service=$request_time request_id=$http_x_request_id';
    access_log logs/nginx/access.log l2met;
    error_log logs/nginx/error.log;

    # Must read the body in 5 seconds.
    client_body_timeout 5;

    # configuration of the server
    server {
        charset     utf-8;
        # the port your site will be served on
        listen      <%= ENV["PORT"] %>;

        # max upload size
        client_max_body_size 75M;   # adjust to taste
        # add_header X-Frame-Options SAMEORIGIN;  # Prevent embedding in frames from other sites; Django handles this for us

        # Send websocket requests to the websocket server
        location /ws {
            proxy_pass http://websockets;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";    
        }
        
        # Finally, send everything else to the Django server.
        location / {
            gzip on;
            gzip_comp_level 1;
	    gzip_proxied any;
	    gzip_types application/json;
            # gzip_min_length 512;
            
            port_in_redirect off;
            
            proxy_pass http://django;
            proxy_http_version 1.1;
	    proxy_buffering off;
            
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host      $http_host;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-Server $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;             
            
            keepalive_timeout 30s;
        }
    }
}