{% collapsewhitespace %}
{% verbatim %}
  <div ng-controller="NewAddressController" class="mobile-address">
    <h2 ng-if="!activePlaceId">{{ 'MY_LOCATIONS.ADD_A_PLACE.TITLE.HAS_NO_PLACES' | translate }}</h2>
    <h2 ng-if="activePlaceId">{{ 'MY_LOCATIONS.ADD_A_PLACE.TITLE.HAS_PLACES' | translate }}</h2>
    <form class="address top" id="lookup" onsubmit="return false;">
      <input id="addressField" class="address-autocomplete" type="text" placeholder="{{ 'MY_LOCATIONS.ADD_A_PLACE.ADDRESS_PLACEHOLDER' | translate }}" ng-model="newAddress.field">
    </form>
    <form class="address bottom" onsubmit="return false;">
      <button class="need land" ng-click="newLocation('need');" translate>MY_LOCATIONS.ADD_A_PLACE.BUTTONS.NEED_LAND</button>
      <button class="have land" ng-click="newLocation('have');" translate>MY_LOCATIONS.ADD_A_PLACE.BUTTONS.HAVE_LAND</button>
    </form>
  </div>

  <h2>{{ 'MY_LOCATIONS.CHOOSE_A_PLACE.TITLE' | translate }}</h2>
  <div id="locations-list"><se-my-places-list></se-my-places-list></div>
{% endverbatim %}
{% endcollapsewhitespace %}