{% collapsewhitespace %}
{% verbatim %}
<div id="conversations-list">
  <div ng-if="conversations.length">
    <ul>
      <li ng-repeat="conversation in conversations | orderBy:'-highestMessageID'" ng-class="{'active' : conversation.id === currentConversationID}" ng-click="selectConversation(conversation.id)">
        <div class="conversation">
          <img class="avatar" ng-src="{{conversation.avatar_url}}">
          <div class="name">{{conversation.name}}</div>
          <div class="new-messages" ng-if="conversation.newMessageCount">{{ conversation.newMessageCount }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>          
{% endverbatim %}
{% endcollapsewhitespace %}