{% collapsewhitespace %}
{% verbatim %}

<div class="group" ng-if="connectionRequests.length">
  <h2>{{ 'CONNECTIONS.PENDING_TITLE' | translate }}</h2>
  <p class="explanation">{{ 'CONNECTIONS.PENDING_EXPLANATION' | translate }}</p>
  <table class="location-results">
      <tr ng-repeat="connection in connectionRequests">
        <td class="relevant-buttons">
          <button ng-click="sendConnectionRequest(connection); $event.stopPropagation();" class="profile"><span>{{ 'CONNECTIONS.CONFIRM_BUTTON' | translate }}</span></button>
          <button ng-click="cancelConnectionRequest(connection); $event.stopPropagation();" class="profile"><span>{{ 'CONNECTIONS.DENY_BUTTON' | translate }}</span></button>
        </td>
        <td class="img">
          <img ng-src="{{ getConnectionAvatarUrl(connection) }}" class="avi">
        </td>
        
        <td class="name">
          <h3>{{ getConnectionName(connection) }}</h3>
          <p>{{ getConnectionType(connection) }}</p>
        </td>
        <td class="buttons">
          <button ng-click="showProfileByUser(connection); $event.stopPropagation();"><se-icon icon-name="profile"></se-icon><span>{{ 'MATCH_LIST.VIEW_PROFILE' | translate }}</span></button>
          <button ng-click="beginMessage(connection); $event.stopPropagation();" class="message"><se-icon icon-name="messages"></se-icon><span>{{ 'CONNECTIONS.MESSAGE' | translate }}</span></button>
        </td>
      </tr>
  </table>
  <p ng-if="!connectionsLoading && pendingConnections.length == 0" style="font-size:11pt; text-align: center; margin: 1rem;">{{ 'CONNECTIONS.NO_PENDING_CONNECTIONS' | translate }}</p>
</div>

<div class="group" ng-if="connections.length || (sentConnectionRequests.length == 0 && connectionRequests.length == 0)">
  <h2 ng-if="connections.length">{{ 'CONNECTIONS.CONFIRMED_TITLE' | translate }}</h2>
  <table class="location-results" ng-if="connections.length">
      <tr ng-repeat="connection in connections">
        <td class="relevant-buttons">
          <button ng-click="cancelConnectionRequest(connection); $event.stopPropagation();" class="subtle"><se-icon icon-name="x"></se-icon><span>{{ 'CONNECTIONS.DELETE' | translate }}</span></button>
        </td>
        <td class="img">
          <img ng-src="{{getConnectionAvatarUrl(connection)}}" class="avi">
        </td>
        
        <td class="name">
          <h3>{{ getConnectionName(connection) }}</h3>
          <p>{{ getConnectionType(connection) }}</p>
        </td>
        
        <td class="buttons">
          <button ng-click="showProfileByUser(connection); $event.stopPropagation();"><se-icon icon-name="profile"></se-icon><span>{{ 'MATCH_LIST.VIEW_PROFILE' | translate }}</span></button>
          <button ng-click="beginMessage(connection); $event.stopPropagation();" class="message"><se-icon icon-name="messages"></se-icon><span>{{ 'CONNECTIONS.MESSAGE' | translate }}</span></button>
        </td>
      </tr>
  </table>
  <p ng-if="!connectionsLoading && connections.length == 0" style="font-size:11pt; text-align: center; margin: 1rem;">{{ 'CONNECTIONS.NO_CONNECTIONS' | translate }}</p>
</div>

<div class="group" ng-if="sentConnectionRequests.length">
  <h2>{{ 'CONNECTIONS.SENT_TITLE' | translate }}</h2>
  <table class="location-results">
      <tr ng-repeat="connection in sentConnectionRequests">
        <td class="relevant-buttons">
          <button ng-click="cancelConnectionRequest(connection); $event.stopPropagation();" class="subtle"><se-icon icon-name="x"></se-icon><span>{{ 'CONNECTIONS.CANCEL' | translate }}</span></button>
        </td>
        <td class="img">
          <img ng-src="{{ getConnectionAvatarUrl(connection) }}" class="avi">
        </td>
        
        <td class="name">
          <h3>{{ getConnectionName(connection) }}</h3>
        </td>
        
        <td class="buttons">
          <button ng-click="showProfileByUser(connection); $event.stopPropagation();"><se-icon icon-name="profile"></se-icon><span>{{ 'MATCH_LIST.VIEW_PROFILE' | translate }}</span></button>
          <button ng-click="beginMessage(connection); $event.stopPropagation();" class="message"><se-icon icon-name="messages"></se-icon><span>{{ 'CONNECTIONS.MESSAGE' | translate }}</span></button>
        </td>
      </tr>
  </table>
  <p ng-if="!connectionsLoading && pendingConnections.length == 0" style="font-size:11pt; text-align: center; margin: 1rem;">{{ 'CONNECTIONS.NO_PENDING_CONNECTIONS' | translate }}</p>
</div>

{% endverbatim %}
{% endcollapsewhitespace %}