{% collapsewhitespace %}
{% verbatim %}
<div class="messages fit" ng-class="{selected : mainTab == 'messages'}">
  <div ng-if="conversations.length==0" style="text-align: center; width: 100%;">
    <p style="font-size: 11pt; padding: 1rem">{{ 'MESSAGES.NO_MESSAGES' | translate }}</p>
  </div>
  
  <aside class="scroller messages-pad-left" ng-if="conversations.length">
    <se-conversations></se-conversations>
  </aside>
  
  <div id="messages-right" class="messages-pad-right" ng-if="currentConversation != null">        
    <div id="messages-header">
      <h2>{{ 'MESSAGES.DESKTOP.CONVERSATION_HEADER' | translate:{ name: currentConversation.name } }}</h2>
      <button ng-click="sendConnectionRequest(currentConversation.userID)" ng-if="!connectedTo(currentConversation.userID)"><se-icon icon-name="connections" icon-size="24px"></se-icon><span>{{ 'MESSAGES.DESKTOP.CONNECT_BUTTON' | translate }}</span></button>
      <button ng-click="showProfileByUser(currentConversation.userID)"><se-icon icon-name="profile" icon-size="24px"></se-icon><span>{{ 'MESSAGES.DESKTOP.VIEW_PROFILE_BUTTON' | translate }}</span></button>
    </div>
    
    <div id="messages-top">
      <div id="messages-scroller" scroll-glue>
        <!--<div id="more-messages" ng-if="currentConversation.display_offset != 0">Loading more messages...</div>-->
        <div single-message ng-repeat="message in currentConversation.messages | startFrom: currentConversation.display_offset"></div>              
      </div>
    </div>
    
    <div id="messages-bottom">
      <form ng-controller="NewMessageController" ng-submit="sendMessage()">
        <textarea rows="2" id="message-textarea" ng-enter="sendMessage()" ng-model="messageText" ng-attr-placeholder="{{ 'MESSAGES.DESKTOP.PLACEHOLDER_MESSAGE' | translate:{name: currentConversation.name} }}"></textarea>
        <button ng-disabled="sendInProgress"><span>{{ 'MESSAGES.DESKTOP.SEND_BUTTON' | translate }}</span></button>
      </form>
    </div>
  </div>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}