{% collapsewhitespace %}
{% verbatim %}
<dd class="scroller" id="about_my_place">

<div class="location-results-buttons">
  <button ng-click="activateAddressSelection()">{{ 'MY_LOCATIONS.BUTTON' | translate }}</button>
</div>

<form id="edit-location-details" data-location-id="{{activePlace().num_id}}">

  <p ng-if="activePlace().type =='have'">{{ 'EDIT_PROFILE.HEADER.HAVE_GARDEN' | translate:{address : activePlace().formatted_address} }}</p>
  <p ng-if="activePlace().type =='need'">{{ 'EDIT_PROFILE.HEADER.NEED_GARDEN' | translate:{address : activePlace().formatted_address} }}</p>

  <div ng-if="activePlace().type =='have'"> 
    <h3>{{ 'EDIT_PROFILE.GARDEN_NAME.TITLE' | translate }}</h3>
    <input type="text" id="location-name" maxlength="32" placeholder="{{'EDIT_PROFILE.GARDEN_NAME.PLACEHOLDER' | translate}}" ng-model="activePlace().name" ng-blur="updatePlace('name')">
  </div>

  <div>
    <h3>{{ 'EDIT_PROFILE.PHOTOS.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.PHOTOS.TEXT' | translate }}</p>
    <div id="images-list">
      <input type="file" multiple id="file-input" onchange="globalOnUpload();">
      <ul id="imagelist" class="images">
        <li class="upload" onclick="$('#file-input').click();">
          <h2>+</h2>
          <p>{{ 'EDIT_PROFILE.PHOTOS.ADD_PHOTO' | translate }}</p>
        </li>
        
        <li ng-repeat="image in activePlace().images" id="image-{{image.id}}">
          <a class="image-list-image" href="{{image.url_large}}" se-fancybox se-editable>
            <img ng-src="{{image.url_avatar}}" alt="Image">
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div ng-if="activePlace().type == 'have'">
    <h3>{{ 'EDIT_PROFILE.ABOUT_MY_GARDEN.TITLE' | translate }}</h3>
    <textarea rows="5" ng-attr-placeholder="{{ 'EDIT_PROFILE.ABOUT_MY_GARDEN.PLACEHOLDER' | translate }}" ng-model="activePlace().about" ng-blur="updatePlace('about')"></textarea>
  </div>

  <div ng-if="activePlace().type == 'need'">
    <h3>{{ 'EDIT_PROFILE.MAX_DISTANCE.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.MAX_DISTANCE.TEXT' | translate }}</p>
    <select ng-model="activePlace().distance" ng-options="key as value for (key,value) in choices.distances" ng-change="updatePlace('distance')"></select><br>
  </div>
  
  <div>
    <h3>{{ 'EDIT_PROFILE.ABOUT_ME.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.ABOUT_ME.TEXT' | translate }}</p>
    <textarea rows="5" ng-attr-placeholder="{{ 'EDIT_PROFILE.ABOUT_ME.PLACEHOLDER' | translate }}" ng-model="user.about" ng-blur="updateUser('about')"></textarea>
  </div>

  <div>
    <h3>{{ 'EDIT_PROFILE.WHAT_I_LIKE_TO_GROW.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.WHAT_I_LIKE_TO_GROW.TEXT' | translate }}</p>
    <se-tags se-tag-type="user" se-tag-source="vegetables" se-field="what_i_like_to_grow"></se-tags>
  </div>

  <div>
    <h3>{{ 'EDIT_PROFILE.YEARS_EXPERIENCE.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.YEARS_EXPERIENCE.TEXT' | translate }}</p>
    <select ng-model="user.experience" ng-options="key as value for (key,value) in choices.experience" ng-change="updateUser('experience')"></select><br>
  </div>

  <div ng-if="activePlace().type == 'have'">
    <h3>{{ 'EDIT_PROFILE.COMPENSATION.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.COMPENSATION.TEXT' | translate }}</p>
    <select ng-model="activePlace().compensation" ng-options="key as value for (key,value) in choices.compensation" ng-change="updatePlace('compensation')"></select><br>
  </div>

  <div ng-if="activePlace().type == 'have'">
    <h3>{{ 'EDIT_PROFILE.GARDEN_SIZE.TITLE' | translate }}</h3>
    <select ng-model="activePlace().garden_size" ng-options="key as value for (key,value) in choices.garden_size" ng-change="updatePlace('garden_size')"></select><br>
  </div>

  <div ng-if="activePlace().type == 'have'">
    <h3>{{ 'EDIT_PROFILE.GARDEN_STATUS.TITLE' | translate }}</h3>
    <select ng-model="activePlace().garden_status" ng-options="key as value for (key,value) in choices.garden_status" ng-change="updatePlace('garden_status')"></select><br>
  </div>

  <div ng-if="activePlace().type == 'need'">
    <h3>{{ 'EDIT_PROFILE.GARDENER_RESPONSIBILITIES.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.GARDENER_RESPONSIBILITIES.TEXT' | translate }}</p>
    <select ng-model="user.responsibilities" ng-options="key as value for (key,value) in choices.responsibilities" ng-change="updateUser('responsibilities')"></select><br>
  </div>
  
  <div>
    <h3>{{ 'EDIT_PROFILE.TOOLS_I_HAVE.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.TOOLS_I_HAVE.TEXT' | translate }}</p>
    <se-tags se-tag-type="location" se-tag-source="tools" se-field="tools_i_have"></se-tags>
  </div>
  
  <div>
    <h3>{{ 'EDIT_PROFILE.TOOLS_I_NEED.TITLE' | translate }}</h3>
    <p>{{ 'EDIT_PROFILE.TOOLS_I_NEED.TEXT' | translate }}</p>
    <se-tags se-tag-type="location" se-tag-source="tools" se-field="tools_i_need"></se-tags>
  </div>
      
  <div style="height:150px"></div>

</form>
</dd>
{% endverbatim %}
{% endcollapsewhitespace %}