{% collapsewhitespace %}
{% verbatim %}
<header>
  <ul>
    <li class="logo" ng-click="setMainTab('map');"><se-icon icon-name="logo-text"></se-icon></li>
    
    <li ng-if-start="user.is_logged_in" ng-click="setMainTab('profile');" style="cursor: pointer"><img class="avatar" id="tiny_avatar" ng-src="{{user.avatar_url}}"></li>
    <li class="user" ng-click="setMainTab('profile');" style="cursor: pointer">{{user.display_name}} {{user_email_on_messages}}</li>
    <li class="messages" ng-click="setMainTab('messages');" ng-class="{hidden : conversations.length == 0}">
      <se-icon icon-name="messages"></se-icon>
    </li>
    <li ng-if-end="user.is_logged_in" class="messages-count-outer" ng-click="setMainTab('messages');" ng-if="unreadMessageCount">
      <div class="messages-count">{{unreadMessageCount}}</div>
    </li>
  </ul>
</header>
{% endverbatim %}
{% endcollapsewhitespace %}