{% collapsewhitespace %}
{% verbatim %}
<svg viewBox="0 0 25 25" overflow="inherit">
  <g ng-if="iconName=='messages'" class="monochrome">
    <path d="M17.59,17.43c-0.82,2.45,1.55,4.87,0.35,4.67c-1.02-0.17-2.89-1.45-4.3-3.34c-0.52,0.07-1.05,0.12-1.6,0.12c-5.28,0-9.55-3.47-9.55-7.75c0-4.28,4.28-7.75,9.55-7.75c5.27,0,9.55,3.47,9.55,7.75C21.59,13.73,20,16.02,17.59,17.43z"/>
  </g>
  
  <g ng-if="iconName=='profile'" class="monochrome">
    <path d="M16.43,13.06c-1.04,0.93-2.4,1.51-3.9,1.51c-1.5,0-2.86-0.58-3.91-1.51c-2.89,1.44-4.89,4.42-4.89,7.86h17.58C21.32,17.47,19.32,14.49,16.43,13.06z"/>
    <circle cx="12.53" cy="8.68" r="4.34"/>
  </g>
  
  <g ng-if="iconName=='resources'" class="monochrome">
    <path d="M22.42,10.2c0-0.66-0.52-1.19-1.18-1.22c0,0,0,0,0-0.01h-5.67l-1.9-5.7l0,0c-0.16-0.5-0.62-0.86-1.17-0.86c-0.58,0-1.07,0.41-1.19,0.95l0,0L9.45,8.97H3.88c-0.01,0-0.02,0-0.03,0c-0.68,0-1.23,0.55-1.23,1.23c0,0.37,0.17,0.7,0.43,0.93c0,0,0,0-0.01,0.01l4.77,3.66l-1.77,5.68c-0.07,0.16-0.12,0.33-0.12,0.51c0,0.68,0.55,1.23,1.22,1.23c0.28,0,0.53-0.1,0.74-0.25c0,0,0,0,0.01,0.01l4.63-3.55l4.46,3.43c0.22,0.22,0.53,0.37,0.87,0.37c0.68,0,1.22-0.55,1.22-1.23c0-0.15-0.03-0.29-0.08-0.42H19l-1.8-5.75l4.7-3.63l0,0C22.22,10.96,22.42,10.6,22.42,10.2z"/>
  </g>

  <g ng-if="iconName=='settings'" class="monochrome">
    <path d="M20.81,13.07l1.84-0.88c-0.05-1.28-0.33-2.5-0.82-3.62l-2.04,0.01l-1.73-2.17l0.47-1.99c-0.99-0.73-2.13-1.29-3.35-1.62l-1.27,1.6h-2.77L9.87,2.8C8.65,3.14,7.52,3.69,6.52,4.42l0.46,1.99L5.26,8.58L3.21,8.57c-0.48,1.12-0.77,2.34-0.82,3.62l1.85,0.88l0.61,2.71l-1.28,1.59c0.59,1.1,1.38,2.08,2.31,2.9l1.84-0.89l2.5,1.2l0.45,1.99c0.6,0.11,1.22,0.17,1.86,0.17c0.63,0,1.25-0.06,1.85-0.17l0.45-1.99l2.5-1.2l1.84,0.9c0.94-0.81,1.72-1.79,2.32-2.9l-1.28-1.6L20.81,13.07z M12.52,16.8c-2.32,0-4.2-1.88-4.2-4.2c0-2.32,1.88-4.2,4.2-4.2s4.2,1.88,4.2,4.2C16.72,14.92,14.84,16.8,12.52,16.8z"/>    
  </g>

  <g ng-if="iconName=='map'" class="monochrome">
    <path d="M12.52,0c-4.3,0-7.79,3.49-7.79,7.8c0,6.54,7.79,17.2,7.79,17.2s7.8-10.66,7.8-17.2C20.32,3.49,16.83,0,12.52,0z M12.53,11.29c-1.6,0-2.9-1.3-2.9-2.89c0-1.6,1.29-2.89,2.9-2.89c1.59,0,2.89,1.29,2.89,2.89S14.12,11.29,12.53,11.29z"/>
  </g>

  <g ng-if="iconName=='connections'" class="monochrome">
    <path d="M12.04,13.96c-0.89,0.8-2.06,1.29-3.34,1.29c-1.28,0-2.45-0.49-3.34-1.29c-2.39,1.22-4.04,3.7-4.04,6.57h14.76C16.08,17.65,14.43,15.18,12.04,13.96z"/>
    <circle cx="8.7" cy="10.25" r="3.64"/>
    <circle cx="17.46" cy="8.96" r="3.14"/>
    <path d="M20.51,12.26c-0.8,0.74-1.87,1.2-3.05,1.2s-2.25-0.46-3.05-1.2c-0.42,0.23-0.81,0.5-1.16,0.82c1.81,1.1,3.12,2.79,3.76,4.75h6.82C23.83,15.42,22.48,13.34,20.51,12.26z"/>
  </g>

  <g ng-if="iconName=='list'" class="monochrome">
    <rect x="6.9" y="4.97" width="15.3" height="2.39"/>
    <rect x="6.9" y="11.42" width="12.98" height="2.4"/>
    <rect x="6.9" y="17.87" width="15.3" height="2.4"/>
    <circle cx="3.15" cy="6.16" r="1.32"/>
    <circle cx="3.15" cy="12.61" r="1.32"/>
    <circle cx="3.15" cy="19.07" r="1.32"/>
  </g>
  
  <g ng-if="iconName=='logo' || iconName=='logo-text'">
    <path fill="#FFFFFF" d="M10.94,23.28c-1.69-0.14-3.31-0.52-4.61-1.13c-1.95-0.8-3.74-1.99-5.25-3.55
      c-2.75-2.84-4.31-6.59-4.39-10.54l-0.04-1.82l1.82,0.1c1.47,0.09,2.91,0.38,4.31,0.89h0.23c1.51-2.83,4.36-4.88,7.7-5.42
      c0.14-0.03,0.3-0.05,0.46-0.06c0.18-0.02,0.28-0.04,0.39-0.04c0.3-0.03,0.62-0.04,0.94-0.04c0.43,0,0.88,0.03,1.39,0.09l0.24,0.04
      c3.34,0.48,6.2,2.45,7.75,5.23c1.5-0.47,3.04-0.71,4.64-0.71l1.77,0.06l0.02,1.66c-0.14,8.19-6.68,14.9-14.86,15.28
      c0,0-0.63,0.04-0.72,0.04L10.94,23.28z"/>
  </g>

  <g ng-if="iconName=='logo' || iconName=='logo-text'">
    <path fill="#45C3F2" d="M9.43,9.49c0.01-0.01,0.01-0.04,0.01-0.06h0.01c0.14,0.04,0.09-0.3-0.04-0.34c-0.3-0.1-0.6-0.2-0.9-0.3
      C8.5,8.77,8.46,8.8,8.44,8.82C8.32,9.14,8.31,9.58,8.61,9.81C8.94,10.04,9.27,9.76,9.43,9.49z"/>
    <path fill="#9BCA4E" d="M4.4,12.5c0,0.51,0.05,1,0.14,1.47c0.42,0.39,0.85,0.87,1.37,1.1c0.65,0.28,1.74,0.44,1.55-0.59
      c-0.01-0.05-0.03-0.11-0.04-0.19c-0.06-0.39-1.51-0.54-1.65-1.43c-0.11-0.73,0.2-1.42,0.99-1.38c0.19,0.16,0.37,0.34,0.56,0.52
      c0.03,0.03,0.14,0.13,0.25,0.25c-0.01,0-0.01-0.01-0.03-0.03c-0.95-0.99-2.03-1.8-3.19-2.46c0.15,0.09,0.3,0.18,0.44,0.27
      C4.54,10.81,4.4,11.64,4.4,12.5z"/>
    <path fill="#9BCA4E" d="M11.37,20.29c0.05,0.43,0.08,0.86,0.09,1.3c-4.55-0.53-8.1-4.4-8.1-9.09c0-1.04,0.18-2.05,0.51-2.99
      C4.01,9.6,4.15,9.67,4.29,9.75c-1.8-1-3.8-1.58-5.89-1.71c0.06,3.52,1.46,6.86,3.92,9.4c2.43,2.51,5.68,3.99,9.15,4.19
      C11.45,21.18,11.42,20.72,11.37,20.29z"/>
    <path fill="#9BCA4E" d="M7.27,16.25c-0.16,1.05,0.28,2,0.96,3.13c0.84,0.52,1.76,0.9,2.76,1.09c0.15-0.05,0.28-0.1,0.38-0.19
      c-0.23-2-0.9-3.92-1.95-5.63c-0.62,0.04-1,0.06-1.53,0.49C7.39,15.22,7.06,15.78,7.27,16.25z"/>
    <path fill="#0EAB4E" d="M3.36,12.5c0,4.69,3.55,8.55,8.1,9.09c-0.01-0.44-0.04-0.87-0.09-1.3c0,0,0,0,0-0.01
      c-0.11,0.08-0.23,0.14-0.38,0.19c-1-0.19-1.93-0.57-2.76-1.09c-0.68-1.13-1.12-2.08-0.96-3.13c-0.19-0.47,0.13-1.04,0.62-1.11
      c0.53-0.43,0.91-0.46,1.53-0.5l0,0c-0.11-0.18-0.23-0.35-0.34-0.53l0,0c-0.13-0.15-0.25-0.33-0.38-0.49l0,0
      c-0.13-0.18-0.27-0.34-0.39-0.51l0,0c-0.14-0.17-0.28-0.33-0.42-0.48l0,0c-0.1-0.11-0.2-0.23-0.32-0.34
      c-0.13-0.13-0.24-0.23-0.25-0.25c-0.18-0.18-0.37-0.36-0.56-0.52c-0.79-0.04-1.1,0.65-0.99,1.38c0.14,0.89,1.58,1.04,1.65,1.43
      c0.01,0.08,0.02,0.14,0.04,0.19c0.19,1.04-0.9,0.87-1.55,0.59c-0.52-0.23-0.95-0.71-1.37-1.1c-0.09-0.48-0.14-0.98-0.14-1.48
      c0-0.86,0.14-1.69,0.38-2.46c-0.15-0.09-0.3-0.18-0.46-0.27C4.3,9.77,4.29,9.76,4.26,9.76C4.12,9.68,3.98,9.61,3.84,9.53
      C3.54,10.44,3.36,11.46,3.36,12.5z"/>
    <path fill="#45C3F2" d="M15.97,11.15c0.8-0.79,1.66-1.46,2.58-2.04c-0.01-0.11-0.04-0.23-0.07-0.3c-0.09-0.2-0.22-0.49-0.42-0.61
      c-0.25-0.14-0.18-0.11-0.43-0.16c-0.08,0-0.14,0.01-0.21,0.01c-0.49-0.75-0.39-0.93,0.3-0.56c0.09,0.06,0.14,0.01,0.15-0.08
      c0.04-0.27-0.02-0.68,0.2-0.82c0.6,0.56,1.1,1.22,1.51,1.93c0.3-0.16,0.62-0.3,0.95-0.44c-1.57-2.81-4.56-4.74-8.01-4.74
      c-3.59,0-6.69,2.08-8.19,5.08c0.32,0.15,0.62,0.32,0.91,0.51c0.7-1.43,1.81-2.64,3.18-3.43C8.62,5.48,8.8,5.48,8.99,5.48
      c0.29,0,1.94,0.29,1.36,0.76c-0.3,0.24-0.76,0.41-0.71,0.87C9.65,7.19,9.67,7.26,9.7,7.33C9.66,7.42,9.61,7.5,9.6,7.61
      C9.52,7.86,9.54,8.25,9.69,8.48c0.11,0.15,0.38,0.04,0.49-0.04c0.23-0.13,0.42-0.32,0.54-0.56c0.03-0.05,0.04-0.1,0.05-0.15
      c0.28-0.03,0.54-0.08,0.82-0.05c0.63,0.05,0.43,0.95,0.15,1.31c-0.15,0.19-0.35,0.33-0.54,0.48c-0.52-0.05-1.05,0.17-1.2,0.7
      c-0.09,0.29-0.1,0.6-0.09,0.89c-0.1,0.18-0.2,0.37-0.32,0.56c-0.14,0.23-0.3,0.42-0.51,0.57c0.68,0.81,1.28,1.69,1.77,2.6
      c0.71,0.14,1.43,0.33,2.14,0.48C13.74,13.75,14.74,12.37,15.97,11.15z M16.02,5.98c0.51,0.43-1.24,1.57-1.49,1.67
      c-0.75,0.29-1.15-1.01-1.51-1.65C13.82,5.62,15.38,5.41,16.02,5.98z"/>
    <path fill="#9BCA4E" d="M26.54,8c-1.95,0-3.81,0.41-5.51,1.14c0.4,1.04,0.65,2.17,0.65,3.36c0,5.01-4.04,9.09-9.02,9.15l0,0h0.1
      c7.58,0,13.76-6.1,13.89-13.65C26.6,8.01,26.57,8,26.54,8z"/>
    <path fill="#9BCA4E" d="M14.43,17.21c0.32-0.36,1.36-1.55,0.51-1.72c-0.11-0.01-0.47-0.08-0.68-0.05c0.52-1,1.17-1.91,1.9-2.75
      c-1.5,1.67-2.58,3.71-3.13,5.97c0.08-0.29,0.15-0.58,0.24-0.86C13.68,17.95,14.16,17.5,14.43,17.21z"/>
    <path fill="#9BCA4E" d="M20.47,10.94c-0.09-0.47-0.21-0.91-0.38-1.34c0.3-0.16,0.61-0.3,0.93-0.44c-0.84,0.37-1.62,0.8-2.36,1.31
      c0.05,0.28,0.13,0.53,0.3,0.66C19.38,11.43,20.12,11.33,20.47,10.94z"/>
    <path fill="#0EAB4E" d="M21.67,12.5c0-1.18-0.23-2.32-0.65-3.36h-0.01c-0.32,0.14-0.63,0.29-0.93,0.44
      c0.17,0.43,0.29,0.87,0.38,1.34c-0.36,0.39-1.08,0.49-1.51,0.19c-0.18-0.13-0.26-0.38-0.3-0.66l0,0c-0.23,0.15-0.46,0.32-0.67,0.49
      c0,0-0.01,0-0.01,0.01c-0.66,0.52-1.27,1.09-1.83,1.71l0,0c-0.75,0.84-1.38,1.75-1.9,2.75c0.21-0.03,0.57,0.04,0.68,0.05
      c0.84,0.18-0.19,1.37-0.51,1.72c-0.26,0.29-0.75,0.72-1.15,0.57c-0.09,0.28-0.16,0.57-0.24,0.86c0,0.03-0.01,0.05-0.03,0.09
      c-0.03,0.13-0.05,0.25-0.08,0.37c-0.01,0.08-0.03,0.15-0.05,0.23c-0.03,0.1-0.04,0.22-0.06,0.33c-0.03,0.17-0.05,0.35-0.08,0.53
      c-0.01,0.08-0.01,0.15-0.03,0.22c-0.01,0.14-0.03,0.28-0.04,0.42c0,0.06-0.01,0.14-0.01,0.2c-0.01,0.2-0.03,0.4-0.03,0.62
      C17.63,21.58,21.67,17.5,21.67,12.5z"/>
  </g>
  
  <g ng-if="iconName=='logo-text'">
    <path fill="#6D6360" d="M38.97,12.69c0-0.14,0-0.26-0.02-0.41c-0.07-1.4-0.75-2.43-2.23-2.43c-0.55,0-1.12,0.09-1.49,0.53
      c-0.3,0.37-0.43,0.82-0.43,1.31c0,1.06,1.05,1.46,1.9,1.75l1.54,0.59c0.71,0.25,1.27,0.48,1.88,0.92c0.66,0.46,0.87,0.99,1.08,1.74
      c0.09,0.32,0.12,0.71,0.12,1.05c0,1.02-0.3,1.72-0.76,2.27c-0.78,1.15-2.25,1.4-3.27,1.4c-1.21,0-2.34-0.3-2.98-1.4v1.19h-1.99
      v-4.41h2.09c0,1.52,0.59,3,2.32,3c1.13,0,2.08-0.59,2.08-1.83c0-1.24-0.91-1.59-1.88-1.96l-1.63-0.62
      c-0.85-0.3-1.51-0.57-2.15-1.21c-0.57-0.58-0.83-1.37-0.83-2.18c0-1.16,0.5-2.02,0.78-2.41c0.53-0.74,1.53-1.28,2.98-1.28
      c1.1,0,2.31,0.25,2.95,1.28V8.51h1.98v4.18H38.97z"/>
    <path fill="#6D6360" d="M42.11,21.2V19.7h1.21V9.8h-1.21V8.29h3.56v4.7c0.66-1.04,1.46-1.45,2.7-1.45c0.78,0,1.72,0.23,2.25,0.83
      c0.57,0.64,0.66,1.42,0.66,2.24v5.09h1.19v1.51h-4.7V19.7h1.15v-4.24c0-0.35-0.03-0.73-0.09-1.08c-0.05-0.67-0.6-1.22-1.3-1.22
      c-0.85,0-1.33,0.44-1.61,1.2c-0.27,0.66-0.25,1.31-0.25,2v3.33h1.15v1.51H42.11z"/>
    <path fill="#6D6360" d="M59.11,19.7c-0.53,1.19-1.67,1.72-2.94,1.72c-1.31,0-2.59-0.74-2.8-1.72c-0.2-0.62-0.22-0.94-0.22-1.23
      c0-0.8,0.32-1.6,0.93-2.13c0.46-0.43,1.52-0.8,2.15-0.82c0.44-0.02,0.92-0.09,1.36-0.09c0.43,0,0.85,0.05,1.28,0.07
      c0.12-1.13-0.04-2.55-1.51-2.55c-1.03,0-1.53,0.71-1.51,1.7h-2.34c0.05-2.31,1.77-3.12,3.85-3.12c1.47,0,2.86,0.39,3.49,1.84
      c0.14,0.32,0.18,0.51,0.23,0.89c0.05,0.41,0.07,0.8,0.07,1.21v4.24h1.22v1.49h-3.26V19.7z M57.82,16.84
      c-1.21,0-2.31,0.28-2.31,1.72c0,0.73,0.48,1.32,1.24,1.32c1.72,0,2.13-1.65,2.18-3.04H57.82z"/>
    <path fill="#6D6360" d="M66.33,13.77c0.37-1.65,1.49-2.32,3.14-2.17v2.31c-0.26-0.07-0.55-0.14-0.83-0.14
      c-0.87,0-1.63,0.53-1.93,1.33c-0.23,0.64-0.23,1.51-0.23,2.17v2.43h1.51v1.51h-5.11V19.7h1.24v-6.42h-1.24v-1.51h3.46V13.77z"/>
    <path fill="#6D6360" d="M72.46,16.97c-0.02,1.35,0.55,2.91,2.16,2.91c0.94,0,1.6-0.64,1.76-1.55h2.25
      c-0.16,2.07-2.21,3.09-4.13,3.09c-0.6,0-1.42-0.2-1.97-0.44c-0.62-0.29-1.03-0.64-1.43-1.19c-0.75-0.96-1.03-2.2-1.03-3.39
      c0-2.59,1.47-4.86,4.33-4.86c1.26,0,2.45,0.33,3.32,1.26c0.76,0.82,0.99,2.15,1.05,3.21c0.02,0.29,0,0.91,0,0.96H72.46z
       M76.38,15.6c-0.02-1.07-0.44-2.59-1.79-2.59c-1.49,0-1.97,1.35-2.08,2.59H76.38z"/>
    <path fill="#6D6360" d="M86.57,19.7c-0.76,1.22-1.75,1.68-2.92,1.72c-1.6-0.04-2.59-0.78-3.16-1.72c-0.33-0.55-0.69-1.51-0.69-3.42
      c0-2.41,1.1-4.73,3.83-4.73c1.15,0,2.15,0.42,2.8,1.4V9.8H85.2V8.29h3.59v11.4h1.22v1.51h-3.44V19.7z M86.02,14.18
      c-0.34-0.6-0.96-1.06-1.67-1.06c-1.74,0-2.07,2.04-2.07,3.39c0,1.37,0.32,3.32,2.06,3.32c1.83,0,2.13-2.02,2.13-3.44
      C86.46,15.65,86.39,14.82,86.02,14.18z"/>
    <path fill="#6D6360" d="M94.24,21.2v-1.6h1.47v-9.5h-1.47v-1.6h10.5v3.88h-1.95V10.1h-4.64v3.87H100v-1.65h1.68v4.84H100v-1.6
      h-1.86v4.04h4.64v-2.45h1.95v4.04H94.24z"/>
    <path fill="#6D6360" d="M111.69,19.7c-0.53,1.19-1.67,1.72-2.95,1.72c-1.31,0-2.59-0.74-2.8-1.72c-0.2-0.62-0.21-0.94-0.21-1.23
      c0-0.8,0.32-1.6,0.92-2.13c0.46-0.43,1.53-0.8,2.15-0.82c0.44-0.02,0.92-0.09,1.37-0.09c0.42,0,0.85,0.05,1.27,0.07
      c0.13-1.13-0.04-2.55-1.51-2.55c-1.03,0-1.53,0.71-1.51,1.7h-2.34c0.05-2.31,1.77-3.12,3.85-3.12c1.47,0,2.86,0.39,3.49,1.84
      c0.14,0.32,0.18,0.51,0.23,0.89c0.05,0.41,0.07,0.8,0.07,1.21v4.24h1.22v1.49h-3.26V19.7z M110.4,16.84
      c-1.21,0-2.31,0.28-2.31,1.72c0,0.73,0.48,1.32,1.24,1.32c1.72,0,2.13-1.65,2.18-3.04H110.4z"/>
    <path fill="#6D6360" d="M118.91,13.77c0.38-1.65,1.49-2.32,3.14-2.17v2.31c-0.27-0.07-0.55-0.14-0.83-0.14
      c-0.87,0-1.63,0.53-1.93,1.33c-0.23,0.64-0.23,1.51-0.23,2.17v2.43h1.51v1.51h-5.11V19.7h1.24v-6.42h-1.24v-1.51h3.46V13.77z"/>
    <path fill="#6D6360" d="M128.14,18.72c0,1.12-0.35,2.15-1.53,2.52c-0.19,0.07-0.78,0.18-0.98,0.18c-0.42,0-0.67-0.07-1.08-0.18
      c-0.82-0.25-1.26-0.81-1.44-1.61c-0.09-0.39-0.07-1.22-0.07-1.65v-7.82l2.36-0.8v2.41H128v1.62h-2.59v5.8
      c0,0.18,0.11,0.53,0.28,0.61c1.08,0.44,1.01-1.07,0.99-1.71h1.46V18.72z"/>
    <path fill="#6D6360" d="M128.71,21.2V19.7h1.21V9.8h-1.21V8.29h3.57v4.7c0.66-1.04,1.45-1.45,2.7-1.45c0.78,0,1.72,0.23,2.25,0.83
      c0.57,0.64,0.66,1.42,0.66,2.24v5.09h1.19v1.51h-4.7V19.7h1.15v-4.24c0-0.35-0.04-0.73-0.09-1.08c-0.05-0.67-0.6-1.22-1.29-1.22
      c-0.85,0-1.33,0.44-1.61,1.2c-0.27,0.66-0.25,1.31-0.25,2v3.33h1.15v1.51H128.71z"/>
  </g>
  
  <g ng-if="iconName=='x'" class="monochrome">
    <rect x="3.215" y="11.5" transform="matrix(0.7071 0.7071 -0.7071 0.7071 12.5 -5.1777)" width="18.57" height="2"/>
    <rect x="11.5" y="3.215" transform="matrix(0.7071 0.7071 -0.7071 0.7071 12.5 -5.1777)" width="2" height="18.57"/>
  </g>
  
</svg>
{% endverbatim %}
{% endcollapsewhitespace %}