{% collapsewhitespace %}
{% verbatim %}
<main>
  <aside>
    <section class="aboutme" ng-if="user.is_logged_in" ng-click="setMainTab('profile')" >
      <img class="avatar" ng-src="{{user.avatar_url}}" id="user_avatar" alt="">
      <div>
        <p class="name">{{user.display_name}}</p>
      </div>
    </section>

    <section class="aboutme" ng-if="user.is_logged_in === false">
      <div ng-click="signUp();">
        <h2>{{ 'UPPER_LEFT.CREATE_ACCOUNT.TITLE' | translate }}</h2>
        <br>
        <p><a href="#" ng-click="signUp();">{{ 'UPPER_LEFT.CREATE_ACCOUNT.LINKED_TEXT' | translate }}</a>{{ 'UPPER_LEFT.CREATE_ACCOUNT.FOLLOW_TEXT' | translate }}</p>
      </div>
    </section>
    
    <nav>
      <ul>
        <li ng-repeat="item in mainMenu" ng-click="setMainTab(item.tab)" ng-class="{selected : mainTab == item.tab}">
          <se-icon icon-name="{{item.icon}}"></se-icon>
          <span class="menu-text">{{item.text | translate}}</span>
          <div ng-if="item.tab == 'messages' && unreadMessageCount" class="alert-count">{{unreadMessageCount}}</div>
          <div ng-if="item.tab == 'connections' && connectionRequests.length" class="alert-count">{{connectionRequests.length}}</div>
        </li>
      </ul>
    </nav>
  </aside>
  
  <article>

    <header>
      <p class="address" ng-if="mainTab == 'map' && !chooseAddress && !searchOptions">{{ getDesktopTitle() | translate:{address:getDesktopAddress()} }}</p>
      <p class="address" ng-if="mainTab == 'list' && !chooseAddress && !searchOptions">{{ getDesktopTitle() | translate:{address:getDesktopAddress()} }}</p>
      <p class="address" ng-if="mainTab == 'profile' && !chooseAddress">{{ 'EDIT_PROFILE.TITLE' | translate }}</p>
      <p class="address" ng-if="chooseAddress">{{ 'MAP.TITLE.SELECT_ADDRESS' | translate }}</p>
      <p class="address" ng-if="searchOptions">{{ 'MAP.TITLE.SEARCH_OPTIONS' | translate }}</p>
      <p ng-if="mainTab == 'settings'">{{ 'SETTINGS.TITLE' | translate }}</p>
      <p ng-if="mainTab == 'resources'">{{ 'RESOURCES.TITLE' | translate }}</p>
      <p ng-if="mainTab == 'messages'">{{ 'MESSAGES.TITLE' | translate }}</p>
      <p ng-if="mainTab == 'connections'">{{ 'CONNECTIONS.TITLE' | translate }}</p>
    </header>

    <div class="overlay fade top" ng-class="{ short : !inlineModal }">
      <se-onboarding></se-onboarding>
    </div>
    
    <div class="padded overlay fade scroller my-locations short" ng-class="{ short : !chooseAddress }">
      <se-address-choice></se-address-choice> 
    </div>

    <div class="padded overlay fade scroller search-options short" ng-class="{ short : !searchOptions }">
      <se-search-options></se-search-options> 
    </div>

    <section>
    
      <div class="fit" ng-class="{selected : mainTab == 'map' || mainTab == 'list'}">
        <div class="overlay low scroller" ng-class="{ short : mainTab != 'list' }">
          <se-matches-list></se-matches-list>
        </div>
        <se-map></se-map>
      </div>
      
      <div class="scroller connections" ng-class="{selected : mainTab == 'connections'}">
        <se-connections></se-connections>
      </div>
            
      <!--<div class="scroller" ng-class="{selected : mainTab == 'list'}">
        <se-matches-list></se-matches-list>
      </div>-->  
      
      <div id="edit-my-profile" class="scroller" ng-class="{selected : mainTab == 'profile'}">
        <se-edit-profile></se-edit-profile>
      </div>
      
      <se-desktop-messaging></se-desktop-messaging>
      
      <div class="scroller resources" ng-class="{selected: mainTab == 'resources'}">
        <se-resources></se-resources>
      </div>
      
      <div class="scroller" ng-class="{selected : mainTab == 'settings'}">
        <se-settings></se-settings>
      </div>
      
    </section>
  </article>
  
  <article class="gone" ng-class="{ gone : showProfile == 0 }">
    <header ng-click="profileHeaderClicked()">
      <p class="address">{{ 'PROFILE.HEADER' | translate }}</p>

      <se-xbutton color="white" size="24px"></se-xbutton>
    </header>
    
    <section>
    <div class="scroller" id="profile"></div>
    </section>
  </article>

</main>
{% endverbatim %}
{% endcollapsewhitespace %}