{% collapsewhitespace %}
{% verbatim %}
<div id="map-type">
  <button ng-click="mainScope.onSearchOptions()">{{ 'SEARCH_OPTIONS.BUTTON' | translate }}</button>
  <button ng-click="mainScope.activateAddressSelection()">{{ 'MY_LOCATIONS.BUTTON' | translate }}</button>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}