{% collapsewhitespace %}
{% verbatim %}
<ul class="scroller address-list" id="locations-list">
  <li ng-repeat="place in myPlaces| orderBy: '-date'" class="location" ng-class="{active : place.id == activePlaceId }" ng-click="selectMyPlace(place.id)">
    <div class="location">
      <img class="avatar" ng-src="{{place.avatar_url}}">
      <p class="address"><span ng-if="place.name">{{place.name}}<br></span><span ng-if="!place.name">{{ place.address1 }}<br ng-if="place.address1"></span>{{ place.address2 }}</p>
      <button ng-if="placeCount() > 1" class="delete" ng-click="deleteMyPlace(place.id);"></button>
    </div>
  </li>
</ul>
{% endverbatim %}
{% endcollapsewhitespace %}