{% collapsewhitespace %}
{% load static from staticfiles %}
{% verbatim %}
<div class="mobile" ng-class="{ios84 : ios84}">
  <div class="header">
    <ul>
      <li ng-click="setMobileTab(search.displayType)" ng-class="{selected: mainTab == 'map' || mainTab == 'list'}"><se-icon icon-name="logo"></se-icon></li>
      <li ng-click="setMobileTab('messages')" ng-class="{selected: mainTab == 'messages'}">
        <se-icon icon-name="messages"></se-icon>
        <div ng-if="unreadMessageCount > 0" class="alert-count">{{unreadMessageCount}}</div>
      </li>
      <li ng-click="setMobileTab('connections')" ng-class="{selected: mainTab == 'connections'}">
        <se-icon icon-name="connections"></se-icon>
        <div ng-if="connectionRequests.length > 0" class="alert-count">{{connectionRequests.length}}</div>
      </li>
      <li ng-click="setMobileTab('profile')" ng-class="{selected: mainTab == 'profile'}"><se-icon icon-name="profile"></se-icon></li>
      <li ng-click="setMobileTab('resources')" ng-class="{selected: mainTab == 'resources'}"><se-icon icon-name="resources"></se-icon></li>
      <li ng-click="setMobileTab('settings')" ng-class="{selected: mainTab == 'settings'}"><se-icon icon-name="settings"></se-icon></li>
    </ul>
  </div>
  <se-mobile-subhead></se-mobile-subhead>
  <div class="main">
    <article class="scroll connections" ng-class="{top: mainTab == 'connections'}"><se-connections></se-connections></article>
    <article class="scroll" ng-class="{top: mobileBottom == 'conversations'}"><se-mobile-conversations></se-mobile-conversations></article>
    <article ng-class="{top: mobileBottom == 'messages'}"><se-mobile-messages></se-mobile-messages></article>
    <article class="scroll" ng-class="{top: mainTab == 'profile'}" id="mobile-profile"><se-edit-profile></se-edit-profile></article>
    <article class="scroll resources" ng-class="{top: mainTab == 'resources'}"><se-resources></se-resources></article>
    <article class="scroll" ng-class="{top: mainTab == 'settings'}"><se-settings></se-settings></article>
    <article ng-class="{top: showProfile }" class="scroll"><div id="profile"></div></article>
    
    <article class="scroll mobile-choose-address" ng-class="{ top: chooseAddress }"><se-address-choice></se-address-choice></article>
    <article class="scroll mobile-search-options" ng-class="{ top: searchOptions }"><se-search-options></se-search-options></article>
    
    <article ng-class="{top: !searchOptions && !chooseAddress && !showProfile && mainTab == 'list'}" class="scroll"><se-matches-list></se-matches-list></article>
    <article ng-class="{top: !searchOptions && !chooseAddress && !showProfile && mainTab == 'map'}"><div class="map-container"><se-map></se-map></div></article>
  </div>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}