{% collapsewhitespace %}
{% verbatim %}
<div id="mobile-messages">
  <div ng-controller="ConversationController" ng-if="currentConversation" class="mobile-message-container">
    <div id="messages-top">
      <div id="messages-scroller" scroll-glue>
        <!--<div id="more-messages" ng-if="currentConversation.display_offset != 0">Loading more messages...</div>-->
        <div single-message ng-repeat="message in currentConversation.messages | startFrom: currentConversation.display_offset"></div>              
      </div>
    </div>
    
    <div id="messages-bottom">
      <form ng-controller="NewMessageController" ng-submit="sendMessage()">
        <textarea id="message-textarea" class="mobile-textarea" ng-enter="sendMessage()" ng-model="messageText" rows="1" ng-attr-placeholder="{{ 'MESSAGES.MOBILE.PLACEHOLDER_MESSAGE' | translate }}"></textarea>
        <button ng-disabled="sendInProgress">{{ 'MESSAGES.MOBILE.SEND_BUTTON' | translate }}</button>
      </form>
    </div>
  </div>  
</div>
{% endverbatim %}
{% endcollapsewhitespace %}