{% collapsewhitespace %}
{% verbatim %}
<ui-gmap-google-map
  ng-if='mapReady'
  center='map.center'
  zoom='map.zoom'
  pan='true'
  control='mapCtrl'
  options='map.options'
  events='mapEvents'
>
  <ui-gmap-map-control template="/se-map-search-type.html" position="top-right" index="-1" controller="SearchOptionsController"></ui-gmap-map-control>
  
  <ui-gmap-marker
    ng-repeat="place in myPlaces | activePlace:activePlaceId"
    idKey="place.id + '_top'"
    coords="place.coords"
    icon="place.topIcon"
    options="place.activeTopMarkerOptions"
    click="selectMyPlaceMap(place.id)"
  >
  {% endverbatim %}{% comment %}
    <ui-gmap-window show="activePlaceInfoWindowOptions.visible" options="activePlaceInfoWindowOptions" closeClick="closeInfoWindowClick()">
      <div style="text-align: center; padding: 1rem">
        <span >{{ 'MAP.OWN_LOCATION.GARDENER_TEXT' | translate }}</span>
        <br>
        <br>
        <a href="#" onclick="mainScope.setMainTab('profile'); return false;">{{ 'MAP.OWN_LOCATION.PROFILE_LINK' | translate }}</a>
        <br>
      </div>
    </ui-gmap-window>
  {% endcomment %}{% verbatim %}
  </ui-gmap-marker>

  <ui-gmap-marker 
    ng-repeat="place in myPlaces | activePlace:activePlaceId"
    idKey="place.id + '_bottom'"
    coords="place.coords"
    icon="place.bottomIcon"
    options="place.activeBottomMarkerOptions"
    click="selectMyPlaceMap(place.id)"
  ></ui-gmap-marker>

  {% endverbatim %}{% comment %}
  <ui-gmap-marker 
    ng-repeat="place in myPlaces | inactivePlaces:activePlaceId"
    idKey="place.id + '_top'"
    coords="place.coords"
    icon="place.topIcon"
    options="place.topMarkerOptions"
    click="selectMyPlaceMap(place.id)"
  ></ui-gmap-marker>

  <ui-gmap-marker 
    ng-repeat="place in myPlaces | inactivePlaces:activePlaceId"
    idKey="place.id + '_bottom'"
    coords="place.coords"
    icon="place.bottomIcon"
    options="place.bottomMarkerOptions"
    click="selectMyPlaceMap(place.id)"
  ></ui-gmap-marker>
  {% endcomment %}{% verbatim %}
  
</ui-gmap-google-map>
{% endverbatim %}
{% endcollapsewhitespace %}