{% collapsewhitespace %}
{% verbatim %}
<div class="subheader" ng-click="onMobileHeaderClick()">
  <div id="mobileSubheadLeft"><se-xbutton color="white" size="24px" class="{{ getMobileLeftIconClass() }}"></se-xbutton></div>
  <div id="mobileTabText">{{ getMobileTabTitle() }}</div>
  <div id="mobileSubheadRight"><se-xbutton color="white" size="24px" class="{{ getMobileRightIconClass() }}"></se-xbutton></div>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}