{% collapsewhitespace %}
{% verbatim %}
<div id="mobile-conversations">
  <div id="mobile-conversations-list">
    <div ng-if="conversations.length">
      <ul>
        <li ng-repeat="conversation in conversations | orderBy:'-highestMessageID'" ng-class="{'active' : conversation.id === currentConversationID}" ng-click="selectConversation(conversation.id)">
          <div class="conversation">
            <div class="top">
              <img class="avatar" ng-src="{{conversation.avatar_url}}">
              <div class="name">{{conversation.name}}</div>
              <div class="new-messages" ng-if="conversation.newMessageCount">{{ conversation.newMessageCount }}</div>
            </div>
            
            <div class="buttons">
              <button ng-click="sendConnectionRequest(conversation.userID); $event.stopPropagation();" ng-if="!connectedTo(conversation.userID)"><se-icon icon-name="connections"></se-icon><span>{{ 'MESSAGES.MOBILE.CONNECT_BUTTON' | translate }}</span></button>
              <button ng-click="showProfileByUser(conversation.userID); $event.stopPropagation();"><se-icon icon-name="profile"></se-icon><span>{{ 'MESSAGES.MOBILE.VIEW_PROFILE_BUTTON' | translate }}</span></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <p ng-if="conversations.length == 0" style="font-size:11pt; text-align: center; margin: 1rem;">{{ 'MESSAGES.NO_MESSAGES' | translate }}</p>
  </div>
  <br>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}