{% collapsewhitespace %}
{% verbatim %}
<div class="location-results-buttons">
  <button ng-click="onSearchOptions()">{{ 'SEARCH_OPTIONS.BUTTON' | translate }}</button>
  <button ng-click="activateAddressSelection()">{{ 'MY_LOCATIONS.BUTTON' | translate }}</button>
</div>

<div class="location-results">
  <table ng-if="detailedMatches.length" id="location-results-list">
      <tbody ng-repeat="match in detailedMatches" ng-click="seViewLocationProfile(match.id);">
        <tr class="top">
          <td class="img full" rowspan="2"><img ng-src="{{match.avatar_url}}" class="avi"></td>
          
          <td class="name" colspan="3">
              <h2>{{ match.name ? match.name : match.user_display_name }}</h2>
          </td>
          
          <td class="buttons full" rowspan="2">
            <div>
              <button><se-icon icon-name="profile"></se-icon><span>{{ 'MATCH_LIST.VIEW_PROFILE' | translate }}</span></button>
              <button ng-click="beginMessage(match.user_id, match.id); $event.stopPropagation();"><se-icon icon-name="messages"></se-icon><span>{{ 'MATCH_LIST.MESSAGE' | translate }}</span></button>
            </div>
          </td>
        </tr>
        <tr class="bottom">
          <td class="location"><p>{{ match.type == 'have' ? 'MATCH_LIST.GARDEN' : 'MATCH_LIST.GARDENER' | translate }}</p></td>
          <td class="city">{{match.city}}</td>
          <td class="distance">{{match.hdfmt}}</td>
        </tr>
      </tbody>
  </table>
</div>

<p class="no-matches" ng-if="!detailedMatchesLoading && numLocationMatches() == 0">{{ 'MATCH_LIST.NO_MATCHES' | translate }}</p>
{% endverbatim %}
{% endcollapsewhitespace %}