{% collapsewhitespace %}
{% verbatim %}
<div ng-if="activePlace().type == 'need'">
  <h2>{{ 'ONBOARDING.NEEDS_LAND.WELCOME.MESSAGE' | translate }}</h2>
  
  <button>{{ 'ONBOARDING.NEEDS_LAND.WELCOME.BUTTON_TEXT' | translate }}</button>
</div>
<div ng-if="activePlace().type == 'have'">
  <h2>{{ 'ONBOARDING.HAS_LAND.WELCOME.MESSAGE' | translate }}</h2>
  <button>{{ 'ONBOARDING.HAS_LAND.WELCOME.BUTTON_TEXT' | translate }}</button>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}