{% collapsewhitespace %}
{% verbatim %}
<form>
  <h3>{{ 'SETTINGS.TITLE' | translate }}</h3>
  <label><input type="checkbox" ng-model="override.mobile" ng-change="onMobileChange()">{{ 'SETTINGS.MOBILE' | translate }}</label>
  <h3>{{ 'SETTINGS.FIRST_NAME' | translate }}</h3>
  <input type="text" ng-model="user.first_name" ng-blur="updateUser('first_name')">
  <h3>{{ 'SETTINGS.LAST_NAME' | translate }}</h3>
  <input type="text" ng-model="user.last_name" ng-blur="updateUser('last_name')">  
  <h3>{{ 'SETTINGS.EMAIL' | translate }}</h3>
  <input type="email" ng-model="user.email" ng-blur="updateUser('email')">

  <div ng-if="user.can_change_password">
    <h3>{{ 'SETTINGS.PASSWORD.TITLE' | translate }}</h3>
    <button class="standard" ng-click="doChangePassword()">{{ 'SETTINGS.PASSWORD.CHANGE_PASSWORD' | translate }}</button>
  </div>
  
  <h3>{{ 'SETTINGS.PRIVACY.TITLE' | translate }}</h3>
  <label><input type="checkbox" ng-model="user.share_full_name_all" ng-change="updateUser('share_full_name_all')">{{ 'SETTINGS.PRIVACY.SHARE_FULL_NAME_ALL' | translate }}</label>
  <label><input type="checkbox" ng-model="user.share_full_name_connected" ng-change="updateUser('share_full_name_connected')" ng-disabled="user.share_full_name_all" ng-checked="user.share_full_name_connected || user.share_full_name_all">{{ 'SETTINGS.PRIVACY.SHARE_FULL_NAME_CONNECTIONS' | translate }}</label>
  <label><input type="checkbox" ng-model="user.share_address_connected" ng-change="updateUser('share_address_connected')">{{ 'SETTINGS.PRIVACY.SHARE_ADDRESS_CONNECTIONS' | translate }}</label>
  <h3>{{ 'SETTINGS.NOTIFICATIONS.TITLE' | translate }}</h3>
  <p>{{ 'SETTINGS.NOTIFICATIONS.HEADER' | translate }}</p>
  <label><input type="checkbox" ng-model="user.email_on_messages" ng-change="updateUser('email_on_messages')">{{ 'SETTINGS.NOTIFICATIONS.ON_MESSAGE' | translate }}</label>
  <label><input type="checkbox" ng-model="user.email_on_connect" ng-change="updateUser('email_on_connect')">{{ 'SETTINGS.NOTIFICATIONS.ON_CONNECT' | translate }}</label>
  <label><input type="checkbox" ng-model="user.email_on_new_matches" ng-change="updateUser('email_on_new_matches')">{{ 'SETTINGS.NOTIFICATIONS.ON_MATCH' | translate }}</label>
  <label><input type="checkbox" ng-model="user.email_on_resources" ng-change="updateUser('email_on_resources')">{{ 'SETTINGS.NOTIFICATIONS.ON_RESOURCE' | translate }}</label>
  <label><input type="checkbox" ng-model="user.email_on_announcements" ng-change="updateUser('email_on_announcements')" >{{ 'SETTINGS.NOTIFICATIONS.ON_ANNOUNCEMENT' | translate }}</label>
</form>
<form>
  <h3>{{ 'SETTINGS.SIGN_OUT.TITLE' | translate }}</h3>
  <p>{{ 'SETTINGS.SIGN_OUT.HEADER' | translate }}</p>
  <button class="standard" onclick="logOut();">{{ 'SETTINGS.SIGN_OUT.BUTTON' | translate }}</button>
</form>
<br>
{% endverbatim %}
{% endcollapsewhitespace %}