{% collapsewhitespace %}
{% verbatim %}
<div class="time sent"  ng-if="longGap(currentConversation, message)">{{message.timeSent | date : 'h:mma &ndash; EEE MMM d, yyyy' }}</div>

<div class="message" ng-class="{'from-you': message.sender == userID, 'to-you': !(message.sender == userID)}">
  <img ng-src="{{message.sender == userID ? user.avatar_url : currentConversation.avatar_url}}" class="avatar">
  <p class="message-text" ng-bind-html="message.text | linky:'_blank'"></p>
</div>
{% endverbatim %}
{% endcollapsewhitespace %}