{% collapsewhitespace %}
{% verbatim %}
<form class="search-options full-width">

  <div ng-if="mobile">
  <h3>{{ 'SEARCH_OPTIONS.VIEW_TYPE' | translate }}</h3>
  <label><input type="radio" ng-model="search.displayType" value="map">{{ 'SEARCH_OPTIONS.VIEW_TYPE_MAP' | translate }}</label>
  <label><input type="radio" ng-model="search.displayType" value="list">{{ 'SEARCH_OPTIONS.VIEW_TYPE_LIST' | translate }}</label>
  </div>

  <div>
    <h3>{{ 'SEARCH_OPTIONS.TITLE' | translate }}</h3>
    
    <label><input type="radio" ng-model="search.searchType" value="match">{{ 'SEARCH_OPTIONS.MATCHES' | translate }}</label>
    <label><input type="radio" ng-model="search.searchType" value="have">{{ 'SEARCH_OPTIONS.GARDENS' | translate }}</label>
    <label><input type="radio" ng-model="search.searchType" value="need">{{ 'SEARCH_OPTIONS.GARDENERS' | translate }}</label>
    <label><input type="radio" ng-model="search.searchType" value="all">{{ 'SEARCH_OPTIONS.ALL' | translate }}</label>
    <label><input type="radio" ng-model="search.searchType" value="tools">{{ 'SEARCH_OPTIONS.TOOLS' | translate }}</label>
    
    <div ng-class="{ hidden : search.searchType != 'tools' }">
      <p>{{ 'SEARCH_OPTIONS.TOOLS_DESC' | translate }}</p>
      <div class="tags">
        <se-tags se-tag-type="web" se-tag-source="tools" se-field="toolSearchTags"></se-tags>
      </div>
    </div>
    <div class="spacer" ng-class="{ hidden : search.searchType == 'tools' }"></div>
    <!--<label for="search-tools"><input type="radio" name="type" id="search-tools" ng-model="mainScope.searchType" value="tools">{{ 'MAP.SEARCH.TOOLS' | translate}}</label>-->
    
    <button class="standard" ng-click="onSearchDone()">{{ 'SEARCH_OPTIONS.DONE_BUTTON' | translate }}</button>
  </div>
</form>
{% endverbatim %}
{% endcollapsewhitespace %}