@import "_flex";

@function i2b($size) { @return (1px) * ($size); }

input#file-input
{
  display: none;
}

ul.images
{
  margin-bottom: i2b(-20);
  margin-right: i2b(-20);
  
  li
  {
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0 i2b(20) i2b(20) 0;
    overflow: hidden;
  }

  li.upload
  {
    background-color: #40C4F2;
    color: white;
    cursor: pointer;
    @include inline-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    p
    {
      font-size: 14pt;
      color: white;
    }

    h2
    {
      font-size: 48pt;
      line-height: 40pt;
      font-weight: 700;
      vertical-align: top;
      margin-top: -8pt;
      color: white;
    }
  }

  li img
  {
      position:absolute;
      max-width: 120px;
      max-height: 120px;
  }
  
  li.uploading
  {
    position: relative;
    
    canvas
    {
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      height: 120px;
      opacity: 0.5;
    }
    
    img
    {
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      height: 120px;
    }
    
    div.percent
    {
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      height: 120px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      
      span
      {
        display: block;
        color: white;
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 0px 0px 1px black;
      }
    }
  }
}

