<h3>Garden Sharing</h3>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/how-to-start-a-garden-share/">How to Start a Shared Garden</a></h4>
	<p>Use this guide to find a good match and put together a successful garden share plan.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/10-ways-to-use-extra-garden-vegetables/">10 Ways to Use Extra Garden Vegetables</a></h4>
	<p>There are many of ways to make good use of a surplus.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/seed-sharing-coming-to-a-library-near-you/">Seed Sharing</a></h4>
	<p>Preserving a diverse array of seeds for the future</p>
</div>

<h3>Composting</h3>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/how-to-compost-in-your-apartment/">How to Compost in Your Apartment</a></h4>
	<p>It’s completely possible and relatively easy to compost in a small amount of space.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/i-want-to-compost-but/">Composting Tips</a></h4>
	<p>There are many different ways to compost — finding the simplest and most agreeable option for your household is the key to success.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/bokashi-composting/">Bokashi Composting</a></h4>
	<p>Bokashi is a composting process that uses microorganisms known as “bokashi bran” to ferment food waste, even meat and dairy, and create a super-fertile compost to enrich your soil.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/how-to-compost-in-winter-indoors-or-outdoors/">How to Compost in Winter</a></h4>
	<p>Tips and strategies for making winter composting a success.</p>
</div>

<h3>Food Rescue and Recovery</h3>
<div class="resource">
	<h4><a target="_blank" href="http://sustainableamerica.org/foodrescue/">Food Rescue Locator</a></h4>
	<p>If you have extra food to donate, use this directory to find organizations that rescue, glean, transport, prepare, and distribute food to the needy in your community.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://fallingfruit.org/">Falling Fruit</a></h4>
	<p>Another list of gleaning and food rescue organizations.</p>
</div>

<h3>Beekeeping</h3>
<div class="resource">
	<h4><a target="_blank" href="http://www.youtube.com/watch?v=wNxpcs4j8ko">Getting Started in Beekeeping.</a></h4>
	<p>UNL Entomology Grady Student Erin Ingram talks about the many benefits of beekeeping and what you need to get started.</p>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.ohiostatebeekeepers.org/beekeeping_class/frame-assembly/">Ohio State Beekeepers</a></h4>
	<p>This series of videos is an online introductory beekeepers' training program by John Grafton and Jim Tew.</p>
</div>

<h3>Chickens</h3>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/backyard-chickens-how-to-start-your-own-small-coop/">Backyard Chickens: How to Start Your Own Small Coup</a></h4>
</div>
<div class="resource">
	<h4><a target="_blank" href="http://www.mypetchicken.com/backyard-chickens/chicken-care/guide-toc.aspx">The My Pet Chicken Guide to Chicken Care.</a></h4>
	<p>Are you a prospective chicken owner? New to raising chickens? This handy how-to guide for the care of pet chickens is a quick read and covers all the basics.</p>
</div>

<h3>Basic Gardening</h3>
<div class="resource">
	<h4><a target="_blank" href="http://www.sustainableamerica.org/blog/5-easy-ways-to-grow-food/">5 Easy Ways to Start Growing Food</a></h4>
	<p>If you want to garden but weren’t blessed with green thumbs, here are five ways to ease into gardening.</p>
</div>
