/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: none;
    text-shadow: none;
}

::selection {
    background: none;
    text-shadow: none;
}

::-webkit-selection {
    background: none;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal {
  display: none;
  background: #40C4F1;
  padding: 0;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 980px;
  min-height: 529px;
}*/




body {
    font-family: 'Open Sans', sans-serif;
    }

p { text-shadow: 0px 0px 8px #000; }

.panel {
	width:100%;
	min-height:400px;
	padding-bottom:60px;
	}

#welcome {
	background:url(../img/panel-one-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	}
	
#helpus {
	background:url(../img/panel-two-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	}

#howitworks {
  background:url(../img/panel-how-it-works-bg.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
  }


#resources {
	background:url(../img/panel-three-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	}

#success-stories {
	background:url(../img/panel-three-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	}

#sign-up {
  background:url(../img/panel-signup-bg.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
  }

#sustainable-america {
  background:url(../img/panel-four-bg.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
  }


header {
position: fixed;
z-index: 800;
width: 100%;
top: 0px;
left: 0px;
right: 0px; 
height: 100px;
}

header > nav {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header a {
  color: #FFF;
}

header > nav > span {
  color: #FFF;
  //padding: 0 0 0 45px;
  padding-top: 24px;
}

header > nav > span:last-child {
  align-self: stretch;
  padding: 0;
}

#logo {
  vertical-align: text-bottom;
	width:293px;
	height:37px;
  padding:0 15px 3px 0;
	}
	
#presentedby
{
  width: 184px;
  height: 100px;
}
	
#playvideobutton
{
  cursor: pointer;
}
	
#overlay
{
  display: none;
  background: rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
  cursor: pointer;	
}

#overlay > div
{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#local-img img
{
  width: 100%;
  height: auto;
}
	
#header-search {
	float:right;
	margin:0 36px 0 0;
	}
	
input#header-search-input {
	padding:6px 8px;
	margin:0;
	border:2px solid #fff;;
	background:url(../img/60p.png);
	color:#fff;
	font-size:12px;
	
	}
	
input#header-search-submit {
	padding:6px 24px;
	margin:0;
	border:0;
	color:#fff;
	background:#40C4F1;
	font-size:12px;
	border:2px solid #fff;
	}
	
input::-webkit-input-placeholder {
color:  rgba(255,255,255,1);
}

input::-moz-placeholder {
	color: rgba(255,255,255,1);
}

input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba(255,255,255,1);
}

input:-ms-input-placeholder { 
	color: rgba(255,255,255,1);
}

#ziplabel {
	display:block;
	font-size:9px;
	line-height:11px;
	color:#fff;
	margin:28px 0 4px 10px;
	}
		
#logins {
	float:right;
	text-align:right;
	}
	
#logins a {
	color:#fff;
	text-decoration:none;
	font-size:15px;
	line-height:18px;
	display:block;
	float:left;
	margin:5px 80px 0 0;
	}



h1 {
	font-family:'Roboto Slab', serif; font-weight: 300;
	font-size:45px;
	line-height:51px;
	display:block;
	margin:0 auto;
	text-align:center;
	color:#fff;
	max-width:800px;
	/*font-weight:normal;*/
	padding-top:150px;
	padding-bottom:30px;
	}
	
#local-img
{
  max-width: 800px;
  margin: 0 auto -120px auto;
}

	
h2 {
	font-size:18px;
	line-height:22px;
	display:block;
	margin:0 auto;
	text-align:center;
	color:#fff;
	max-width:600px;
	font-weight:normal;
	margin-bottom:30px;
	}


p {
	font-size:14px;
	line-height:18px;
	display:block;
	margin:0 auto;
	text-align:center;
	color:#fff;
	max-width:600px;
	font-weight:normal;
	margin-bottom:30px;
	}
	
.button {
	color:#fff;
	font-size:18px;
	line-height:80px;
	display:block;
	background:#000;
	text-align:center;
	color:#fff;
	background:#40C4F1;
	width:100%;
	max-width:400px;
	margin:0 auto;
	border-radius: 4px;
	border:2px solid #fff;
	}
	
a  {
	text-decoration:none;
	}
	
#garden-links {
	width:800px;
	margin:0 auto;
	margin-top:60px;
	display:block;
	}
	
#garden-links .button {
	max-width:70%;
	}
	
	
#welcome a { color: white; text-decoration: underline; }
#sustainable-america p a { color: white; text-decoration: underline; }



/*#welcome a {
	display:block;
	width:50%;
	float:left;
	text-align:center;
	}
	
#welcome a img {
	width:50%;
	height:auto;
	margin-bottom:20px;
	}*/
	
a.nextlink, #welcome a.nextlink {
	
	display:block;
	width:100%;
	text-align:center;
	}	
	
.nexter, #welcome .nexter {
	margin-top:60px;
	width:74px;
	height:auto;
	}
	
nav#mobile {
		display:none;
	}
	
#thirds {
	max-width:980px;
	margin:0 auto;
	text-align:center;
	}
	
#thirds img {
	width:95px;
	height:auto;
	margin:0 auto;
	}
	
.third {
	width:28%;
	display:block;
	float:left;
	}
	

#playvideo img {
  width:264px;
  height:auto;
  margin:0 auto;
  padding:20px 0;
  display:block;
  }
	
	
.third.mid {
	margin:0 8%;
	}
	
#testimonial {
	width:100%;
	max-width:980px;
	margin:0 auto;
	display:block;
	}
	
#test-copy {
	width:70%;
	display:block;
	float:left;
	text-align:left;
	}
	
#test-copy p {
	text-align:left;
	}
	
#test-copy h2 {
	text-align:left;
	margin-top:50px;
	}
	
#test-img {
	width:30%;
	height:auto;
	display:block;
	float:right;
	text-align:left;
	padding-bottom:20px;
	}
	
#test-copy h2 .smh2 {
	font-size:14px;
	}
	
.video-container {
	text-align:center;
	}
	
img#sustain-full {
	width:300px;
	margin:0 auto;
	display:block;
	padding:100px 0 0;
	}
	
#addressField {
	display:block;
	max-width:559px;
	width: 100%;
	margin:0 auto 1.5rem auto;
	padding:0.5rem;
	border:2px solid #fff;;
	background:url(../img/60p.png);
	color:#fff;
	font-size:16px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}


div.buttons
{
  width: 100%;
  text-align: center;

}

button.land {
  width: 49%;
  max-width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  padding-top: 56px;
  display: inline-block;
  border: 0;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

button.need {
	background:url(../img/need-land-96.png);
  background-repeat:no-repeat;
  background-position: center top;
}
	
button.have {
	background:url("../img/have-land-96.png");
  background-repeat:no-repeat;
  background-position: center top;
}
	
form.address {
	margin-bottom:100px;
	}
	
	
.pac-container {
	border:2px solid #fff;
	border-top:0;
	background:url(../img/75p.png);
	color:#fff;
	font-size:16px;
  max-width:559px;
  width: 100%;
	box-sizing: border-box;
	}
.pac-icon {	
	display:none;
	}
.pac-item {	
	color:#fff;
	font-size:16px;
	padding:6px 12px;
	}
	
.pac-item:nth-of-type(1) {	
	border-top:0;
	}	

.pac-item:hover	{
	background-color:#40C4F1;
	font-size:16px;
	}
.pac-item-selected {
	background-color:#40C4F1;
	color:#fff;
	font-size:16px;
	}	
.pac-item-query	{
	color:#fff;
	font-size:16px;
	}
.pac-matched {	
	color:#fff;
	font-weight:bold;
	font-size:16px;
	}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 980px ) {
	
	
.modal {
  display: none;
  background: #40C4F1;
  padding: 0;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 100%;
  height:auto;
  min-height: 100px;
}


.hide-mobile { display: none; }	

header { height: 50px; }

header a {
  color: #FFF;
}

header > nav > span {
  padding-top: 6px;
}

#logo {
  vertical-align: text-bottom;
  width:293px;
  height:37px;
  padding:0 0 0 6px;
  }
	
	

.header {
	}
	
#welcome {
	background:url(../img/panel-one-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: scroll;
	}
	
#helpus {
	background:url(../img/panel-two-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: scroll;
	}

#howitworks {
  background:url(../img/panel-how-it-works-bg.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment: scroll;
  }

#resources {
	background:url(../img/panel-three-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: scroll;
	}

#success-stories {
	background:url(../img/panel-three-bg.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment: scroll;
	}


#sign-up {
  background:url(../img/panel-signup-bg.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment: scroll;
  }

#sustainable-america {
  background:url(../img/panel-four-bg.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment: scroll;
  }



h1 {
	font-family:'Roboto Slab', serif; font-weight: 300;
	font-size:20px;
	line-height:26px;
	display:block;
	margin:0 auto;
	text-align:center;
	color:#fff;
	max-width:80%;
	/*font-weight:normal;*/
	padding-top:100px;
	padding-bottom:30px;
	}
	
#local-img
{
  max-width: 80%;
  margin: 0 auto -70px auto;
}


h2 {
	font-size:24px;
	line-height:24px;
	display:block;
	margin:0 auto;
	text-align:center;
	color:#fff;
	max-width:600px;
	font-weight:normal;
	margin-bottom:30px;
	}


p {
	font-size:18px;
	line-height:22px;
	display:block;
	margin:0 auto;
	text-align:center;
	color:#fff;
	max-width:90%;
	font-weight:normal;
	margin-bottom:30px;
	}
	
.button {
	color:#fff;
	font-size:14px;
	line-height:18px;
	padding:11px 5px;
	display:block;
	text-align:center;
	color:#fff;
	background:#40C4F1;
	width:100%;
	max-width:60%;
	margin:0 auto;
	border-radius: 4px;
	border:2px solid #fff;
	}
	
a  {
	text-decoration:none;
	}
	
#garden-links {
	width:80%;
	margin:0 auto;
	margin-top:0px;
	}
	
#garden-links .button {
	max-width:60%;
	}
	
#welcome a.wtf {
	display:block;
	width:50%;
	float:left;
	text-align:center;
	}
	
/*
#welcome a img {
	width:60%;
	height:auto;
	margin-bottom:20px;
	}
*/

a.nextlink {
	margin-top:20px;
	display:block;
	}
	
.nexter {
	width:74px;
	height:auto;
	}
	

#header-search {
	float:none;
	margin:0;
	}
	
input#header-search-input {
	padding:6px 8px;
	margin:0 auto;
	border:2px solid #fff;;
	background:url(../img/60p.png);
	color:#fff;
	font-size:18px;
	display:block;
	width:80%;
	box-sizing: border-box;
	text-align:center;
	border-radius: 4px;
	}
	
input#header-search-submit {
	padding:6px 8px;
	margin:0px auto;
	border:2px solid #fff;;
	color:#fff;
	background:#40C4F1;
	font-size:16px;
	display:block;
	width:80%;
	text-align:center;
	box-sizing: border-box;
	font-weight:bold;
	margin-top:10px;
	border-radius: 4px;
	margin-bottom:0 px;
	}
	
input::-webkit-input-placeholder {
color:  rgba(255,255,255,1);
}

input::-moz-placeholder {
	color: rgba(255,255,255,1);
}

input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba(255,255,255,1);
}

input:-ms-input-placeholder { 
	color: rgba(255,255,255,1);
}

#ziplabel {
	display:block;
	font-size:15px;
	line-height:15px;
	color:#fff;
	margin:0px auto;
	text-align:center;
	margin-bottom:10px;
	margin-top:20px;
	}
	
#ziplabel2 {
	display:block;
	font-size:15px;
	line-height:15px;
	color:#fff;
	margin:0px auto;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
	}
		
#loginsmobile {
	float:none;
	text-align:center;
	margin:0px auto;
	padding-bottom:20px;
	}
	
#loginsmobile a {
	padding:6px 8px;
	margin:0px auto;
	border:2px solid #fff;
	color:#fff;
	background:#40C4F1;
	font-size:16px;
	display:block;
	width:80%;
	text-align:center;
	box-sizing: border-box;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:20px;
	border-radius: 4px;
	}
	
		
#logo-mobile {
	height:25px;
	width:auto;
	}


	#nav#full {
		display:block;
	}

	nav#mobile {
		background-color:#40C4F1;
		background-image:url(../img/ground.jpg);
		display:block;
		position:fixed;
		width:100%;
		border-bottom:2px solid #fff;
		z-index:2000;
		display:none;
	}

	/*
	Top black bar that holds the toggle button
	*/

	nav#mobile #toggle-bar {
		line-height:70px;
		height:70px;
	}

	/*
	Toggle button #1 ("Menu")
	*/

	nav#mobile strong a {
		margin-left:10px;
		border:0;
		padding:0px;
	}

	/*
	Toggle button #2 ("Navicon")
	*/

	nav#mobile .navicon {
		float: right;
		height: 6px;
		width: 34px;
		margin: 20px;
		border-top: 18px double #FFF;
		border-bottom: 6px solid #FFF;
		font-size:0;
		
	}

	/*
	The dropdown menu
	*/
	
	nav#mobile ul {
		margin:0;
		padding:0;
		}
	

	nav#mobile ul li {
		clear:both;
		list-style:none;
		margin:0;
		padding:0;
	}

	nav#mobile ul li a {

	}

	nav#mobile ul ul {
		font-size:small;
	}

	nav#mobile ul ul li {
		margin-left:30px;
	}

	nav#mobile ul ul a {

	}

	nav#mobile ul ul a:before {

	}
	
	#sustain-mobile {
		height:80px;
		width:auto;
		display:block;
		margin:0 auto;
		margin-bottom:400px;
		}
		
		
	#thirds {
	max-width:80%;
	margin:0 auto;
	text-align:center;
	}
	
	
#playvideo img {
  width:264px;
  height:auto;
  margin:0 auto;
  padding-bottom:20px;
}

  	
#thirds img {
	width:95px;
	height:auto;
	margin:0 auto;
	padding-bottom:20px;
	}
	
.third {
	width:100%;
	display:block;
	float:none;
	}
	
	
.third.mid {
	margin:0 0;
	}	
	
.third p {
	display:block;
	padding-bottom:20px;
	}
	
#testimonial {
	width:80%;
	margin:0 auto;
	display:block;
	}
	
#test-copy {
	width:100%;
	display:block;
	float:left;
	text-align:left;
	}
	
#test-copy p {
	text-align:center;
	display:block;
	width:100%;
	}
	
#test-copy h2 {
	text-align:center;
	margin-top:50px;
	}
	
#test-img {
	width:100%;
	display:block;
	float:right;
	text-align:center;
	padding-bottom:20px;
	}
	
#test-img img {
	max-width:100%;
	height:auto
	}
	
#test-copy h2 .smh2 {
	font-size:14px;
	}
	
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
		
}




@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

::selection { background-color: #40C4F2; color: white }
::-moz-selection { background-color: #40C4F2; color: white }

.embed-wrap { width: 100%; max-width: 1000px; margin: 0 auto; }
.embed-margin { margin: 0 10px 30px 10px; }
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }