{% collapsewhitespace %}
{% load cache %}
{# cache 500 main_page #}
{% load static from staticfiles %}
{% load compress %}
{% load socialaccount %}
<!DOCTYPE html><!-- Welcome to Shared Earth. Page generated: {% now 'c' %} -->
<html class="no-js">
<head>
  <base href="/">
  {# We prefetch all of the external domain names used by our page #}
  {% for uri in TEMPLATE_DNS_PREFETCH %}
  <link rel="dns-prefetch" href="{{uri}}">
  {% endfor %}

  {# We include this external stylesheet immediately so that it can load     #}
  {# in parallel with the rest of our content, or at least we hope it will   #}
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400" rel="stylesheet">
  <link rel="icon" href="{% static 'profiles/img/favicon.png' %}">

  {# Next, get our CSS loading, from a single external stylesheet, hopefully #}
  {# in parallel with the scripts below #}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'profiles/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'images/css/jquery.fancybox-1.3.4.css' %}">
  <link rel="stylesheet" href="{% static 'images/css/uploader.css' %}">
  {% endcompress %}

  <script>var staticBase='{%static ''%}',websocketURI='{% autoescape off %}{{websocket_uri}}{%endautoescape%}';</script>
  {# We include scripts such as AngularJS at the top; we need them before we can show any content #}
  {% compress js %}
  <script src="{% static 'angular/js/libraries/jquery-2.1.4.js' %}"></script>
  <script src="{% static 'angular/js/se-polyfills.js' %}"></script>
  <script src="{% static 'angular/js/libraries/jquery.svg.min.js' %}"></script>
  <script src="{% static 'angular/js/libraries/jquery.svganim.min.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular-sanitize.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular-route.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular-translate.min.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular-touch.js' %}"></script>
  <script src="{% static 'angular/js/libraries/lodash.min.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular-google-maps.js' %}"></script>
  <script src="{% static 'angular/js/libraries/scrollglue.js' %}"></script>
  <script src="{% static 'angular/js/libraries/raven.js' %}"></script>
  <script src="{% static 'angular/js/libraries/angular-raven.js' %}"></script>
  <script src="{% static 'angular/js/libraries/js.cookie.js' %}"></script>
  <script src="{% static 'angular/js/se-user.js' %}"></script>
  <script src="{% static 'angular/js/se-raven.js' %}"></script>
  <script src="{% static 'angular/js/se-i18n.js' %}"></script>
  <script src="{% static 'angular/js/se-app.js' %}"></script>
  <script src="{% static 'angular/js/new-address.js' %}"></script>
  <script src="{% static 'angular/js/support.js' %}"></script>
  {% endcompress %}
<!-- Facebook Pixel Code -->
<script>
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
      n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '221300428612417');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=221300428612417&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->

  <title>Shared Earth</title>
</head>
<body ng-app="seApp" ng-controller="SharedEarthController as sec">
  {% include 'angular/templates.html' %}

  {# The entire main app exists in these next three lines #}  
  <se-header ng-if="!mobile" ng-cloak></se-header>
  <se-main ng-if="!mobile" id="main_block"></se-main>
  <se-mobile ng-if="mobile"></se-mobile>
  
  <div id="modal" ng-cloak>{% include 'angular/modal-templates.html' %}</div>
  
  <div id="animph"></div>{# For map animations #}

  {% compress js %} 
  <script src="{% static 'profiles/js/libraries/s3upload.js' %}" ></script>
  <script src="{% static 'profiles/js/ajax.js' %}"></script>    
  <script src="{% static 'profiles/js/address.js' %}"></script>    
  <script src="{% static 'profiles/js/tabs.js' %}"></script>    
  <script src="{% static 'profiles/js/templates.js' %}"></script>    
  <script src="{% static 'profiles/js/profile.js' %}"></script>
  <script src="{% static 'map/js/map.js' %}"></script>    
  <script src="{% static 'map/js/advanced_map.js' %}"></script>    
  <script src="{% static 'map/js/cluster.js' %}"></script>    
  <script src="{% static 'map/js/geometry.js' %}"></script>    
  <script src="{% static 'messaging/js/jquery.shiftenter.js' %}"></script>    
  <script src="{% static 'images/js/jquery.fancybox-1.3.4_patch2.js' %}"></script>
  <script src="{% static 'images/js/mini-exif.js' %}"></script>
  <script src="{% static 'images/js/s3upload.js' %}"></script>
  <script src="{% static 'images/js/uploader.js' %}"></script>
  <script src="{% static 'images/js/gallery.js' %}"></script>
  <script src="{% static 'locations/js/locations.js' %}"></script>
  <script src="{% static 'tags/js/jquery.tokeninput.js' %}"></script>
  <script src="{% static 'tags/js/tags.js' %}"></script>
  <script src="{% static 'tags/js/vegetables.js' %}"></script>
  <script src="{% static 'tags/js/tools.js' %}"></script>
  <script src="{% static 'tags/js/interests.js' %}"></script>
  <script src="{% static 'profiles/js/google-analytics.js' %}"></script>
  {% endcompress %}
  
  {# Our non-angular templates go after the content. #}
  <script id="template-photo-menu" type="x-text/template">{% include "modal/photo-menu.html" %}</script>
  <script id="template-tool-search" type="x-text/template">{% include "modal/tool-search.html" %}</script>
  
  {# We use an image with no alt text here to avoid any SEO issues; don't want the word "JavaScript" being somehow important for example. #}
  <noscript><img src="{% static 'profiles/img/nojavascript.png' %}" width="600" height="200" alt=""></noscript>

  {# This is not strictly used, but it's here in case we accidentally use it. #}  
  <ng-view></ng-view>
  
  {# This is for Facebook integration #}
  <div id="fb-root"></div>
</body>
</html>
{# endcache #}
{% endcollapsewhitespace %}