{% collapsewhitespace %}
{% load static from staticfiles %}
{% load compress %}
<!DOCTYPE html5>
<html>
<head>
<title>Shared Earth</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% compress css inline %}
<style>
body { font-family: 'Open Sans', sans-serif; background-color: #F4EDE9; font-size: 16px; }
div { background-color: #fff; color: #797B7D; border-top: 7px solid #40C4F2; border-bottom: 7px solid #00AB4F; max-width: 600px; padding: 32px; margin: 32px auto 32px auto; }
h1 { text-align: left; padding: 8px 0; font-family: 'Open Sans', sans-serif; font-size: 20px; }
a { color:#40C4F2; }
</style>
{% endcompress %}
</head>
<body>
<div>
<p><img src="{% static 'profiles/img/shared-earth-logo.png' %}"></p>
<h1>Sorry, Shared Earth does not support {{browser}} {{browser_version}}.</h1>
<p>You are seeing this message because Shared Earth is not compatible with the web browser you are using ({{ browser }} {{browser_version}}).
You may wish to <a href="https://browser-update.org/update.html">learn how to update your browser</a>.</p>
<p>In general, Shared Earth supports the current and prior major releases of Chrome, Firefox, Internet Explorer, Safari, and Opera.</p>
<p>As of {% now "F j, Y" %}, on desktop systems, Shared Earth supports:</p>
<ul>
<li>Internet Explorer 10 and later</li>
<li>Chrome 31 and later</li>
<li>Firefox 34 and later</li>
<li>Safari 7.1 and later</li>
<li>Opera 26 and later</li>
</ul>
<p>On mobile devices and tablets, Shared Earth supports:</p>
<ul>
<li>iOS Safari 7.1 and later</li>
<li>Android 4.4 Browser and later</li>
<li>Android 5.x WebView; Chromium 40 and later</li>
<li>Chrome for Android 42 and later</li>
<li>Opera Mini 8 and later</li>
</ul>
<p>If you are unable to upgrade your browser, please visit <a href="http://www.sustainableamerica.org/">Sustainable America</a> for other ways to cultivate the change that fuels our future.</p>
</div>
</body>
</html>
{% endcollapsewhitespace %}