{% collapsewhitespace %}
{% load static from staticfiles %}
{% load compress %}
<!DOCTYPE html5>
<html>
<head>
<title>Shared Earth Stats</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
table, th, td {
    border: 1px solid #AAA;
}
</style>
</head>
<body>

<h1>New users by month</h1>
<table>
{% for r in by_month %}
    <tr>
      <td>{{ r.date }}</td>
      <td>{{ r.count }}</td>
    </tr>
{% endfor %}
</table>

<h1>New users by day</h1>
<table>
{% for r in by_day %}
    <tr>
      <td>{{ r.date }}</td>
      <td>{{ r.count }}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>
{% endcollapsewhitespace %}