// Style the address list. This is a bit complex.
ul.address-list 
{
  @extend %no-select;
  
  // Styles for all locations
  > li
  {
    font-size: $sidebar-font-size;
    padding: $address-list-padding 0 $address-list-padding $address-list-padding;
    cursor: pointer;
    
    > div.location
    {
      @include flexbox;

      p
      {
        line-height: 1.25rem;
      }      

      > *
      {
        @include align-self(center);
      }

      > *.avatar
      {
        width: 48px;
        height: 48px;
        margin-right: $address-list-padding;
        cursor: pointer;
        border-radius: 48px;
      }

      > *.address
      {
        @include flex(1);
        @include align-self(center);
        height: auto;
      }
      
      > button
      {
        margin-left: $address-list-padding;
        margin-right: $address-list-padding;
      }
      
      > button.edit
      {
        background-image: url('../img/edit-gray-32.png');
        background-size: 16px 16px;
        background-color: transparent;
        background-repeat: no-repeats;
        color: $content-fg;
        width: 16px;
        height: 16px;
      }

      > button.delete
      {
        background-image: url('../img/delete-gray-16.png');
        background-size: 8px 8px;
        background-position: center; 
        //background-color: transparent;
        background-repeat: no-repeat;
        color: $content-fg;
        width: 12px;
        height: 12px;
        @include align-self(initial);
      }
    }
  }

  li:hover
  {
     background: $heading-bg;
  }
   
  // Styles for the active location only
  > li.active
  {
    background-color: $button-bg;
    color: $button-fg;

    > div.location
    {
      > button.edit
      {
        background-image: url('../img/edit-white-32.png');
      }

      > button.delete
      {
        background-image: url('../img/delete-white-16.png');
      }
    }
  }
}

form.address.top
{
  max-width: 30rem;
  margin: 0 auto;
}

form.address.bottom
{
  max-width: 20rem;
  margin: 0 auto;
}