
button.standard
{
  @extend %button-font;
  @extend %button-color;
  padding: $button-padding;
}

button.reskin.desktop
{
  background-color: $button-bg-color;
  color: $button-fg-color;
  padding: $button-padding;

  svg.icon + span
  {
    padding-left: $button-padding;
  }
  
  span
  {
    @extend %button-font;
  }
}
