div.connections
{
  div.group
  {
    h2
    {
      @extend %connections-heading-font;
    }
    
    p.explanation
    {
      margin-top: $connections-gap;
      @extend %connections-type-font;
    }
  
    table
    {
      width: 100%;
      
      td
      {
        padding: $connections-gap 0;
        border-bottom: 1px solid $rule-color;
      }
      
      td.img
      {
        width: $connections-avatar-width
      }
      
      td.buttons
      {
        width: $connections-button-width;
        
        button
        {
          @include flexbox;
          @include align-items(center);
          @extend %connections-button-size;
          @extend %button-font;
          @extend %button-color;          
        }
      }
      
      td.relevant-buttons
      {
        width: $connections-relevant-button-width;
        
        button
        {
          @extend %connections-relevant-button-size;
          @extend %button-font;
          @extend %button-color;
          text-align: center;          
        }
        
        button.subtle
        {
          @include flexbox;
          @include align-items(center);
          @extend %subtle-button-color;
          text-align: left;
        }
      }
      
      .avi
      {
        @extend %connections-avatar;
      }
      
      h3
      {
        @extend %connections-name-font;
      }
  
      p
      {
        @extend %connections-type-font;
      }  
    }    
  }
  
  div.group + div.group
  {
    margin-top: $connections-gap;
  }
}