// Form styling

article
{
  div.location-results-buttons + form
  {
    margin-top: $form-top-margin;
  }
  
  form + form
  {
    margin-top: $form-top-margin;
  }
}


article form, form.full-width
{
  input[type='text'], input[type='email'], input[type='password'], textarea, select
  {
    style: block;
    font-family: $body-font;
    font-weight: $body-font-weight;
    font-size: $main-font-size;
    color: $content-fg;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $rule-color;
  }
  
  /*input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus, select:focus
  {
    box-shadow: 0 0 5px $button-bg;
    border: 1px solid $button-bg;    
  }*/
  
  label
  {
    margin-left: 20px;
  }
  
  label > input[type='checkbox'], label > input[type='radio']
  {
    display: inline-block;
    margin-left: -20px;
    margin-right: 7px;
  }
  
  input:disabled
  {
    background-color: $heading-bg;
    border: 1px solid rgb(169, 169, 169);
  }
  
  textarea
  {
    resize: vertical;
  }
  
  h3
  {
    display: block;
    @extend %form-heading-font;
    @extend %form-heading-size;
    @extend %form-heading-colors;
  }
  
  > div:first-child h3
  {
    margin-top: 0;
  }
  
  > h3:first-child
  {
    margin-top: 0;
  }  

  label
  {
    display: block;
    @extend %body-font;
    color: $text-fg-color;
  }
  
  p
  {
    @extend %body-font;
    display: block;
  }
  
  h3 + p
  {
    margin-bottom: $form-bottom-margin
  }
  
  ul.photos
  {
    margin-bottom: i2b(-20);
  }

  ul.photos li
  {
    padding: i2b(20) i2b(20) i2b(20) 0;
    display: inline-block;
  }

  ul.photos li .img
  {
    width: 120px;
    height: 120px;
    background-size: cover;
    display: inline-block;
  }
  
}

