body > header
{
  @extend %header-color;
  @extend %header-size;
  
  // box-shadow: inset 0 8px 8px -8px #554e4e, inset 0 -8px 8px -8px #554e4e;

  > ul
  {
    width: $min-content-width;
    height: 100%;
    margin: 0 auto 0 auto;
    @include flexbox;
    @include align-items(center);

    > li
    {
      background-color: transparent;
      @extend %header-font;
    }

    > li.logo
    {
      @include flex(1); // Expand
      cursor: pointer;
    }

    li.settings
    {
      width: 18px;
      
      background-image: url('../img/settings-white-36.png');
      background-size: 18px 18px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: left center;
      @include align-self(flex-start);
      cursor: pointer;
    }

    li.messages
    {
      min-width: 24px;
      @include align-self(center);
      cursor: pointer;
      
      svg
      {
        display: inline-block;
        width: 24px;
        height: 24px;
      }
      
      // Icon color
      g.monochrome path, rect, circle 
      {
        fill: $text-fg-color;
      }  
    }

    img.avatar
    {
      display: block;
      width: 30px;
      height: 30px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 15px;
    }
    
    .messages-count-outer
    {
      margin-left: -10px;
      cursor: pointer;
    }

    .messages-count
    {
      cursor: pointer;
      background: red;
      color: #fff;
      font-size: 11px;
      border: 1px solid red;
      border-radius: 9px;
      min-width: 9px;
      margin-bottom: 10px;
      padding: 2px;
      text-align: center;
    }
  }
}
