
.photo_options
{
  text-align:center;
  margin: 0 -200px 0 -200px;

  button 
  {
    font-size:11px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    margin:6px 2px 6px;
  }
  
}

div.unstyled
{
  margin: 0;
  padding: 0;
}



.single-map-note 
{
  @extend %no-select;
  background: white;
  width:280px;
  padding:20px;
  padding-right: 0;
  color: $content-fg;
  overflow: hidden;
  
  div.map-name
  {
    @include flexbox;
    @include align-items(center);
  }
  
  img.avi 
  {
    width:30px;
    height:30px;
    margin:0 6px 0 0;
    display:block;
    border-radius:15px;
  }
  
  h2
  {
    font-size:16px;
    line-height:30px;
    font-weight:bold;
    display:block;
    @include flex(1);
  } 
  
  button.message 
  {
    font-size:11px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    background-image:url(../img/messages-white-36.png);
    background-repeat:no-repeat;
    background-size:16px;
    background-position:93% center;
    color: white;
    padding:0px 30px 0px 10px;
    margin:3px 0 0 6px;
  } 
  
  button.profile 
  {
    font-size:11px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    margin:3px 0 0 0px;
  }   
  
  .map-bio
  {
    clear:both;
    padding:10px 0px 10px 15px; 
  }
  
  li
  {
    font-size:12px;
    line-height:16px;
    margin-bottom:6px;  
  }
  
  .bio-profile
  {
    font-size:12px;
    text-transform:uppercase;
    display:block;
    float:right;
    margin-top:20px;
  }
  
  .map-bio a, .map-bio a:visited
  {
    color: $link-dk;
  }
  
  .map-note-nav 
  {
    text-align:center;
  } 
  
  b
  {
    font-weight: 600;
  }
  
    
  button.back
  {
    font-size:22px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    margin:2px 0 0 0px;
    display:block;
    float:right;
  } 
}




.multi-map-note 
{
  @extend %no-select;

  background: white;
  width:300px;
  margin:20px;
  padding:0px 0px;
  color: $content-fg;
  display:block;
  
  .map-name
  {
    display:block;
    width:230px;
    clear:both;
    padding:10px 20px;
    height:30px;
    border-bottom:1px solid #D0D2D3;
    cursor: pointer;
    
    @include flexbox;
    @include align-items(center);
    
    h2
    {
      @include flex(1);
    }
  }
  
  .map-name:last-child
  {
    border: 0;
  }
  
  .map-name:hover 
  {
    background:#efefef;   
  } 
  
  img.avi 
  {
    width:30px;
    height:auto;
    margin:0 6px 0 0;
    display:block;
    border-radius: 30px;
  }
  
  h2
  {
    font-size:18px;
    line-height:30px;
    font-weight:400;
    display:block;
    margin:0 0 10px 20px
  } 
  
  .map-name h2
  {
    font-size:14px;
    display:block;
  } 
  
  
  button.next
  {
    font-size:22px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    margin:2px 0 0 0px;
    display:block;
  }
  
}



.place
{
  background: white;
  padding:20px;
  
  .avi {
    width:64px;
    height:auto;
    display:inline-block;
    margin-right:10px;
    vertical-align:middle;
    border-radius: 32px;
    }
    
  h2
  {
      font-family: $heading-font;
    font-size: $h2-font-size;
    line-height:64px;
    color: $heading-fg;
    display:inline-block;
    width:100%;
  }
  
  p
  {

    font-family: $body-font;
    font-weight: $body-font-weight;
    font-size: $main-font-size;
    color: $content-fg;
    line-height: 1.25rem;
    margin-bottom:10px;
  }
  
  button.message 
  {
    font-size:11px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    background-image:url(../img/messages-white-36.png);
    background-repeat:no-repeat;
    background-size:16px;
    background-position:93% center;
    color: white;
    padding:0px 30px 0px 10px;
    margin:20px 0 0 6px;
    float:right;
  } 
  
    button.profile 
  {
    font-size:11px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    margin:20px 0 0 0px;
    float:right;
  }   
  
  
  .profile-content {
    clear:both;
    display:block;
    margin:20px 0 0 32px;
    box-sizing: border-box;

    }
  
  h3
  {
      @extend %body-font;
      display: block;
      background-color: $heading-bg;
      color: $heading-fg;
      padding: 0.5rem;
      margin: 1rem 0 1rem 0;  
    }
    
    .places-col {
      display:inline-block;
      width:50%;



      .place 
      {
       display:block;
       width:100%;
       margin:10 0px;
       clear:both;
       
       .avi 
       {
        width:32px;
        height:auto;
         
       }
       
       h4 
       {
          font-family: $heading-font;
          font-weight: $heading-font-weight;
          font-size: $h4-font-size;
        line-height:32px;  
      }
  
    }
  
  }
  
  .stack {
    width:49%;
    display:inline-block;
    vertical-align:top;
    box-sizing: border-box;
    border:1px solid $heading-bg;
    margin-bottom:10px;
  
    
    h4
    {
    font-family: $subhead-font;
    font-size: 14px;
    font-weight: $subhead-font-weight;
      display: block;
      background-color: $heading-bg;
      color: $heading-fg;
      padding: 0.5rem;
      margin: 0 0 0.5rem 0; 
    } 
    
    p
    {
    font-family: $body-font;
    font-weight: $body-font-weight;
    font-size: 12px;
    color: $content-fg;
    line-height: 1.25rem;
    margin-bottom:10px;
    padding:6px;
    }
    
    a
    {
    font-family: $body-font;
    font-weight: $body-font-weight;
    font-size: 12px;
    color: $link-fg;
    line-height: 1.25rem;
    margin-bottom:10px;
    }
  }
  
  .options div:nth-of-type(even)
  {
    margin-left:1%; 
  }
  
  .options div:nth-of-type(odd)
  {
    margin-right:1%;  
  } 
    
  .fix-200 
  {
    height:200px;
  }
  
  b
  {
    font-weight: 600;
  }
  
  div#tiny-map
  {
    position: relative;
    width: 49%;
    height: 200px;
    float: right;
  }
   
  ul.photos li
  {
    padding: 0.25rem;
    display: inline-block;
  }

  ul.photos li .img
  {
    width: 120px;
    height: 120px;
    background-size: cover;
    display: inline-block;
  }   
}


.map-advance-search 
{
  background: white;
  padding:20px;
  font-size:14px;
  line-height:18px; 
  
  
  h2
  {
      font-family: $heading-font;
    font-size: $h2-font-size;
    margin-bottom:20px;
  }
    
  table 
  {
    width:100%;
  }
  
  table td 
  {
    line-height:40px;
    vertical-align: middle;
  }
  
  table td.left
  {
    width:300px;
  }
    
  
  .tag-input 
  {
    display:block;
    color: #797B7D;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    height:36px;
    padding:0;
    margin:5px 0 10px 0;
    width:100%;
  }
  
  .match {
    line-height:40px;
    }
  
  .scope-all {
    margin-left:20px;
    }
}



div.modal_search
{
  width:800px;
  background-color: white;
  margin:0 auto;
  
  
  h2
  {
    font-size:24px; 
  }
  
  p
  {
    text-align:center;
    font-size:13px;
    padding: 10px 20px;
  }
  
  
  button 
  {
    font-size:11px;
    text-transform:uppercase;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    margin:3px 5px 0 0px;
  }
  
  .process 
  {
    text-align:right; 
  }
  
}