%nav-item
{
  @extend %nav-font;
  @extend %nav-spacing;
  @extend %nav-item-inactive-color;
}

main > aside
{
  @include flexbox;
  @include flex-dir(column);
  width: $left-column-width;
  
  @include flex(0 0 $left-column-width);
  
  > nav > ul
  {
    @extend %no-select;
    cursor: pointer;
    
    > li
    {
      @extend %nav-item;
      @include flexbox;
      @include align-items(center);
      
      svg
      {
        width: $nav-icon-size;
        height: $nav-icon-size;
        @include flex(0 0 $nav-icon-size);
      }
      

      span.menu-text
      {
        @include flex(1);
      }

      .alert-count
      {
        background: red;
        color: #fff;
        font-size: 9px;
        border: 1px solid red;
        min-width: 12px;
        height: 12px;
        font-weight: $subhead-font-weight; 
        line-height: 12px;
        border-radius: 12px;
        padding: 3px;
        text-align: center;
      }      
    }
    
    > li.selected { @extend %nav-item-active-color; }
    > li.selected:hover { @extend %nav-item-active-color; }
    > li:hover { @extend %nav-item-hover-color; }
  }
  
  > section
  {
    @extend %current-user-font;
    @extend %current-user-spacing;
    @extend %current-user-color;
  }
}
