

div.location-results-buttons
{
  @include flexbox;

  button
  {
    @extend %search-button-size;
    @extend %button-font;
    @extend %button-color;
    text-align: center;
  }
  
  button + button
  {
    margin-left: $search-button-gap-map;
    margin-bottom: $main-padding; // This is different from Grace's design--she actually had a NEGATIVE margin
  }
}

div.location-results
{
  table
  {
    width: 100%;
    
    tbody
    {
      cursor: pointer;
      border-bottom: 1px solid $rule-color;
    }
    
    td.img
    {
      padding-left: $list-side-padding;
      padding-right: $list-icon-padding-right;
      width: ($list-side-padding + $list-icon-size + $list-icon-padding-right);
    }
    
    tbody:hover
    {
      background: $heading-bg;   
    }
    
    tbody
    {
      tr.top td { height: $list-item-height / 2; vertical-align: bottom; }
      tr.bottom td { height: $list-item-height / 2; vertical-align: top; }
      tr td.full { height: $list-item-height; vertical-align: middle; }
    }
    
    tr.bottom td { width: 25%; }
    
    td.name h2
    {
      @extend %list-name-font;
    }
    
    td.distance, td.location, td.city
    {
      padding-top: $list-bottom-pushdown;
      @extend %list-detail-font;
    }
      
    td.buttons
    {
      min-width: $list-button-size;
      width: 10%;
      padding-right: $list-side-padding;

      div
      {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
      }
    }
    
    h2, p
    {
      padding: 0;
      margin: 0;
    }
    
    
    img.avi
    {
      width: $list-icon-size;
      height: $list-icon-size;
      border-radius: $list-icon-size / 2;
    }
    
    button
    {
      @include flexbox;
      @include align-items(center);
            
      @extend %list-button-size;
      @extend %button-font;
      @extend %button-color;
    }
    
    button + button
    {
      margin-top: $list-button-gap;
    }
  }
}

p.no-matches
{
  @extend %no-matches-font;
}