div#map-canvas
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.angular-google-map
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.angular-google-map-container
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div#map-type
{
  @extend %no-select;

  @include flexbox;
  @include flex-dir(column);
  
  @extend %search-options-margins;

  label
  {
    display: block;
  }
  
  button
  {
    @extend %search-button-size;
    @extend %button-font;
    @extend %button-color;
    text-align: center;
    box-shadow: 0px 1px 3px #888888;
  }
  
  button + button
  {
    margin-top: $search-button-gap-map;
  }
}
