// Fit Google autocomplete box
form.address
{
  font-size: 0;
  
  input
  {
    width: 100%;
    margin-top: 1rem;
    font-family: $body-font;
    font-weight: $body-font-weight;
    padding: 0.25rem;
  }
  
  button
  {
    cursor: pointer;
  }
}

/*form.bottom
{
  min-height: 12rem;
}*/

// Make the Google Maps autocomplete box font match our font
.pac-container
{
  font-family: $body-font;
  font-weight: $body-font-weight;
}
