#conversations-list
{
  ul
  {
    @extend %no-select;
    
    > li
    {
      font-size: $sidebar-font-size;
      padding: $address-list-padding 0 $address-list-padding $address-list-padding;
      cursor: pointer;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $rule-color;

      > div.conversation
      {
        @include flexbox;
        @include align-items(center);
        
        > *
        {
          @include align-self(center);
        }
        
        > .avatar
        {
          width: 40px;
          height: 40px;
          margin-right: $address-list-padding;
          cursor: pointer;
          border-radius: 20px;
        }
        
        > .name
        {
          @include flex(1);
        }
        
        > .buttons
        {
          @include flexbox;
          @include flex-wrap(wrap);
          @include flex-direction(column);
          @include align-items(center);
          
          button
          {
            background-color: $button-bg;
            color: $button-fg;
            text-transform: uppercase;
            padding: 0.25rem;
            margin: 0.125rem;
            border: 1px solid mix($button-bg, $button-fg, 50%);
            width: 5.5rem;
            
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            
            svg
            {
              margin: 0;
              path, rect
              {
                fill: $button-fg;
              }
              display: block;
            }
            
            span
            {
              font-size: 80%;
              display: block;
              line-height: auto;
              vertical-align: middle;
              height: auto;
            }
          }
        }
        
        > .new-messages
        {
          background: red;
          color: #fff;
          font-size: 11px;
          line-height: 20px;
          height: 20px;
          border-radius: 18px;
          min-width: 20px;
          text-align: center;
          margin-right: 1rem;      
        }

      }
    }

    > li.active
    {
      background-color: $button-bg;
      color: $button-fg;    
    }
  }
  
}

article > section > div.messages.fit
{
  padding-top: $main-padding;
  background-color: white;
}

#mobile-messages
{
  height: 100%;
}

.messages-pad-left
{
  margin: $messages-header-height $main-padding 0 $main-padding;
}

.messages-pad-right
{
  margin: 0 $main-padding 0 0;
}

#messages-right, #mobile-messages
{
  @include flex(1);
  @include flexbox;
  @include flex-dir(column);  
  background-color: white;
  
  #messages-header
  {
    @include flexbox;
    @include flex(0 0 $messages-header-height);
    @include align-items(flex-start);
    @include justify-content(space-between);
    
    h2
    {
      @include flex(1);
      @extend %messages-heading-font;
      height: $messages-header-height;
    }
    
    button
    {
      @include flexbox;
      @include align-items(center);
      @extend %messages-button-size;
      @extend %button-font;
      @extend %button-color;
      text-align: center;
    }
    
    button + button
    {
      margin-left: $messages-button-gap;
    }
  }
    
  #messages-top
  {
    @include flexbox;
    @include flex(1);
    @include flex-dir(column);
    //padding: 0.5rem 1rem 0 1rem;
    overflow: hidden;
    
    #messages-scroller
    {
    @include flex(1);
      vertical-align: bottom;
            
      border: 1px solid $rule-color;
      overflow-y: scroll;
      font-size: 12pt;
      padding: 0 0.25rem;
      
      .message
      {
        padding: 0.25rem;
        margin-top: 0.25rem;
        clear: both;
        @include flexbox;
        @include align-items(center);
        word-wrap: break-word;
        
        p
        {
          padding: 0;
          margin: 0;
          font-size: 11pt;
        }
        
        img.avatar
        {
          width: 20px;
          height: 20px;
          border-radius: 10px;
        }
      }
      
      .message.to-you img.avatar
      {
        margin-right: 0.5rem;
        @include order(0);
      }
      
      .message.from-you img.avatar
      {
        margin-left: 0.5rem;
        @include order(3);
      }        
      
      .message-text
      {
        white-space: pre-wrap;
        @include flex(1);
        @include order(1);
      }      
        
      .message.to-you
      {
        text-align: left;
        @extend %messages-to-you-color;
      }
      
      .message.from-you
      {
        text-align: right;
        @extend %messages-from-you-color;
      }        
    }
  }
  
  #messages-bottom
  {
    @include flex(0 0 $messages-footer-height);
    margin-top: $messages-gap;
    div.shiftenter,
    div.shiftenterInactive {
        position: absolute;
        z-index: 1;
        
        font-size: 0.8em;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    div.shiftenter {
        display: inline-block;
    }
    div.shiftenterInactive {
        display: none;
    }
      
    //padding: 1rem;
    overflow: hidden;

    form
    {
      @include flexbox;
      @include flex-direction(row);
      @include align-items(center);
      
      textarea
      {
        @include flex(1);
        resize: none;
      }
      
      textarea.mobile-textarea
      {
        height: auto;
      }
      
      button
      {
        @include flexbox;
        @include align-items(center);
        @extend %messages-send-button-size;
        @extend %button-font;
        @extend %button-color;
      }
    }
  }
}