//
// Dimensions are inline for faster prototyping. Can move out later.
// 

#mobile-conversations-list
{
  ul
  {
    li
    {
      div.conversation
      {
        padding: i2b(18) 0 i2b(10) 0;
        border-bottom: 1px solid $rule-color;
        
        div.top
        {
          @include flexbox;
          @include align-items(center);
          
          img.avatar
          {
            width: i2b(48);
            height: i2b(48);
            border-radius: i2b(24);
          }
          
          div.name
          {
            @extend %mobile-subheader-font;
            margin-left: i2b(16);
          }
          
          div.new-messages
          {
            background: red;
            color: #fff;
            font-size: 11px;
            border: 1px solid red;
            min-width: 14px;
            height: 14px;
            font-weight: $subhead-font-weight; 
            line-height: 14px;
            border-radius: 14px;
            padding: 4px;
            text-align: center;
            margin-left: 9px;
          }     
          
        }
        
        
        div.buttons
        {
          @include flexbox;
          @include justify-content(flex-end);
          
          button
          {
            @include flexbox;
            @include align-items(center);
            @extend %messages-button-size;
            @extend %button-font;
            @extend %button-color;
            text-align: center;
          }
          
          button + button
          {
            margin-left: i2b(9);
          }
        }
      }
   }
  }
}
