
$mobile-header-height: 40px;
$mobile-icon-height: 28px;
$mobile-icon-gap: 6px;

.mobile.ios84
{
  height: calc(100% - 44px);
}

.mobile
{
  position: absolute;
  width: 100%;
  height: 100%;
  
  background-color: $page-bg-color;
  
  div.location-results td.buttons.full 
  {
    min-width: i2b(32.615);
    button
    {
      width: i2b(32.615);
      
      span
      {
        display: none;
      }
    }
  }
  
  > div.header
  {
    z-index: 100;
    position: relative;
    width: 100%;
    height: $mobile-header-height;
    overflow: hidden;
    @extend %no-select;
    
    > ul
    {
      list-style-type: none;
      @include flexbox;
      
      > li
      {
        display: inline-block;
        height: $mobile-header-height;
        @include flex(1);
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        margin-right: $mobile-icon-gap;
        cursor: pointer;  // This doesn't make a whole lot of sense on mobile, but, eh. 
        text-align: center;
        
        svg
        {
          width: $mobile-icon-height;
          height: $mobile-icon-height;
        }
        
        @extend %nav-item-inactive-color;
        
        > div.alert-count
        {
          margin-left: -12px;
          margin-top: 2px;
          background: red;
          color: #fff;
          font-size: 9px;
          border: 1px solid red;
          min-width: 12px;
          height: 12px;
          font-weight: $subhead-font-weight; 
          line-height: 12px;
          border-radius: 12px;
          padding: 3px;
          text-align: center;     
          z-index: 100;      
        }
      }
      
      > li:last-child
      {
        margin-right: 0;
      }
      
      > li.selected
      {
        @extend %nav-item-active-color;
      }
    }
  }

  > div.subheader
  {
    height: $mobile-header-height;
    margin-top: $mobile-icon-gap;
    background-color: $button-bg;
    pointer: cursor;
    
    @include flexbox;
    @include align-items(center);
    @extend %no-select;
    
    > div#mobileTabText
    {
      @extend %mobile-header-font;
      
      color: white;
      line-height: $mobile-header-height;
      height: $mobile-header-height;
      @include flex(1);
    }    
  }

  
  > div.main
  {
    z-index: 0;
    
    position: absolute;
    top: 2 * ($mobile-header-height + $mobile-icon-gap);
    left: 0;
    bottom: 0;
    right: 0;

    > article
    {
      position: absolute;
      background-color: white;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      
      z-index: 0;
      
      font-size: 12pt;
      
      overflow: hidden;
    }
    
    div.map-container
    {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    
    > article.scroll
    {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      padding: 0.5rem;
    }
    
    > article.top
    {
      z-index: 100;
    }
  }
  
  #conversations-list
  {
    margin: $box-padding; 
  }
  
  .mobile-message-container
  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    @include flexbox;
    @include flex-direction(column);
  }
}
