div#modal
{
  z-index: 1000;
}

div#modal_hide
{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: #000;
  opacity: 0.7;
}

div#modal_content
{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: 2000;
  
  > div
  {
     display: table;
     width: 100%;
     height: 100%;
    
    > div
    {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      
      > div
      {
        margin: 0 auto !important;
        box-shadow: 0 0 20px #333;
        
        header ul
        {
          padding-left: 0.5rem; 
        }
      }
    }
  }
}

div.modal-box
{
  @include flexbox;
  @include flex-dir(column);
  
  font-size: 12pt;
  height: auto;
  overflow: hidden;
  
    -webkit-animation: show-modal 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: show-modal 1s; /* Firefox < 16 */
        -ms-animation: show-modal 1s; /* Internet Explorer */
         -o-animation: show-modal 1s; /* Opera < 12.1 */
            animation: show-modal 1s;  
  
  box-sizing: border-box;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  
  background-color: $content-bg;
  color: $content-fg;
  border-top: 0.5rem solid $dark-blue;
  border-bottom: 0.5rem solid $dark-green;  
  
  p
  {
    padding: 0.25rem;
  }
  
  p + p
  {
    margin-top: 1rem;
  }
  
  h2
  {
    margin-bottom: 2rem;
  }
  
  
  form.full-width
  {
    button
    {
      font-size:12pt;
      color: $button-fg;
      background: $button-bg;
      padding:6px;
      display:block;
      margin:8px auto 20px;
      width: 100%;
      text-align: center;
    }

  
    width: 80%;
    margin: auto;
    
    > div > h3
    {
      background-color: $content-bg;
      color: $content-fg;
      @extend %body-font;
    }
    
    input
    {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    } 
  }
  
  div.spacer
  {
    height: 1rem;
  }

  button.facebook-login
  {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    width: auto;
    margin: 0 auto;
    max-width: 80%;
    //width: 351px;
    
    img
    {
      border: 0;
      padding: 0;
      margin: 0;
      max-width: 100%;
      height: auto;
    }
    
  }    

}



@keyframes show-modal {
    from { max-height: 0; }
    to   { max-height: 100%; }
}

/* Firefox < 16 */
@-moz-keyframes show-modal {
    from { max-height: 0; }
    to   { max-height: 100%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes show-modal {
    from { max-height: 0; }
    to   { max-height: 100%; }
}

/* Internet Explorer */
@-ms-keyframes show-modal {
    from { max-height: 0; }
    to   { max-height: 100%; }
}

/* Opera < 12.1 */
@-o-keyframes show-modal {
    from { max-height: 0; }
    to   { max-height: 100%; }
}


div.modal_signup
{
  width:400px;
  background-color: white;
  margin:0 auto;
  
  img:nth-of-type(1) 
  {
    width:200px;
    height:auto;
    margin:10px auto;
    display:block;
  }
  
  img:nth-of-type(2)
  {
    width:240px;
    height:auto;
    margin:20px auto 10px;
    display:block;
  }
  
  h2
  {
    text-align:center;
    font-size:24px; 
  }
  
  p
  {
    text-align:center;
    font-size:13px;
  }
  
  form input 
  {
    width:240px;
    font-size:16px;
    padding:6px;
    display:block;
    margin:6px auto;
  }
  
  button 
  {
    font-size:14px;
    line-height:24px;
    text-transform:uppercase;
    color: $button-fg;
    background: $button-bg;
    padding:6px;
    display:block;
    margin:8px auto 20px;
    padding:0px 10px 0px 10px;
  }
  
  p a
  {
    color: $link-dk;
    padding-bottom:20px;
    display:block;
  }
  
}


div.modal_delete
{
  width:400px;
  background-color: white;
  margin:0 auto;
  padding-bottom: 1rem;
  
  header 
  {
    margin-bottom:40px;
  } 
  
  h2
  {
    text-align:center;
    font-size:24px; 
    padding: 0 1rem; 
  }
  
  h3
    {
    text-align:center;
    font-size:20px; 
    margin:30px 0;
  }
  
  p
  {
    text-align:center;
    font-size:13px;
    padding: 10px 20px;
  }
  
  button 
  {
    font-size:16px;
    color: $button-fg;
    background: $button-bg;
    padding:6px;
    display:block;
    margin:8px auto 20px;
    width:80%;
  }
  
  button.alert {
    background: $alert-bg;
  }
}
