button.land
{
  background-size: 48px 48px;
  background-position: center top;
  background-color: $content-bg;
  background-repeat: no-repeat;
  border: 0;
  margin: 0;
  width: 50%;
  margin-top: 1rem;
  padding-top: calc(48px + 0.25rem);
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: 10pt;
  cursor: pointer;
  text-align: center;
}

button.have
{
  background-image: url('../img/have-land-96.png');
}

button.need
{
  background-image: url('../img/need-land-96.png');
}
