// Error page

html.no-js > body
{
  > main, > header
  {
    visibility: hidden;
  }

  noscript
  {
    font-weight: bold;
    visibility: visible;
    display: block;
    font-size: 12pt;
    background-color: #FF6347;
    color: #FFFFFF;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 16pt;
    text-align: center;

    a, a:visited { color: #FF0; }
  }
}

// This is technically redundant, but won't hurt.
html.js noscript
{
  display: none;
}
