body
{
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  min-height: $min-content-height;
  margin: 0;

  @extend %body-font;
  font-size: 0; // This prevents any errant spaces in the HTML from affecting things  
  @extend %page-body-color;
  @include flexbox;
  @include flex-dir(column);
}

main
{
  position: relative;
  min-width: $min-content-width;
  margin: 0 $edge-gap $edge-gap $edge-gap;

  @include flexbox;
  @include flex-dir(row);
  @include flex(1);
  @include justify-content(center);
  
  max-height: calc(100% - #{$column-gap} - #{$edge-gap} - #{$edge-gap});
}

main > article
{
  margin-left: $column-gap;
}

[ng\:cloak],[ng-cloak],.ng-cloak
{
  display: none !important;
}
