.place_profile
{
  button
  {
    background-color: $button-bg;
    color: $button-fg;
    padding: 0.5rem;
  }
  
  button.back
  {
    font-size:22px;
    line-height:24px;
    background-color: $button-bg;
    color: white;
    padding:0px 10px 0px 10px;
    display:inline-block;
    float: left;
  } 

  button.message 
  {
    font-size:11px;
    line-height:24px;
    background-color: $button-bg;
    background-image:url(../img/messages-white-36.png);
    background-repeat:no-repeat;
    background-size:16px;
    background-position:10% center;
    padding:0px 10px 0px 30px !important;    
  }   
  
  .buttons1
  {
    position: absolute;
    right: calc(2rem + 323px);
    top: calc(200px - 12px);
  }
  
  .buttons2
  {
    position: absolute;
    right: calc(2rem + 323px);
  }
  
  
  .header
  {
    h2
    {
      @extend %profile-heading-font;
      margin: 0;
      padding: 0;
    }
    
    h2 + p
    {
      margin: 0;
      padding: 0;
    }
    
    p
    {
      font-size: 12pt;
    }

    @include flexbox;
    @include align-items(center);

    img.avi
    {
      @include flex(0 0 60px);
      height: 60px;
      border-radius: 60px;
      margin-right: 10px;
      border: 6px solid mix(#F75800, #FFFFFF, 30%);
    }
    
    img.avi.self
    {
      border: 6px solid $self-bg-color;
    }
      
    div.name
    {
      @include flex(0.5 0 100px);
      @include flexbox;
      @include flex-dir(column);
      
      *
      {
        padding: 0.2rem;
      }
      
      h2
      {
        text-align: left;
      }
    }
 
  }


  .profile-content
  {
    margin-top: 1rem;
    
    div#tiny-map
    {
      min-width: 150px;
      height: 200px;
      margin: 0.5rem 0.5rem 1.0rem 0.5rem;
    }
    
    h3
    {
      @extend %profile-heading-font;
      @extend %profile-heading-colors;
      padding: 0.25rem;
    }
    
    p
    {
      font-size: $main-font-size;
      padding: 0.25rem;
      margin: 0.25rem;
    }
    
    p + h3
    {
      margin-top: 1.0rem;
    }
    
    b
    {
      font-weight: 600;
    }
  }
  
  ul.gardens + h3
  {
    margin-top: 1rem;    
  }
  
  ul.gardens
  {
    font-size: $main-font-size;
    
    li
    {
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      
      span
      {
        @include flex(1);
      } 
      
      button
      {
        font-size:22px;
        text-transform:uppercase;
        background-color: $button-bg;
        color: white;
        padding:0px 10px 0px 10px;
        margin:15px 0 0 0px;
        display:block;
      }
    }
    
    li + li
    {
     border-top:1px solid #D0D2D3;
     padding-top: 0.5rem; 
    }
    
    
    img.avi
    {
      display: inline-block;
      vertical-align: middle;
      height: 60px;
      width: 60px;
      border-radius: 30px;
      margin-right: 0.5rem;
    }
  }
}