.resources
{
  h3
  {
    display: block;
    @extend %resources-heading-font;
    @extend %resources-heading-size;
    @extend %resources-heading-colors;
  }

  .resource
  {
    @extend %resource-size; 
    
    h4
    {
      font-size: $h4-font-size;
      display:block;
      margin-bottom:5px;
    }
  
    p
    {
      font-weight: $body-font-weight;
      font-size: $main-font-size;
    }
    
    a 
    {
      font-family: $subhead-font;
      font-weight: $link-font-weight;
      font-size: $h4-font-size;
      color: $link-dk;  
      display:block;
      margin:5px 0 10px 0;
    }
    
    a:visited
    {
      color: $link-dk;
    }
  }
}
