article
{
  @include flex(0 1 50rem);
  @include flexbox;
  @include flex-dir(column);
  transition: 0.2s;
  opacity: 1;
  
  position: relative;
  
  header
  {
    cursor: default;
    @extend %main-heading-size;
    @include flexbox;
    @include align-items(center);
    @extend %no-select;
    @extend %main-heading-color;
    
    p
    {
      @include flex(1);
      @extend %heading-font;
    }
    
    div.button
    {
      > svg.arrow
      {
        .line
        {
          fill: white;
          transition: 0.2s;
        }
        
        .left
        {
          transform: translate(58px, 48px) rotate(-45deg);
        }
        
        .right
        {
          transform: translate(38px, 48px) rotate(45deg);
        }
      }
    }
    
    div.button.down
    {
      > svg.arrow
      {
        .left
        {
          transform: translate(48px, 48px) rotate(-45deg);
        }
        
        .right
        {
          transform: translate(48px, 48px) rotate(45deg);
        }
      }
    }
  }

  div.overlay
  {
    background-color: white;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(100% - 2rem - 1px);
    z-index: 200;
    opacity: 1;
  }
  
  div.overlay.top
  {
    z-index: 300;
  }  
  
  div.overlay.scroller
  {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  div.overlay.short
  {
    height: 0;
    opacity: 0;
  }
  
  section
  {
    position: absolute;
    /*position: relative;    
    margin-bottom: 0;
    padding: $box-padding;
    padding: 0;
    margin-bottom: -2rem;
    height: 2rem;*/
    
    left: 0;
    top: $main-heading-total-height;
    bottom: 0;
    background-color: tomato;
    right: 0;
    
    h2
    {
      padding-top: 0.5rem;
      color: $content-fg;
    }
    
    > div
    {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: $main-padding;
      top: 0;
      background-color: $content-bg;
      color: $content-fg;
      z-index: 0;
      overflow: hidden;
              
      div.overlay
      {
        background-color: white;
        overflow: hidden;
        position: absolute;
        right: 0;
        left: 0;
        height: 100%; // calc(100% - 2rem - 1px);
        z-index: 100;
        opacity: 1;
        padding: $main-padding;
        box-sizing: border-box; 
      }
     
      div.overlay.scroller
      {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
      
      div.overlay.low
      {
        z-index: 50;
      }
      
      div.overlay.short
      {
        height: 0;
        opacity: 0;
      }
    }
    
    > div.fit
    {
      padding: 0;
    }
    
    > div.messages
    {
      @include flexbox;
      
      > aside
      {
        width: 12rem;
      }
      
      > div
      {
        @include flex(1)
      }
      
        
    }
    
    
    > div.scroller
    {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    
    > div.selected
    {
      z-index: 100;
    }
  }
}

article + article
{
  @include flex(0 1 30rem);
}

div.new-address
{
  width: 50%;
  margin: 0 25% 1rem 25%;
  padding: 1rem 0;
}

div.mobile-address
{
}

div.padded
{
  padding: $main-padding;
}

div.my-locations, article.mobile-choose-address
{
  h2
  {
    @extend %form-heading-colors;
    @extend %form-heading-font;
    @extend %form-heading-size;
  }
  
  h2:first-child
  {
    margin-top: 0;
  }
}

article.mobile-choose-address
{
  display: block;
}

div.mobile-choose-address div, div.mobile-choose-address h2
{
  text-align: center;
}

div.mobile article.connections h2
{
  padding-top: 1rem;
}

div.mobile article.connections table h2
{
  padding: 0;
} 

div.my-locations
{
  table h2
  {
    text-align: left;
  }
}


article.gone
{
  @include flex(0 0 0rem);
  margin: 0;
  padding: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  
  div.scroller
  {
    padding: 0;
  }
}
