form.search-options
{
  p
  {
    color: $text-fg-color;
    @extend %body-font;
    padding: $form-bottom-margin 0 0 0;
  }
  
  .tags
  {
    padding: $form-bottom-margin 0;
  }

  div.spacer
  {
    height: $form-bottom-margin;
  }
}