$tag-font-size: 0.8rem;
$dropdown-font-size: 0.8rem;

/* Example tokeninput style #2: sharedearth style */
ul.token-input-list-sharedearth
{
    @extend %no-select;

    color: $content-fg;
    overflow: hidden; 
    height: auto !important;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $input-border-color;
    cursor: text;
    font-size: $tag-font-size;
    font-family: $body-font;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 2px;
    background-color: #fff;
    list-style-type: none;
    clear: left;

  li input {
      border: none;
      padding: 0.25rem 0.25rem;
      margin: 0.25rem 0;
      font-size: $tag-font-size;
      font-family: $body-font;
      -webkit-appearance: caret;
  }

  li.token-input-token-sharedearth {
      overflow: hidden;
      height: auto !important; 
      margin: 0.25rem;
      padding: 0.25rem 0.5rem;
      background-color: $tag-bg;
      color: $tag-fg;
      font-size: $tag-font-size;
      float: left;
      white-space: nowrap;
      cursor: default;
      margin-top: 0.45rem;
  }

  li.token-input-selected-token-sharedearth {
      background-color: $button-bg;
      color: $button-fg;
  }

  li.token-input-token-sharedearth p {
      display: inline;
      padding: 0;
      margin: 0;
      color: $content-fg;
  }

  // The "X" to delete the tag
  li.token-input-token-sharedearth span {
      color: $tag-fg;
      margin-left: 5px;
      font-weight: bold;
      cursor: pointer;
  }

  li.token-input-selected-token-sharedearth span {
    color: $button-fg;
  }
  
  li.token-input-selected-token-sharedearth p
  {
    color: $button-fg;
  }
  

  li.token-input-input-token-sharedearth {
      float: left;
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
}
  
div.token-input-dropdown-sharedearth {
    position: absolute;
    width: auto;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: $dropdown-font-size;
    font-family: $body-font;
    z-index: 1000;
}

div.token-input-dropdown-sharedearth p {
    margin: 0;
    padding: 5px;
    font-weight: 600;
    color: $content-fg;
}

div.token-input-dropdown-sharedearth ul {
    margin: 0;
    padding: 0;
    line-height: 98%;
}

div.token-input-dropdown-sharedearth ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
    font-weight: 400;
    color: $content-fg;
}

div.token-input-dropdown-sharedearth ul li b
{
  font-weight: 600;
}

div.token-input-dropdown-sharedearth ul li.token-input-dropdown-item-sharedearth {
    background-color: #fff;
}

div.token-input-dropdown-sharedearth ul li.token-input-dropdown-item2-sharedearth {
    background-color: #fff;
}

div.token-input-dropdown-sharedearth ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-sharedearth ul li.token-input-selected-dropdown-item-sharedearth {
    background-color: $button-bg;
    color: $button-fg;
}
