// Playground: http://codepen.io/anon/pen/doMGbZ

div.xbutton
{
  position: relative;
  display: inline-block;
 
  div
  {
    transition: 0.2s;
    position: absolute;
    left: 25%;
    top: 43.75%; //calc(50% - 12.5%/2);
    width: 50%;
    height: 12.5%;
    border-radius: 1em; // This will be 100% of the parent size, thus intentionally huge.
  }
  
  div.left
  {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  div.right
  {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

div.xbutton.black
{
  div { background-color: black; }
}

div.xbutton.x
{
  
}

div.xbutton.down
{
  .left
  {
    transform: translate(-26.5%) rotate(45deg);
    -webkit-transform: translate(-26.5%) rotate(45deg);
  }
  .right
  {
    transform: translate(26.5%) rotate(-45deg);
    -webkit-transform: translate(26.5%) rotate(-45deg);
  }
}

div.xbutton.left
{
  .left
  {
    transform: translate(0,106.5%) rotate(45deg);
    -webkit-transform: translate(0,106.5%) rotate(45deg);
  }
  .right
  {
    transform: translate(0,-106.5%) rotate(-45deg);
    -webkit-transform: translate(0,-106.5%) rotate(-45deg);
  }
}

div.xbutton.invisible
{
  div { opacity: 0; }
}