//
// 2015-06-03 Reskin
//

// Defs
$text-fg-color: #6D6360;
$button-fg-color: #FFFFFF;
$button-bg-color: #40C4F2;
$rule-color: #E8E1DD;

body
{
  color: $text-fg-color;
}

// Page body

$page-bg-color: #F4EDE9;

%page-body-color
{
  background-color: $page-bg-color;
}

// Main content area

%main-heading-color
{
  color: $button-fg-color;
  background-color: $button-bg-color;
}

%text-color
{
  color: $text-fg-color;
  background-color: #ffffff;
}

%text-inactive-color
{
  color: #AAA7A7;
}

$rule-color: #E8E1DD;

// Header
%header-color
{
  @extend %text-color; 
}

// Buttons

%button-color
{
  color: $button-fg-color; 
  background-color: $button-bg-color;
  
  // Icon color
  g.monochrome path, rect, circle 
  {
    fill: $button-fg-color;
  }  
}

%subtle-button-color
{
  color: $text-fg-color; 
  background-color: #ffffff;
  
  // Icon color
  g.monochrome path, rect, circle 
  {
    fill: $text-fg-color;
  }  
}


%button-hover-color
{
  color: $button-fg-color;
  background-color: #9DE7F9;
}

// Left-hand side nav (desktop only)

%nav-item-active-color
{
  @extend %button-color; 

  // Icon color
  g.monochrome path, rect, circle 
  {
    fill: $button-fg-color;
  }
}

%nav-item-color
{
  color: $text-fg-color;

  // Icon color
  g.monochrome path, rect, circle 
  {
    fill: $text-fg-color;
  }
}

%nav-item-inactive-color
{
  @extend %nav-item-color;
  background-color: #F9F8F2;
}

%nav-item-hover-color
{
  @extend %nav-item-color;
  background-color: #CCFFF5;
}

%current-user-color
{
  color: $text-fg-color;
}

// Forms
%form-heading-colors
{
  background-color: $page-bg-color;
  color: $text-fg-color;   
}

// Resources
%resources-heading-colors
{
  @extend %form-heading-colors;
}

// Tags
$input-border-color: $rule-color;
$tag-bg: $page-bg-color;
$tag-fg: $text-fg-color;


// Messages

%messages-from-you-color
{
  background-color: #D9F3FC;  // This is not in the style guide
}

%messages-to-you-color
{
  background-color: $page-bg-color;
}


// Profiles
%profile-heading-colors
{
  @extend %form-heading-colors;
}

$self-bg-color: $button-bg-color;

//
// LEGACY - Delete all this!
//


// Main colors
$page-bg:     #E6E7E8;
$page-bg-dk:  mix(#E6E7E8,#000000,95%);

$header-bg:   #797B7D;

$content-bg:  #FFFFFF;
$content-fg:  #797B7D;

$heading-bg:  #F2F2F2; 
$heading-fg:  $content-fg;

$button-bg:   #40C4F2;
$button-fg:   #FFFFFF;

$light-blue:        #9DE7F9;
$light-green:       #9ACA4C;

$dark-blue: #40C4F2;
$dark-green:  #00AB4F;

$link-fg:     #40C4F2;
$link-visited-fg:    #40C4F2;
$link-dk:     mix(#40C4F2,#000000,75%);    

$alert-bg:    #cc0000;      

// Left hand side
$lhs-fg:      #000000;
$lhs-icon-color: $header-bg; // mix(#E6E7E8,#000000,50%); 
$lhs-selected-icon-color: mix($header-bg,#000000,50%); // mix(#E6E7E8,#000000,50%); 

// Buttons
$button-font-weight: 400;

// Tab colors
$tab-bg: $heading-bg;
$tab-fg: $heading-fg;
$selected-tab-bg: $content-bg;
$selected-tab-fg: $content-fg;
