//
// 2015-06-03 Reskin
//

/* Overall page dimensions */
$min-content-width: 960px;
$min-content-height: 500px;

/*  Size of the sidebar and the gap; right columns fill the rest */
$left-column-width: i2b(161.375);
$column-gap: i2b(10);

$button-padding: i2b(8);

%button-spacing
{
  padding: $button-padding;
}

$nav-icon-size: i2b(24);
$nav-padding: i2b(10);

%nav-spacing
{
  padding: $nav-padding;
  margin-bottom: 1rem * 5 / 12;
  
  span.menu-text
  {
    padding-left: $nav-padding / 2;
  }
}

%current-user-spacing
{
  margin-bottom: $column-gap;
  
  *.avatar
  {
    width: i2b(42);
    min-width: i2b(42);
    max-width: i2b(42);
    height: i2b(42);
    border-radius: i2b(42 / 2);
    margin-right: i2b(10);
  }
}

/* Size of border on bottom of page */
$edge-gap: 0.5rem;

/* Top header dimensions */
%header-size
{
  margin: 0 0 $edge-gap 0;
  height: 2.86rem;
  
  > ul
  {
    > li + li
    {
      margin-left: 0.5rem;  
    } 
    
    > li.logo > svg
    {
      width: 32px;
      height: 32px;
    }
  }
}

/* List view */
$list-icon-size: i2b(48);
$list-side-padding: i2b(7);
$list-icon-padding-right: i2b(18.3);
$list-item-height: i2b(90);
$list-button-size: i2b(136.631);
$list-button-gap: i2b(7);
$list-bottom-pushdown: i2b(0);

%list-button-size
{
  width: $list-button-size;
  height: i2b(32.615);
  box-sizing: border-box;
  
  svg
  {
    margin-left: i2b(13 - 16 * (1 - 0.70324) / 2);
    width: i2b(16 / 0.70324);
    margin-right: i2b(10 - 16 * (1 - 0.70324) / 2);
  }
}

/* Map view */

$search-button-gap-map: i2b(9.5);
$search-button-gap-list: i2b(12.5);

%search-button-size
{
  width: i2b(148);
  height: i2b(39.68);
}

%search-options-margins
{
  margin: i2b(12.5) i2b(12.5) 0 0;
}

/* Right side */
$main-padding: i2b(14); 

$main-heading-height: i2b(42.5);
$main-heading-bottom-margin: i2b(12.75);
$main-heading-total-height: $main-heading-height + $main-heading-bottom-margin;  

%main-heading-size
{
  height: $main-heading-height;
  margin-bottom: $main-heading-bottom-margin;
  
  padding-left: i2b(14.75);
  box-sizing: border-box;
}

$form-top-margin: i2b(24);
$form-bottom-margin: i2b(12);

%form-heading-size
{
  padding: i2b(10) 0 i2b(8) i2b(9);
  margin: i2b(24) 0 i2b(12) 0; 
}

// Resources

%resources-heading-size
{
  padding: i2b(10) 0 i2b(8) i2b(9);
  margin: 0 0 i2b(12) 0; 
}

%resource-size
{
  margin: 0 0 i2b(24) 0;
}


// Messages
$messages-gap: i2b(6);
$messages-header-height: i2b(48);
$messages-footer-height: i2b(60);

$messages-button-gap: i2b(6);

%messages-button-size
{
  height: i2b(32.615);
  box-sizing: border-box;
  padding-right: i2b(16);
  margin-bottom: i2b(6);
  
  svg
  {
    margin-left: i2b(13 - 16 * (1 - 0.70324) / 2);
    width: i2b(16 / 0.70324);
    margin-right: i2b(10 - 16 * (1 - 0.70324) / 2);
  }
}

%messages-send-button-size
{
  height: i2b(32.615);
  box-sizing: border-box;
  padding: 0 i2b(16);
  margin-left: $messages-button-gap;
}

// Connections

$connections-avatar-width: i2b(42);
$connections-button-width: i2b(140); 
$connections-relevant-button-width: i2b(100); 
$connections-gap: i2b(20);

%connections-avatar
{
  width: i2b(42);
  min-width: i2b(42);
  max-width: i2b(42);
  height: i2b(42);
  border-radius: i2b(42 / 2);
  margin-right: i2b(10);
}

%connections-button-size
{
  height: i2b(32.615);
  box-sizing: border-box;
  margin-bottom: i2b(6);
  width: $connections-button-width;
  
  svg
  {
    margin-left: i2b(13 - 16 * (1 - 0.70324) / 2);
    width: i2b(16 / 0.70324);
    margin-right: i2b(10 - 16 * (1 - 0.70324) / 2);
  }
  
  span:first-child
  {
    padding-left: i2b(16);
  }
}

$mobile-connections-button-width: i2b(32.615); 

%mobile-connections-button-size
{
  height: i2b(32.615);
  width: i2b(32.615);
  box-sizing: border-box;
  margin-bottom: i2b(6);
  
  svg
  {
    margin-left: i2b(13 - 16 * (1 - 0.70324) / 2);
    width: i2b(16 / 0.70324);
    margin-right: i2b(10 - 16 * (1 - 0.70324) / 2);
  }
  
  span
  {
    display: none;
  }
}


%connections-relevant-button-size
{
  height: i2b(32.615);
  box-sizing: border-box;
  margin-bottom: i2b(6);
  width: $connections-relevant-button-width;
  margin-right: $connections-gap;
  
  svg
  {
    margin-left: i2b(13 - 16 * (1 - 0.70324) / 2);
    width: i2b(16 / 0.70324);
    margin-right: i2b(10 - 16 * (1 - 0.70324) / 2);
  }
}


//
// LEGACY
//

// Padding inside main boxes
$box-padding: 1rem;

// Other padding
$address-list-padding: 0.5rem;
