//
// 2015-06-03 Reskin
//

%heading-font
{
  font-family: 'Slabo 27px', serif;
  font-size: i2b(24);
  letter-spacing: i2bls(23);
}

%subhead-font
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; // 300 is illegible on Windows
  font-size: i2b(14);
  letter-spacing: i2bls(40);
}

%body-font
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; // 300 is illegible on Windows
  font-size: i2b(14);
  letter-spacing: i2bls(40);
}

%header-font
{
  @extend %subhead-font;
}

%button-font
{
  @extend %subhead-font;
}

%nav-font
{
  @extend %subhead-font;
}

%current-user-font
{
  @extend %subhead-font;
}

%no-matches-font
{
  @extend %subhead-font;
}

%list-name-font
{
  font-family: 'Slabo 27px', serif;
  font-size: i2b(20);
  letter-spacing: i2bls(23);
  line-height: i2b(24);
}

%list-detail-font
{
  @extend %body-font;
  font-size: i2b(14);
  line-height: i2b(16.8);
}

%form-heading-font
{
  font-family: 'Slabo 27px', serif;
  font-size: i2b(21.6);
}

// Resources

%resources-heading-font
{
  @extend %form-heading-font;
}

%messages-heading-font
{
  font-family: 'Slabo 27px', serif;
  font-size: i2b(20);
  letter-spacing: i2bls(23);
}


// Connections

%connections-heading-font
{
  @extend %subhead-font;
}

%connections-name-font
{
  @extend %list-name-font;  
}

%connections-type-font
{
  @extend %body-font; 
}



%mobile-header-font
{
  font-family: 'Slabo 27px', serif;
  font-size: i2b(24);
}

%mobile-subheader-font
{
  font-family: 'Slabo 27px', serif;
  font-size: i2b(20);
}


// Profile
%profile-heading-font
{
  @extend %form-heading-font;
}


//
// LEGACY - Delete all this!
//

// Fonts

$body-font: 'Open Sans', sans-serif;
$body-font-weight: 400;

$heading-font: 'Open Sans', sans-serif;
$heading-font-weight: 600;
//$heading-font: 'Open Sans Condensed', sans-serif;
//$heading-font-weight: 700;

$link-font-weight: 600;
$menu-fontweight-selected: 600;

$subhead-font: 'Open Sans', sans-serif;
$subhead-font-weight: 600;


// Font sizes
$h2-font-size: 14pt;
$h4-font-size: 12pt;
$sidebar-font-size: 10pt;
$signout-font-size: 8pt;
$main-font-size: 11pt;
$button-font-size: 12pt;
